.primary {
    color: $primary;
}
.secondary {
    color: $secondary;
}
.tertiary {
    color: $tertiary;
}

// colors
.transparent {
    color: transparent;
}
.white {
    color: $white;
}

.black {
    color: $black;
}
.black-light-100 {
    color: $black-light-100;
}
.black-light-200 {
    color: $black-light-200;
}
.black-light-300 {
    color: $black-light-300;
}
.black-light-400 {
    color: $black-light-400;
}
.black-light-500 {
    color: $black-light-500;
}
.black-light-600 {
    color: $black-light-600;
}

.red {
    color: $red;
}

.red-light-100 {
    color: $red-light-100;
}
.red-light-200 {
    color: $red-light-200;
}
.red-light-300 {
    color: $red-light-300;
}
.red-light-400 {
    color: $red-light-400;
}
.red-light-500 {
    color: $red-light-500;
}
.red-light-600 {
    color: $red-light-600;
}

.red-dark-100 {
    color: $red-dark-100;
}
.red-dark-200 {
    color: $red-dark-200;
}
.red-dark-300 {
    color: $red-dark-300;
}
.red-dark-400 {
    color: $red-dark-400;
}
.red-dark-500 {
    color: $red-dark-500;
}
.red-dark-600 {
    color: $red-dark-600;
}

.blue {
    color: $blue;
}

.blue-light-100 {
    color: $blue-light-100;
}
.blue-light-200 {
    color: $blue-light-200;
}
.blue-light-300 {
    color: $blue-light-300;
}
.blue-light-400 {
    color: $blue-light-400;
}
.blue-light-500 {
    color: $blue-light-500;
}
.blue-light-600 {
    color: $blue-light-600;
}

.blue-dark-100 {
    color: $blue-dark-100;
}
.blue-dark-200 {
    color: $blue-dark-200;
}
.blue-dark-300 {
    color: $blue-dark-300;
}
.blue-dark-400 {
    color: $blue-dark-400;
}
.blue-dark-500 {
    color: $blue-dark-500;
}
.blue-dark-600 {
    color: $blue-dark-600;
}

.brown {
    color: $brown;
}

.brown-light-100 {
    color: $brown-light-100;
}
.brown-light-200 {
    color: $brown-light-200;
}
.brown-light-300 {
    color: $brown-light-300;
}
.brown-light-400 {
    color: $brown-light-400;
}
.brown-light-500 {
    color: $brown-light-500;
}
.brown-light-600 {
    color: $brown-light-600;
}

.brown-dark-100 {
    color: $brown-dark-100;
}
.brown-dark-200 {
    color: $brown-dark-200;
}
.brown-dark-300 {
    color: $brown-dark-300;
}
.brown-dark-400 {
    color: $brown-dark-400;
}
.brown-dark-500 {
    color: $brown-dark-500;
}
.brown-dark-600 {
    color: $brown-dark-600;
}

.gray {
    color: $gray;
}

.gray-light-100 {
    color: $gray-light-100;
}
.gray-light-200 {
    color: $gray-light-200;
}
.gray-light-300 {
    color: $gray-light-300;
}
.gray-light-400 {
    color: $gray-light-400;
}
.gray-light-500 {
    color: $gray-light-500;
}
.gray-light-600 {
    color: $gray-light-600;
}

.gray-dark-100 {
    color: $gray-dark-100;
}
.gray-dark-200 {
    color: $gray-dark-200;
}
.gray-dark-300 {
    color: $gray-dark-300;
}
.gray-dark-400 {
    color: $gray-dark-400;
}
.gray-dark-500 {
    color: $gray-dark-500;
}
.gray-dark-600 {
    color: $gray-dark-600;
}

.green {
    color: $green;
}

.green-light-100 {
    color: $green-light-100;
}
.green-light-200 {
    color: $green-light-200;
}
.green-light-300 {
    color: $green-light-300;
}
.green-light-400 {
    color: $green-light-400;
}
.green-light-500 {
    color: $green-light-500;
}
.green-light-600 {
    color: $green-light-600;
}

.green-dark-100 {
    color: $green-dark-100;
}
.green-dark-200 {
    color: $green-dark-200;
}
.green-dark-300 {
    color: $green-dark-300;
}
.green-dark-400 {
    color: $green-dark-400;
}
.green-dark-500 {
    color: $green-dark-500;
}
.green-dark-600 {
    color: $green-dark-600;
}

.orange {
    color: $orange;
}

.orange-light-100 {
    color: $orange-light-100;
}
.orange-light-200 {
    color: $orange-light-200;
}
.orange-light-300 {
    color: $orange-light-300;
}
.orange-light-400 {
    color: $orange-light-400;
}
.orange-light-500 {
    color: $orange-light-500;
}
.orange-light-600 {
    color: $orange-light-600;
}

.orange-dark-100 {
    color: $orange-dark-100;
}
.orange-dark-200 {
    color: $orange-dark-200;
}
.orange-dark-300 {
    color: $orange-dark-300;
}
.orange-dark-400 {
    color: $orange-dark-400;
}
.orange-dark-500 {
    color: $orange-dark-500;
}
.orange-dark-600 {
    color: $orange-dark-600;
}

.pink {
    color: $pink;
}

.pink-light-100 {
    color: $pink-light-100;
}
.pink-light-200 {
    color: $pink-light-200;
}
.pink-light-300 {
    color: $pink-light-300;
}
.pink-light-400 {
    color: $pink-light-400;
}
.pink-light-500 {
    color: $pink-light-500;
}
.pink-light-600 {
    color: $pink-light-600;
}

.pink-dark-100 {
    color: $pink-dark-100;
}
.pink-dark-200 {
    color: $pink-dark-200;
}
.pink-dark-300 {
    color: $pink-dark-300;
}
.pink-dark-400 {
    color: $pink-dark-400;
}
.pink-dark-500 {
    color: $pink-dark-500;
}
.pink-dark-600 {
    color: $pink-dark-600;
}

.purple {
    color: $purple;
}

.purple-light-100 {
    color: $purple-light-100;
}
.purple-light-200 {
    color: $purple-light-200;
}
.purple-light-300 {
    color: $purple-light-300;
}
.purple-light-400 {
    color: $purple-light-400;
}
.purple-light-500 {
    color: $purple-light-500;
}
.purple-light-600 {
    color: $purple-light-600;
}

.purple-dark-100 {
    color: $purple-dark-100;
}
.purple-dark-200 {
    color: $purple-dark-200;
}
.purple-dark-300 {
    color: $purple-dark-300;
}
.purple-dark-400 {
    color: $purple-dark-400;
}
.purple-dark-500 {
    color: $purple-dark-500;
}
.purple-dark-600 {
    color: $purple-dark-600;
}

.yellow {
    color: $yellow;
}

.yellow-light-100 {
    color: $yellow-light-100;
}
.yellow-light-200 {
    color: $yellow-light-200;
}
.yellow-light-300 {
    color: $yellow-light-300;
}
.yellow-light-400 {
    color: $yellow-light-400;
}
.yellow-light-500 {
    color: $yellow-light-500;
}
.yellow-light-600 {
    color: $yellow-light-600;
}

.yellow-dark-100 {
    color: $yellow-dark-100;
}
.yellow-dark-200 {
    color: $yellow-dark-200;
}
.yellow-dark-300 {
    color: $yellow-dark-300;
}
.yellow-dark-400 {
    color: $yellow-dark-400;
}
.yellow-dark-500 {
    color: $yellow-dark-500;
}
.yellow-dark-600 {
    color: $yellow-dark-600;
}

.ci {
    color: inherit;
}

// BACKGROUND COLORS

.bct {
    background-color: transparent;
}

.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-tertiary {
    background-color: $tertiary;
}

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}
.bg-black-light-100 {
    background-color: $black-light-100;
}
.bg-black-light-200 {
    background-color: $black-light-200;
}
.bg-black-light-300 {
    background-color: $black-light-300;
}
.bg-black-light-400 {
    background-color: $black-light-400;
}
.bg-black-light-500 {
    background-color: $black-light-500;
}
.bg-black-light-600 {
    background-color: $black-light-600;
}

.bg-red {
    background-color: $red;
}
.bg-red-light-100 {
    background-color: $red-light-100;
}
.bg-red-light-200 {
    background-color: $red-light-200;
}
.bg-red-light-300 {
    background-color: $red-light-300;
}
.bg-red-light-400 {
    background-color: $red-light-400;
}
.bg-red-light-500 {
    background-color: $red-light-500;
}
.bg-red-light-600 {
    background-color: $red-light-600;
}

.bg-red-dark-100 {
    background-color: $red-dark-100;
}
.bg-red-dark-200 {
    background-color: $red-dark-200;
}
.bg-red-dark-300 {
    background-color: $red-dark-300;
}
.bg-red-dark-400 {
    background-color: $red-dark-400;
}
.bg-red-dark-500 {
    background-color: $red-dark-500;
}
.bg-red-dark-600 {
    background-color: $red-dark-600;
}

.bg-blue {
    background-color: $blue;
}
.bg-blue-light-100 {
    background-color: $blue-light-100;
}
.bg-blue-light-200 {
    background-color: $blue-light-200;
}
.bg-blue-light-300 {
    background-color: $blue-light-300;
}
.bg-blue-light-400 {
    background-color: $blue-light-400;
}
.bg-blue-light-500 {
    background-color: $blue-light-500;
}
.bg-blue-light-600 {
    background-color: $blue-light-600;
}

.bg-blue-dark-100 {
    background-color: $blue-dark-100;
}
.bg-blue-dark-200 {
    background-color: $blue-dark-200;
}
.bg-blue-dark-300 {
    background-color: $blue-dark-300;
}
.bg-blue-dark-400 {
    background-color: $blue-dark-400;
}
.bg-blue-dark-500 {
    background-color: $blue-dark-500;
}
.bg-blue-dark-600 {
    background-color: $blue-dark-600;
}

.bg-brown {
    background-color: $brown;
}
.bg-brown-light-100 {
    background-color: $brown-light-100;
}
.bg-brown-light-200 {
    background-color: $brown-light-200;
}
.bg-brown-light-300 {
    background-color: $brown-light-300;
}
.bg-brown-light-400 {
    background-color: $brown-light-400;
}
.bg-brown-light-500 {
    background-color: $brown-light-500;
}
.bg-brown-light-600 {
    background-color: $brown-light-600;
}

.bg-brown-dark-100 {
    background-color: $brown-dark-100;
}
.bg-brown-dark-200 {
    background-color: $brown-dark-200;
}
.bg-brown-dark-300 {
    background-color: $brown-dark-300;
}
.bg-brown-dark-400 {
    background-color: $brown-dark-400;
}
.bg-brown-dark-500 {
    background-color: $brown-dark-500;
}
.bg-brown-dark-600 {
    background-color: $brown-dark-600;
}

.bg-gray {
    background-color: $gray;
}
.bg-gray-light-100 {
    background-color: $gray-light-100;
}
.bg-gray-light-200 {
    background-color: $gray-light-200;
}
.bg-gray-light-300 {
    background-color: $gray-light-300;
}
.bg-gray-light-400 {
    background-color: $gray-light-400;
}
.bg-gray-light-500 {
    background-color: $gray-light-500;
}
.bg-gray-light-600 {
    background-color: $gray-light-600;
}

.bg-gray-dark-100 {
    background-color: $gray-dark-100;
}
.bg-gray-dark-200 {
    background-color: $gray-dark-200;
}
.bg-gray-dark-300 {
    background-color: $gray-dark-300;
}
.bg-gray-dark-400 {
    background-color: $gray-dark-400;
}
.bg-gray-dark-500 {
    background-color: $gray-dark-500;
}
.bg-gray-dark-600 {
    background-color: $gray-dark-600;
}

.bg-green {
    background-color: $green;
}
.bg-green-light-100 {
    background-color: $green-light-100;
}
.bg-green-light-200 {
    background-color: $green-light-200;
}
.bg-green-light-300 {
    background-color: $green-light-300;
}
.bg-green-light-400 {
    background-color: $green-light-400;
}
.bg-green-light-500 {
    background-color: $green-light-500;
}
.bg-green-light-600 {
    background-color: $green-light-600;
}

.bg-green-dark-100 {
    background-color: $green-dark-100;
}
.bg-green-dark-200 {
    background-color: $green-dark-200;
}
.bg-green-dark-300 {
    background-color: $green-dark-300;
}
.bg-green-dark-400 {
    background-color: $green-dark-400;
}
.bg-green-dark-500 {
    background-color: $green-dark-500;
}
.bg-green-dark-600 {
    background-color: $green-dark-600;
}

.bg-orange {
    background-color: $orange;
}
.bg-orange-light-100 {
    background-color: $orange-light-100;
}
.bg-orange-light-200 {
    background-color: $orange-light-200;
}
.bg-orange-light-300 {
    background-color: $orange-light-300;
}
.bg-orange-light-400 {
    background-color: $orange-light-400;
}
.bg-orange-light-500 {
    background-color: $orange-light-500;
}
.bg-orange-light-600 {
    background-color: $orange-light-600;
}

.bg-orange-dark-100 {
    background-color: $orange-dark-100;
}
.bg-orange-dark-200 {
    background-color: $orange-dark-200;
}
.bg-orange-dark-300 {
    background-color: $orange-dark-300;
}
.bg-orange-dark-400 {
    background-color: $orange-dark-400;
}
.bg-orange-dark-500 {
    background-color: $orange-dark-500;
}
.bg-orange-dark-600 {
    background-color: $orange-dark-600;
}

.bg-pink {
    background-color: $pink;
}
.bg-pink-light-100 {
    background-color: $pink-light-100;
}
.bg-pink-light-200 {
    background-color: $pink-light-200;
}
.bg-pink-light-300 {
    background-color: $pink-light-300;
}
.bg-pink-light-400 {
    background-color: $pink-light-400;
}
.bg-pink-light-500 {
    background-color: $pink-light-500;
}
.bg-pink-light-600 {
    background-color: $pink-light-600;
}

.bg-pink-dark-100 {
    background-color: $pink-dark-100;
}
.bg-pink-dark-200 {
    background-color: $pink-dark-200;
}
.bg-pink-dark-300 {
    background-color: $pink-dark-300;
}
.bg-pink-dark-400 {
    background-color: $pink-dark-400;
}
.bg-pink-dark-500 {
    background-color: $pink-dark-500;
}
.bg-pink-dark-600 {
    background-color: $pink-dark-600;
}

.bg-purple {
    background-color: $purple;
}
.bg-purple-light-100 {
    background-color: $purple-light-100;
}
.bg-purple-light-200 {
    background-color: $purple-light-200;
}
.bg-purple-light-300 {
    background-color: $purple-light-300;
}
.bg-purple-light-400 {
    background-color: $purple-light-400;
}
.bg-purple-light-500 {
    background-color: $purple-light-500;
}
.bg-purple-light-600 {
    background-color: $purple-light-600;
}

.bg-purple-dark-100 {
    background-color: $purple-dark-100;
}
.bg-purple-dark-200 {
    background-color: $purple-dark-200;
}
.bg-purple-dark-300 {
    background-color: $purple-dark-300;
}
.bg-purple-dark-400 {
    background-color: $purple-dark-400;
}
.bg-purple-dark-500 {
    background-color: $purple-dark-500;
}
.bg-purple-dark-600 {
    background-color: $purple-dark-600;
}

.bg-yellow {
    background-color: $yellow;
}
.bg-yellow-light-100 {
    background-color: $yellow-light-100;
}
.bg-yellow-light-200 {
    background-color: $yellow-light-200;
}
.bg-yellow-light-300 {
    background-color: $yellow-light-300;
}
.bg-yellow-light-400 {
    background-color: $yellow-light-400;
}
.bg-yellow-light-500 {
    background-color: $yellow-light-500;
}
.bg-yellow-light-600 {
    background-color: $yellow-light-600;
}

.bg-yellow-dark-100 {
    background-color: $yellow-dark-100;
}
.bg-yellow-dark-200 {
    background-color: $yellow-dark-200;
}
.bg-yellow-dark-300 {
    background-color: $yellow-dark-300;
}
.bg-yellow-dark-400 {
    background-color: $yellow-dark-400;
}
.bg-yellow-dark-500 {
    background-color: $yellow-dark-500;
}
.bg-yellow-dark-600 {
    background-color: $yellow-dark-600;
}

// HOVER COLORS

.hover-primary {
    &:hover {
        color: $primary;
    }
}
.hover-secondary {
    &:hover {
        color: $secondary;
    }
}
.hover-tertiary {
    &:hover {
        color: $tertiary;
    }
}

.hover-white {
    &:hover {
        color: $white;
    }
}
.hover-black {
    &:hover {
        color: $black;
    }
}
.hover-black-light-100 {
    &:hover {
        color: $black-light-100;
    }
}
.hover-black-light-200 {
    &:hover {
        color: $black-light-200;
    }
}
.hover-black-light-300 {
    &:hover {
        color: $black-light-300;
    }
}
.hover-black-light-400 {
    &:hover {
        color: $black-light-400;
    }
}
.hover-black-light-500 {
    &:hover {
        color: $black-light-500;
    }
}
.hover-black-light-600 {
    &:hover {
        color: $black-light-600;
    }
}

.hover-red {
    &:hover {
        color: $red;
    }
}
.hover-red-light-100 {
    &:hover {
        color: $red-light-100;
    }
}
.hover-red-light-200 {
    &:hover {
        color: $red-light-200;
    }
}
.hover-red-light-300 {
    &:hover {
        color: $red-light-300;
    }
}
.hover-red-light-400 {
    &:hover {
        color: $red-light-400;
    }
}
.hover-red-light-500 {
    &:hover {
        color: $red-light-500;
    }
}
.hover-red-light-600 {
    &:hover {
        color: $red-light-600;
    }
}

.hover-red-dark-100 {
    &:hover {
        color: $red-dark-100;
    }
}
.hover-red-dark-200 {
    &:hover {
        color: $red-dark-200;
    }
}
.hover-red-dark-300 {
    &:hover {
        color: $red-dark-300;
    }
}
.hover-red-dark-400 {
    &:hover {
        color: $red-dark-400;
    }
}
.hover-red-dark-500 {
    &:hover {
        color: $red-dark-500;
    }
}
.hover-red-dark-600 {
    &:hover {
        color: $red-dark-600;
    }
}

.hover-blue {
    &:hover {
        color: $blue;
    }
}
.hover-blue-light-100 {
    &:hover {
        color: $blue-light-100;
    }
}
.hover-blue-light-200 {
    &:hover {
        color: $blue-light-200;
    }
}
.hover-blue-light-300 {
    &:hover {
        color: $blue-light-300;
    }
}
.hover-blue-light-400 {
    &:hover {
        color: $blue-light-400;
    }
}
.hover-blue-light-500 {
    &:hover {
        color: $blue-light-500;
    }
}
.hover-blue-light-600 {
    &:hover {
        color: $blue-light-600;
    }
}

.hover-blue-dark-100 {
    &:hover {
        color: $blue-dark-100;
    }
}
.hover-blue-dark-200 {
    &:hover {
        color: $blue-dark-200;
    }
}
.hover-blue-dark-300 {
    &:hover {
        color: $blue-dark-300;
    }
}
.hover-blue-dark-400 {
    &:hover {
        color: $blue-dark-400;
    }
}
.hover-blue-dark-500 {
    &:hover {
        color: $blue-dark-500;
    }
}
.hover-blue-dark-600 {
    &:hover {
        color: $blue-dark-600;
    }
}

.hover-brown {
    &:hover {
        color: $brown;
    }
}
.hover-brown-light-100 {
    &:hover {
        color: $brown-light-100;
    }
}
.hover-brown-light-200 {
    &:hover {
        color: $brown-light-200;
    }
}
.hover-brown-light-300 {
    &:hover {
        color: $brown-light-300;
    }
}
.hover-brown-light-400 {
    &:hover {
        color: $brown-light-400;
    }
}
.hover-brown-light-500 {
    &:hover {
        color: $brown-light-500;
    }
}
.hover-brown-light-600 {
    &:hover {
        color: $brown-light-600;
    }
}

.hover-brown-dark-100 {
    &:hover {
        color: $brown-dark-100;
    }
}
.hover-brown-dark-200 {
    &:hover {
        color: $brown-dark-200;
    }
}
.hover-brown-dark-300 {
    &:hover {
        color: $brown-dark-300;
    }
}
.hover-brown-dark-400 {
    &:hover {
        color: $brown-dark-400;
    }
}
.hover-brown-dark-500 {
    &:hover {
        color: $brown-dark-500;
    }
}
.hover-brown-dark-600 {
    &:hover {
        color: $brown-dark-600;
    }
}

.hover-gray {
    &:hover {
        color: $gray;
    }
}
.hover-gray-light-100 {
    &:hover {
        color: $gray-light-100;
    }
}
.hover-gray-light-200 {
    &:hover {
        color: $gray-light-200;
    }
}
.hover-gray-light-300 {
    &:hover {
        color: $gray-light-300;
    }
}
.hover-gray-light-400 {
    &:hover {
        color: $gray-light-400;
    }
}
.hover-gray-light-500 {
    &:hover {
        color: $gray-light-500;
    }
}
.hover-gray-light-600 {
    &:hover {
        color: $gray-light-600;
    }
}

.hover-gray-dark-100 {
    &:hover {
        color: $gray-dark-100;
    }
}
.hover-gray-dark-200 {
    &:hover {
        color: $gray-dark-200;
    }
}
.hover-gray-dark-300 {
    &:hover {
        color: $gray-dark-300;
    }
}
.hover-gray-dark-400 {
    &:hover {
        color: $gray-dark-400;
    }
}
.hover-gray-dark-500 {
    &:hover {
        color: $gray-dark-500;
    }
}
.hover-gray-dark-600 {
    &:hover {
        color: $gray-dark-600;
    }
}

.hover-green {
    &:hover {
        color: $green;
    }
}
.hover-green-light-100 {
    &:hover {
        color: $green-light-100;
    }
}
.hover-green-light-200 {
    &:hover {
        color: $green-light-200;
    }
}
.hover-green-light-300 {
    &:hover {
        color: $green-light-300;
    }
}
.hover-green-light-400 {
    &:hover {
        color: $green-light-400;
    }
}
.hover-green-light-500 {
    &:hover {
        color: $green-light-500;
    }
}
.hover-green-light-600 {
    &:hover {
        color: $green-light-600;
    }
}

.hover-green-dark-100 {
    &:hover {
        color: $green-dark-100;
    }
}
.hover-green-dark-200 {
    &:hover {
        color: $green-dark-200;
    }
}
.hover-green-dark-300 {
    &:hover {
        color: $green-dark-300;
    }
}
.hover-green-dark-400 {
    &:hover {
        color: $green-dark-400;
    }
}
.hover-green-dark-500 {
    &:hover {
        color: $green-dark-500;
    }
}
.hover-green-dark-600 {
    &:hover {
        color: $green-dark-600;
    }
}

.hover-orange {
    &:hover {
        color: $orange;
    }
}
.hover-orange-light-100 {
    &:hover {
        color: $orange-light-100;
    }
}
.hover-orange-light-200 {
    &:hover {
        color: $orange-light-200;
    }
}
.hover-orange-light-300 {
    &:hover {
        color: $orange-light-300;
    }
}
.hover-orange-light-400 {
    &:hover {
        color: $orange-light-400;
    }
}
.hover-orange-light-500 {
    &:hover {
        color: $orange-light-500;
    }
}
.hover-orange-light-600 {
    &:hover {
        color: $orange-light-600;
    }
}

.hover-orange-dark-100 {
    &:hover {
        color: $orange-dark-100;
    }
}
.hover-orange-dark-200 {
    &:hover {
        color: $orange-dark-200;
    }
}
.hover-orange-dark-300 {
    &:hover {
        color: $orange-dark-300;
    }
}
.hover-orange-dark-400 {
    &:hover {
        color: $orange-dark-400;
    }
}
.hover-orange-dark-500 {
    &:hover {
        color: $orange-dark-500;
    }
}
.hover-orange-dark-600 {
    &:hover {
        color: $orange-dark-600;
    }
}

.hover-pink {
    &:hover {
        color: $pink;
    }
}
.hover-pink-light-100 {
    &:hover {
        color: $pink-light-100;
    }
}
.hover-pink-light-200 {
    &:hover {
        color: $pink-light-200;
    }
}
.hover-pink-light-300 {
    &:hover {
        color: $pink-light-300;
    }
}
.hover-pink-light-400 {
    &:hover {
        color: $pink-light-400;
    }
}
.hover-pink-light-500 {
    &:hover {
        color: $pink-light-500;
    }
}
.hover-pink-light-600 {
    &:hover {
        color: $pink-light-600;
    }
}

.hover-pink-dark-100 {
    &:hover {
        color: $pink-dark-100;
    }
}
.hover-pink-dark-200 {
    &:hover {
        color: $pink-dark-200;
    }
}
.hover-pink-dark-300 {
    &:hover {
        color: $pink-dark-300;
    }
}
.hover-pink-dark-400 {
    &:hover {
        color: $pink-dark-400;
    }
}
.hover-pink-dark-500 {
    &:hover {
        color: $pink-dark-500;
    }
}
.hover-pink-dark-600 {
    &:hover {
        color: $pink-dark-600;
    }
}

.hover-purple {
    &:hover {
        color: $purple;
    }
}
.hover-purple-light-100 {
    &:hover {
        color: $purple-light-100;
    }
}
.hover-purple-light-200 {
    &:hover {
        color: $purple-light-200;
    }
}
.hover-purple-light-300 {
    &:hover {
        color: $purple-light-300;
    }
}
.hover-purple-light-400 {
    &:hover {
        color: $purple-light-400;
    }
}
.hover-purple-light-500 {
    &:hover {
        color: $purple-light-500;
    }
}
.hover-purple-light-600 {
    &:hover {
        color: $purple-light-600;
    }
}

.hover-purple-dark-100 {
    &:hover {
        color: $purple-dark-100;
    }
}
.hover-purple-dark-200 {
    &:hover {
        color: $purple-dark-200;
    }
}
.hover-purple-dark-300 {
    &:hover {
        color: $purple-dark-300;
    }
}
.hover-purple-dark-400 {
    &:hover {
        color: $purple-dark-400;
    }
}
.hover-purple-dark-500 {
    &:hover {
        color: $purple-dark-500;
    }
}
.hover-purple-dark-600 {
    &:hover {
        color: $purple-dark-600;
    }
}

.hover-yellow {
    &:hover {
        color: $yellow;
    }
}
.hover-yellow-light-100 {
    &:hover {
        color: $yellow-light-100;
    }
}
.hover-yellow-light-200 {
    &:hover {
        color: $yellow-light-200;
    }
}
.hover-yellow-light-300 {
    &:hover {
        color: $yellow-light-300;
    }
}
.hover-yellow-light-400 {
    &:hover {
        color: $yellow-light-400;
    }
}
.hover-yellow-light-500 {
    &:hover {
        color: $yellow-light-500;
    }
}
.hover-yellow-light-600 {
    &:hover {
        color: $yellow-light-600;
    }
}

.hover-yellow-dark-100 {
    &:hover {
        color: $yellow-dark-100;
    }
}
.hover-yellow-dark-200 {
    &:hover {
        color: $yellow-dark-200;
    }
}
.hover-yellow-dark-300 {
    &:hover {
        color: $yellow-dark-300;
    }
}
.hover-yellow-dark-400 {
    &:hover {
        color: $yellow-dark-400;
    }
}
.hover-yellow-dark-500 {
    &:hover {
        color: $yellow-dark-500;
    }
}
.hover-yellow-dark-600 {
    &:hover {
        color: $yellow-dark-600;
    }
}

// HOVER BACKGROUND COLORS

.hover-bg-primary {
    &:hover {
        background-color: $primary;
    }
}
.hover-bg-secondary {
    &:hover {
        background-color: $secondary;
    }
}
.hover-bg-tertiary {
    &:hover {
        background-color: $tertiary;
    }
}

.hover-bg-white {
    &:hover {
        background-color: $white;
    }
}

.hover-bg-black {
    &:hover {
        background-color: $black;
    }
}
.hover-bg-black-light-100 {
    &:hover {
        background-color: $black-light-100;
    }
}
.hover-bg-black-light-200 {
    &:hover {
        background-color: $black-light-200;
    }
}
.hover-bg-black-light-300 {
    &:hover {
        background-color: $black-light-300;
    }
}
.hover-bg-black-light-400 {
    &:hover {
        background-color: $black-light-400;
    }
}
.hover-bg-black-light-500 {
    &:hover {
        background-color: $black-light-500;
    }
}
.hover-bg-black-light-600 {
    &:hover {
        background-color: $black-light-600;
    }
}

.hover-bg-red {
    &:hover {
        background-color: $red;
    }
}
.hover-bg-red-light-100 {
    &:hover {
        background-color: $red-light-100;
    }
}
.hover-bg-red-light-200 {
    &:hover {
        background-color: $red-light-200;
    }
}
.hover-bg-red-light-300 {
    &:hover {
        background-color: $red-light-300;
    }
}
.hover-bg-red-light-400 {
    &:hover {
        background-color: $red-light-400;
    }
}
.hover-bg-red-light-500 {
    &:hover {
        background-color: $red-light-500;
    }
}
.hover-bg-red-light-600 {
    &:hover {
        background-color: $red-light-600;
    }
}

.hover-bg-red-dark-100 {
    &:hover {
        background-color: $red-dark-100;
    }
}
.hover-bg-red-dark-200 {
    &:hover {
        background-color: $red-dark-200;
    }
}
.hover-bg-red-dark-300 {
    &:hover {
        background-color: $red-dark-300;
    }
}
.hover-bg-red-dark-400 {
    &:hover {
        background-color: $red-dark-400;
    }
}
.hover-bg-red-dark-500 {
    &:hover {
        background-color: $red-dark-500;
    }
}
.hover-bg-red-dark-600 {
    &:hover {
        background-color: $red-dark-600;
    }
}

.hover-bg-blue {
    &:hover {
        background-color: $blue;
    }
}
.hover-bg-blue-light-100 {
    &:hover {
        background-color: $blue-light-100;
    }
}
.hover-bg-blue-light-200 {
    &:hover {
        background-color: $blue-light-200;
    }
}
.hover-bg-blue-light-300 {
    &:hover {
        background-color: $blue-light-300;
    }
}
.hover-bg-blue-light-400 {
    &:hover {
        background-color: $blue-light-400;
    }
}
.hover-bg-blue-light-500 {
    &:hover {
        background-color: $blue-light-500;
    }
}
.hover-bg-blue-light-600 {
    &:hover {
        background-color: $blue-light-600;
    }
}

.hover-bg-blue-dark-100 {
    &:hover {
        background-color: $blue-dark-100;
    }
}
.hover-bg-blue-dark-200 {
    &:hover {
        background-color: $blue-dark-200;
    }
}
.hover-bg-blue-dark-300 {
    &:hover {
        background-color: $blue-dark-300;
    }
}
.hover-bg-blue-dark-400 {
    &:hover {
        background-color: $blue-dark-400;
    }
}
.hover-bg-blue-dark-500 {
    &:hover {
        background-color: $blue-dark-500;
    }
}
.hover-bg-blue-dark-600 {
    &:hover {
        background-color: $blue-dark-600;
    }
}

.hover-bg-brown {
    &:hover {
        background-color: $brown;
    }
}
.hover-bg-brown-light-100 {
    &:hover {
        background-color: $brown-light-100;
    }
}
.hover-bg-brown-light-200 {
    &:hover {
        background-color: $brown-light-200;
    }
}
.hover-bg-brown-light-300 {
    &:hover {
        background-color: $brown-light-300;
    }
}
.hover-bg-brown-light-400 {
    &:hover {
        background-color: $brown-light-400;
    }
}
.hover-bg-brown-light-500 {
    &:hover {
        background-color: $brown-light-500;
    }
}
.hover-bg-brown-light-600 {
    &:hover {
        background-color: $brown-light-600;
    }
}

.hover-bg-brown-dark-100 {
    &:hover {
        background-color: $brown-dark-100;
    }
}
.hover-bg-brown-dark-200 {
    &:hover {
        background-color: $brown-dark-200;
    }
}
.hover-bg-brown-dark-300 {
    &:hover {
        background-color: $brown-dark-300;
    }
}
.hover-bg-brown-dark-400 {
    &:hover {
        background-color: $brown-dark-400;
    }
}
.hover-bg-brown-dark-500 {
    &:hover {
        background-color: $brown-dark-500;
    }
}
.hover-bg-brown-dark-600 {
    &:hover {
        background-color: $brown-dark-600;
    }
}

.hover-bg-gray {
    &:hover {
        background-color: $gray;
    }
}
.hover-bg-gray-light-100 {
    &:hover {
        background-color: $gray-light-100;
    }
}
.hover-bg-gray-light-200 {
    &:hover {
        background-color: $gray-light-200;
    }
}
.hover-bg-gray-light-300 {
    &:hover {
        background-color: $gray-light-300;
    }
}
.hover-bg-gray-light-400 {
    &:hover {
        background-color: $gray-light-400;
    }
}
.hover-bg-gray-light-500 {
    &:hover {
        background-color: $gray-light-500;
    }
}
.hover-bg-gray-light-600 {
    &:hover {
        background-color: $gray-light-600;
    }
}

.hover-bg-gray-dark-100 {
    &:hover {
        background-color: $gray-dark-100;
    }
}
.hover-bg-gray-dark-200 {
    &:hover {
        background-color: $gray-dark-200;
    }
}
.hover-bg-gray-dark-300 {
    &:hover {
        background-color: $gray-dark-300;
    }
}
.hover-bg-gray-dark-400 {
    &:hover {
        background-color: $gray-dark-400;
    }
}
.hover-bg-gray-dark-500 {
    &:hover {
        background-color: $gray-dark-500;
    }
}
.hover-bg-gray-dark-600 {
    &:hover {
        background-color: $gray-dark-600;
    }
}

.hover-bg-green {
    &:hover {
        background-color: $green;
    }
}
.hover-bg-green-light-100 {
    &:hover {
        background-color: $green-light-100;
    }
}
.hover-bg-green-light-200 {
    &:hover {
        background-color: $green-light-200;
    }
}
.hover-bg-green-light-300 {
    &:hover {
        background-color: $green-light-300;
    }
}
.hover-bg-green-light-400 {
    &:hover {
        background-color: $green-light-400;
    }
}
.hover-bg-green-light-500 {
    &:hover {
        background-color: $green-light-500;
    }
}
.hover-bg-green-light-600 {
    &:hover {
        background-color: $green-light-600;
    }
}

.hover-bg-green-dark-100 {
    &:hover {
        background-color: $green-dark-100;
    }
}
.hover-bg-green-dark-200 {
    &:hover {
        background-color: $green-dark-200;
    }
}
.hover-bg-green-dark-300 {
    &:hover {
        background-color: $green-dark-300;
    }
}
.hover-bg-green-dark-400 {
    &:hover {
        background-color: $green-dark-400;
    }
}
.hover-bg-green-dark-500 {
    &:hover {
        background-color: $green-dark-500;
    }
}
.hover-bg-green-dark-600 {
    &:hover {
        background-color: $green-dark-600;
    }
}

.hover-bg-orange {
    &:hover {
        background-color: $orange;
    }
}
.hover-bg-orange-light-100 {
    &:hover {
        background-color: $orange-light-100;
    }
}
.hover-bg-orange-light-200 {
    &:hover {
        background-color: $orange-light-200;
    }
}
.hover-bg-orange-light-300 {
    &:hover {
        background-color: $orange-light-300;
    }
}
.hover-bg-orange-light-400 {
    &:hover {
        background-color: $orange-light-400;
    }
}
.hover-bg-orange-light-500 {
    &:hover {
        background-color: $orange-light-500;
    }
}
.hover-bg-orange-light-600 {
    &:hover {
        background-color: $orange-light-600;
    }
}

.hover-bg-orange-dark-100 {
    &:hover {
        background-color: $orange-dark-100;
    }
}
.hover-bg-orange-dark-200 {
    &:hover {
        background-color: $orange-dark-200;
    }
}
.hover-bg-orange-dark-300 {
    &:hover {
        background-color: $orange-dark-300;
    }
}
.hover-bg-orange-dark-400 {
    &:hover {
        background-color: $orange-dark-400;
    }
}
.hover-bg-orange-dark-500 {
    &:hover {
        background-color: $orange-dark-500;
    }
}
.hover-bg-orange-dark-600 {
    &:hover {
        background-color: $orange-dark-600;
    }
}

.hover-bg-pink {
    &:hover {
        background-color: $pink;
    }
}
.hover-bg-pink-light-100 {
    &:hover {
        background-color: $pink-light-100;
    }
}
.hover-bg-pink-light-200 {
    &:hover {
        background-color: $pink-light-200;
    }
}
.hover-bg-pink-light-300 {
    &:hover {
        background-color: $pink-light-300;
    }
}
.hover-bg-pink-light-400 {
    &:hover {
        background-color: $pink-light-400;
    }
}
.hover-bg-pink-light-500 {
    &:hover {
        background-color: $pink-light-500;
    }
}
.hover-bg-pink-light-600 {
    &:hover {
        background-color: $pink-light-600;
    }
}

.hover-bg-pink-dark-100 {
    &:hover {
        background-color: $pink-dark-100;
    }
}
.hover-bg-pink-dark-200 {
    &:hover {
        background-color: $pink-dark-200;
    }
}
.hover-bg-pink-dark-300 {
    &:hover {
        background-color: $pink-dark-300;
    }
}
.hover-bg-pink-dark-400 {
    &:hover {
        background-color: $pink-dark-400;
    }
}
.hover-bg-pink-dark-500 {
    &:hover {
        background-color: $pink-dark-500;
    }
}
.hover-bg-pink-dark-600 {
    &:hover {
        background-color: $pink-dark-600;
    }
}

.hover-bg-purple {
    &:hover {
        background-color: $purple;
    }
}
.hover-bg-purple-light-100 {
    &:hover {
        background-color: $purple-light-100;
    }
}
.hover-bg-purple-light-200 {
    &:hover {
        background-color: $purple-light-200;
    }
}
.hover-bg-purple-light-300 {
    &:hover {
        background-color: $purple-light-300;
    }
}
.hover-bg-purple-light-400 {
    &:hover {
        background-color: $purple-light-400;
    }
}
.hover-bg-purple-light-500 {
    &:hover {
        background-color: $purple-light-500;
    }
}
.hover-bg-purple-light-600 {
    &:hover {
        background-color: $purple-light-600;
    }
}

.hover-bg-purple-dark-100 {
    &:hover {
        background-color: $purple-dark-100;
    }
}
.hover-bg-purple-dark-200 {
    &:hover {
        background-color: $purple-dark-200;
    }
}
.hover-bg-purple-dark-300 {
    &:hover {
        background-color: $purple-dark-300;
    }
}
.hover-bg-purple-dark-400 {
    &:hover {
        background-color: $purple-dark-400;
    }
}
.hover-bg-purple-dark-500 {
    &:hover {
        background-color: $purple-dark-500;
    }
}
.hover-bg-purple-dark-600 {
    &:hover {
        background-color: $purple-dark-600;
    }
}

.hover-bg-yellow {
    &:hover {
        background-color: $yellow;
    }
}
.hover-bg-yellow-light-100 {
    &:hover {
        background-color: $yellow-light-100;
    }
}
.hover-bg-yellow-light-200 {
    &:hover {
        background-color: $yellow-light-200;
    }
}
.hover-bg-yellow-light-300 {
    &:hover {
        background-color: $yellow-light-300;
    }
}
.hover-bg-yellow-light-400 {
    &:hover {
        background-color: $yellow-light-400;
    }
}
.hover-bg-yellow-light-500 {
    &:hover {
        background-color: $yellow-light-500;
    }
}
.hover-bg-yellow-light-600 {
    &:hover {
        background-color: $yellow-light-600;
    }
}

.hover-bg-yellow-dark-100 {
    &:hover {
        background-color: $yellow-dark-100;
    }
}
.hover-bg-yellow-dark-200 {
    &:hover {
        background-color: $yellow-dark-200;
    }
}
.hover-bg-yellow-dark-300 {
    &:hover {
        background-color: $yellow-dark-300;
    }
}
.hover-bg-yellow-dark-400 {
    &:hover {
        background-color: $yellow-dark-400;
    }
}
.hover-bg-yellow-dark-500 {
    &:hover {
        background-color: $yellow-dark-500;
    }
}
.hover-bg-yellow-dark-600 {
    &:hover {
        background-color: $yellow-dark-600;
    }
}

// BORDER COLORS

.bc-inherit {
    border-color: inherit;
}

.bc-primary {
    border-color: $primary;
}
.bc-secondary {
    border-color: $secondary;
}
.bc-tertiary {
    border-color: $tertiary;
}

.bc-white {
    border-color: $white;
}

.bc-black {
    border-color: $black;
}

.bc-black-light-100 {
    border-color: $black-light-100;
}
.bc-black-light-200 {
    border-color: $black-light-200;
}
.bc-black-light-300 {
    border-color: $black-light-300;
}
.bc-black-light-400 {
    border-color: $black-light-400;
}
.bc-black-light-500 {
    border-color: $black-light-500;
}
.bc-black-light-600 {
    border-color: $black-light-600;
}

.bc-red {
    border-color: $red;
}

.bc-red-light-100 {
    border-color: $red-light-100;
}
.bc-red-light-200 {
    border-color: $red-light-200;
}
.bc-red-light-300 {
    border-color: $red-light-300;
}
.bc-red-light-400 {
    border-color: $red-light-400;
}
.bc-red-light-500 {
    border-color: $red-light-500;
}
.bc-red-light-600 {
    border-color: $red-light-600;
}

.bc-red-dark-100 {
    border-color: $red-dark-100;
}
.bc-red-dark-200 {
    border-color: $red-dark-200;
}
.bc-red-dark-300 {
    border-color: $red-dark-300;
}
.bc-red-dark-400 {
    border-color: $red-dark-400;
}
.bc-red-dark-500 {
    border-color: $red-dark-500;
}
.bc-red-dark-600 {
    border-color: $red-dark-600;
}

.bc-blue {
    border-color: $blue;
}

.bc-blue-light-100 {
    border-color: $blue-light-100;
}
.bc-blue-light-200 {
    border-color: $blue-light-200;
}
.bc-blue-light-300 {
    border-color: $blue-light-300;
}
.bc-blue-light-400 {
    border-color: $blue-light-400;
}
.bc-blue-light-500 {
    border-color: $blue-light-500;
}
.bc-blue-light-600 {
    border-color: $blue-light-600;
}

.bc-blue-dark-100 {
    border-color: $blue-dark-100;
}
.bc-blue-dark-200 {
    border-color: $blue-dark-200;
}
.bc-blue-dark-300 {
    border-color: $blue-dark-300;
}
.bc-blue-dark-400 {
    border-color: $blue-dark-400;
}
.bc-blue-dark-500 {
    border-color: $blue-dark-500;
}
.bc-blue-dark-600 {
    border-color: $blue-dark-600;
}

.bc-brown {
    border-color: $brown;
}

.bc-brown-light-100 {
    border-color: $brown-light-100;
}
.bc-brown-light-200 {
    border-color: $brown-light-200;
}
.bc-brown-light-300 {
    border-color: $brown-light-300;
}
.bc-brown-light-400 {
    border-color: $brown-light-400;
}
.bc-brown-light-500 {
    border-color: $brown-light-500;
}
.bc-brown-light-600 {
    border-color: $brown-light-600;
}

.bc-brown-dark-100 {
    border-color: $brown-dark-100;
}
.bc-brown-dark-200 {
    border-color: $brown-dark-200;
}
.bc-brown-dark-300 {
    border-color: $brown-dark-300;
}
.bc-brown-dark-400 {
    border-color: $brown-dark-400;
}
.bc-brown-dark-500 {
    border-color: $brown-dark-500;
}
.bc-brown-dark-600 {
    border-color: $brown-dark-600;
}

.bc-gray {
    border-color: $gray;
}

.bc-gray-light-100 {
    border-color: $gray-light-100;
}
.bc-gray-light-200 {
    border-color: $gray-light-200;
}
.bc-gray-light-300 {
    border-color: $gray-light-300;
}
.bc-gray-light-400 {
    border-color: $gray-light-400;
}
.bc-gray-light-500 {
    border-color: $gray-light-500;
}
.bc-gray-light-600 {
    border-color: $gray-light-600;
}

.bc-gray-dark-100 {
    border-color: $gray-dark-100;
}
.bc-gray-dark-200 {
    border-color: $gray-dark-200;
}
.bc-gray-dark-300 {
    border-color: $gray-dark-300;
}
.bc-gray-dark-400 {
    border-color: $gray-dark-400;
}
.bc-gray-dark-500 {
    border-color: $gray-dark-500;
}
.bc-gray-dark-600 {
    border-color: $gray-dark-600;
}

.bc-green {
    border-color: $green;
}

.bc-green-light-100 {
    border-color: $green-light-100;
}
.bc-green-light-200 {
    border-color: $green-light-200;
}
.bc-green-light-300 {
    border-color: $green-light-300;
}
.bc-green-light-400 {
    border-color: $green-light-400;
}
.bc-green-light-500 {
    border-color: $green-light-500;
}
.bc-green-light-600 {
    border-color: $green-light-600;
}

.bc-green-dark-100 {
    border-color: $green-dark-100;
}
.bc-green-dark-200 {
    border-color: $green-dark-200;
}
.bc-green-dark-300 {
    border-color: $green-dark-300;
}
.bc-green-dark-400 {
    border-color: $green-dark-400;
}
.bc-green-dark-500 {
    border-color: $green-dark-500;
}
.bc-green-dark-600 {
    border-color: $green-dark-600;
}

.bc-orange {
    border-color: $orange;
}

.bc-orange-light-100 {
    border-color: $orange-light-100;
}
.bc-orange-light-200 {
    border-color: $orange-light-200;
}
.bc-orange-light-300 {
    border-color: $orange-light-300;
}
.bc-orange-light-400 {
    border-color: $orange-light-400;
}
.bc-orange-light-500 {
    border-color: $orange-light-500;
}
.bc-orange-light-600 {
    border-color: $orange-light-600;
}

.bc-orange-dark-100 {
    border-color: $orange-dark-100;
}
.bc-orange-dark-200 {
    border-color: $orange-dark-200;
}
.bc-orange-dark-300 {
    border-color: $orange-dark-300;
}
.bc-orange-dark-400 {
    border-color: $orange-dark-400;
}
.bc-orange-dark-500 {
    border-color: $orange-dark-500;
}
.bc-orange-dark-600 {
    border-color: $orange-dark-600;
}

.bc-pink {
    border-color: $pink;
}

.bc-pink-light-100 {
    border-color: $pink-light-100;
}
.bc-pink-light-200 {
    border-color: $pink-light-200;
}
.bc-pink-light-300 {
    border-color: $pink-light-300;
}
.bc-pink-light-400 {
    border-color: $pink-light-400;
}
.bc-pink-light-500 {
    border-color: $pink-light-500;
}
.bc-pink-light-600 {
    border-color: $pink-light-600;
}

.bc-pink-dark-100 {
    border-color: $pink-dark-100;
}
.bc-pink-dark-200 {
    border-color: $pink-dark-200;
}
.bc-pink-dark-300 {
    border-color: $pink-dark-300;
}
.bc-pink-dark-400 {
    border-color: $pink-dark-400;
}
.bc-pink-dark-500 {
    border-color: $pink-dark-500;
}
.bc-pink-dark-600 {
    border-color: $pink-dark-600;
}

.bc-purple {
    border-color: $purple;
}

.bc-purple-light-100 {
    border-color: $purple-light-100;
}
.bc-purple-light-200 {
    border-color: $purple-light-200;
}
.bc-purple-light-300 {
    border-color: $purple-light-300;
}
.bc-purple-light-400 {
    border-color: $purple-light-400;
}
.bc-purple-light-500 {
    border-color: $purple-light-500;
}
.bc-purple-light-600 {
    border-color: $purple-light-600;
}

.bc-purple-dark-100 {
    border-color: $purple-dark-100;
}
.bc-purple-dark-200 {
    border-color: $purple-dark-200;
}
.bc-purple-dark-300 {
    border-color: $purple-dark-300;
}
.bc-purple-dark-400 {
    border-color: $purple-dark-400;
}
.bc-purple-dark-500 {
    border-color: $purple-dark-500;
}
.bc-purple-dark-600 {
    border-color: $purple-dark-600;
}

.bc-yellow {
    border-color: $yellow;
}

.bc-yellow-light-100 {
    border-color: $yellow-light-100;
}
.bc-yellow-light-200 {
    border-color: $yellow-light-200;
}
.bc-yellow-light-300 {
    border-color: $yellow-light-300;
}
.bc-yellow-light-400 {
    border-color: $yellow-light-400;
}
.bc-yellow-light-500 {
    border-color: $yellow-light-500;
}
.bc-yellow-light-600 {
    border-color: $yellow-light-600;
}

.bc-yellow-dark-100 {
    border-color: $yellow-dark-100;
}
.bc-yellow-dark-200 {
    border-color: $yellow-dark-200;
}
.bc-yellow-dark-300 {
    border-color: $yellow-dark-300;
}
.bc-yellow-dark-400 {
    border-color: $yellow-dark-400;
}
.bc-yellow-dark-500 {
    border-color: $yellow-dark-500;
}
.bc-yellow-dark-600 {
    border-color: $yellow-dark-600;
}

// PLACEHOLDER COLOR

.placeholder-primary-color::placeholder {
    color: var(--primary-color);
}
.placeholder-secondary-color::placeholder {
    color: var(--secondary-color);
}
.placeholder-tertiary-color::placeholder {
    color: var(--tertiary-color);
}

.placeholder-black::placeholder {
    color: $black;
}

.placeholder-black-light-100::placeholder {
    color: $black-light-100;
}
.placeholder-black-light-200::placeholder {
    color: $black-light-200;
}
.placeholder-black-light-300::placeholder {
    color: $black-light-300;
}
.placeholder-black-light-400::placeholder {
    color: $black-light-400;
}
.placeholder-black-light-500::placeholder {
    color: $black-light-500;
}
.placeholder-black-light-600::placeholder {
    color: $black-light-600;
}

.placeholder-red::placeholder {
    color: $red;
}

.placeholder-red-light-100::placeholder {
    color: $red-light-100;
}
.placeholder-red-light-200::placeholder {
    color: $red-light-200;
}
.placeholder-red-light-300::placeholder {
    color: $red-light-300;
}
.placeholder-red-light-400::placeholder {
    color: $red-light-400;
}
.placeholder-red-light-500::placeholder {
    color: $red-light-500;
}
.placeholder-red-light-600::placeholder {
    color: $red-light-600;
}

.placeholder-red-dark-100::placeholder {
    color: $red-dark-100;
}
.placeholder-red-dark-200::placeholder {
    color: $red-dark-200;
}
.placeholder-red-dark-300::placeholder {
    color: $red-dark-300;
}
.placeholder-red-dark-400::placeholder {
    color: $red-dark-400;
}
.placeholder-red-dark-500::placeholder {
    color: $red-dark-500;
}
.placeholder-red-dark-600::placeholder {
    color: $red-dark-600;
}

.placeholder-blue::placeholder {
    color: $blue;
}

.placeholder-blue-light-100::placeholder {
    color: $blue-light-100;
}
.placeholder-blue-light-200::placeholder {
    color: $blue-light-200;
}
.placeholder-blue-light-300::placeholder {
    color: $blue-light-300;
}
.placeholder-blue-light-400::placeholder {
    color: $blue-light-400;
}
.placeholder-blue-light-500::placeholder {
    color: $blue-light-500;
}
.placeholder-blue-light-600::placeholder {
    color: $blue-light-600;
}

.placeholder-blue-dark-100::placeholder {
    color: $blue-dark-100;
}
.placeholder-blue-dark-200::placeholder {
    color: $blue-dark-200;
}
.placeholder-blue-dark-300::placeholder {
    color: $blue-dark-300;
}
.placeholder-blue-dark-400::placeholder {
    color: $blue-dark-400;
}
.placeholder-blue-dark-500::placeholder {
    color: $blue-dark-500;
}
.placeholder-blue-dark-600::placeholder {
    color: $blue-dark-600;
}

.placeholder-brown::placeholder {
    color: $brown;
}

.placeholder-brown-light-100::placeholder {
    color: $brown-light-100;
}
.placeholder-brown-light-200::placeholder {
    color: $brown-light-200;
}
.placeholder-brown-light-300::placeholder {
    color: $brown-light-300;
}
.placeholder-brown-light-400::placeholder {
    color: $brown-light-400;
}
.placeholder-brown-light-500::placeholder {
    color: $brown-light-500;
}
.placeholder-brown-light-600::placeholder {
    color: $brown-light-600;
}

.placeholder-brown-dark-100::placeholder {
    color: $brown-dark-100;
}
.placeholder-brown-dark-200::placeholder {
    color: $brown-dark-200;
}
.placeholder-brown-dark-300::placeholder {
    color: $brown-dark-300;
}
.placeholder-brown-dark-400::placeholder {
    color: $brown-dark-400;
}
.placeholder-brown-dark-500::placeholder {
    color: $brown-dark-500;
}
.placeholder-brown-dark-600::placeholder {
    color: $brown-dark-600;
}

.placeholder-gray::placeholder {
    color: $gray;
}

.placeholder-gray-light-100::placeholder {
    color: $gray-light-100;
}
.placeholder-gray-light-200::placeholder {
    color: $gray-light-200;
}
.placeholder-gray-light-300::placeholder {
    color: $gray-light-300;
}
.placeholder-gray-light-400::placeholder {
    color: $gray-light-400;
}
.placeholder-gray-light-500::placeholder {
    color: $gray-light-500;
}
.placeholder-gray-light-600::placeholder {
    color: $gray-light-600;
}

.placeholder-gray-dark-100::placeholder {
    color: $gray-dark-100;
}
.placeholder-gray-dark-200::placeholder {
    color: $gray-dark-200;
}
.placeholder-gray-dark-300::placeholder {
    color: $gray-dark-300;
}
.placeholder-gray-dark-400::placeholder {
    color: $gray-dark-400;
}
.placeholder-gray-dark-500::placeholder {
    color: $gray-dark-500;
}
.placeholder-gray-dark-600::placeholder {
    color: $gray-dark-600;
}

.placeholder-green::placeholder {
    color: $green;
}

.placeholder-green-light-100::placeholder {
    color: $green-light-100;
}
.placeholder-green-light-200::placeholder {
    color: $green-light-200;
}
.placeholder-green-light-300::placeholder {
    color: $green-light-300;
}
.placeholder-green-light-400::placeholder {
    color: $green-light-400;
}
.placeholder-green-light-500::placeholder {
    color: $green-light-500;
}
.placeholder-green-light-600::placeholder {
    color: $green-light-600;
}

.placeholder-green-dark-100::placeholder {
    color: $green-dark-100;
}
.placeholder-green-dark-200::placeholder {
    color: $green-dark-200;
}
.placeholder-green-dark-300::placeholder {
    color: $green-dark-300;
}
.placeholder-green-dark-400::placeholder {
    color: $green-dark-400;
}
.placeholder-green-dark-500::placeholder {
    color: $green-dark-500;
}
.placeholder-green-dark-600::placeholder {
    color: $green-dark-600;
}

.placeholder-orange::placeholder {
    color: $orange;
}

.placeholder-orange-light-100::placeholder {
    color: $orange-light-100;
}
.placeholder-orange-light-200::placeholder {
    color: $orange-light-200;
}
.placeholder-orange-light-300::placeholder {
    color: $orange-light-300;
}
.placeholder-orange-light-400::placeholder {
    color: $orange-light-400;
}
.placeholder-orange-light-500::placeholder {
    color: $orange-light-500;
}
.placeholder-orange-light-600::placeholder {
    color: $orange-light-600;
}

.placeholder-orange-dark-100::placeholder {
    color: $orange-dark-100;
}
.placeholder-orange-dark-200::placeholder {
    color: $orange-dark-200;
}
.placeholder-orange-dark-300::placeholder {
    color: $orange-dark-300;
}
.placeholder-orange-dark-400::placeholder {
    color: $orange-dark-400;
}
.placeholder-orange-dark-500::placeholder {
    color: $orange-dark-500;
}
.placeholder-orange-dark-600::placeholder {
    color: $orange-dark-600;
}

.placeholder-pink::placeholder {
    color: $pink;
}

.placeholder-pink-light-100::placeholder {
    color: $pink-light-100;
}
.placeholder-pink-light-200::placeholder {
    color: $pink-light-200;
}
.placeholder-pink-light-300::placeholder {
    color: $pink-light-300;
}
.placeholder-pink-light-400::placeholder {
    color: $pink-light-400;
}
.placeholder-pink-light-500::placeholder {
    color: $pink-light-500;
}
.placeholder-pink-light-600::placeholder {
    color: $pink-light-600;
}

.placeholder-pink-dark-100::placeholder {
    color: $pink-dark-100;
}
.placeholder-pink-dark-200::placeholder {
    color: $pink-dark-200;
}
.placeholder-pink-dark-300::placeholder {
    color: $pink-dark-300;
}
.placeholder-pink-dark-400::placeholder {
    color: $pink-dark-400;
}
.placeholder-pink-dark-500::placeholder {
    color: $pink-dark-500;
}
.placeholder-pink-dark-600::placeholder {
    color: $pink-dark-600;
}

.placeholder-purple::placeholder {
    color: $purple;
}

.placeholder-purple-light-100::placeholder {
    color: $purple-light-100;
}
.placeholder-purple-light-200::placeholder {
    color: $purple-light-200;
}
.placeholder-purple-light-300::placeholder {
    color: $purple-light-300;
}
.placeholder-purple-light-400::placeholder {
    color: $purple-light-400;
}
.placeholder-purple-light-500::placeholder {
    color: $purple-light-500;
}
.placeholder-purple-light-600::placeholder {
    color: $purple-light-600;
}

.placeholder-purple-dark-100::placeholder {
    color: $purple-dark-100;
}
.placeholder-purple-dark-200::placeholder {
    color: $purple-dark-200;
}
.placeholder-purple-dark-300::placeholder {
    color: $purple-dark-300;
}
.placeholder-purple-dark-400::placeholder {
    color: $purple-dark-400;
}
.placeholder-purple-dark-500::placeholder {
    color: $purple-dark-500;
}
.placeholder-purple-dark-600::placeholder {
    color: $purple-dark-600;
}

.placeholder-yellow::placeholder {
    color: $yellow;
}

.placeholder-yellow-light-100::placeholder {
    color: $yellow-light-100;
}
.placeholder-yellow-light-200::placeholder {
    color: $yellow-light-200;
}
.placeholder-yellow-light-300::placeholder {
    color: $yellow-light-300;
}
.placeholder-yellow-light-400::placeholder {
    color: $yellow-light-400;
}
.placeholder-yellow-light-500::placeholder {
    color: $yellow-light-500;
}
.placeholder-yellow-light-600::placeholder {
    color: $yellow-light-600;
}

.placeholder-yellow-dark-100::placeholder {
    color: $yellow-dark-100;
}
.placeholder-yellow-dark-200::placeholder {
    color: $yellow-dark-200;
}
.placeholder-yellow-dark-300::placeholder {
    color: $yellow-dark-300;
}
.placeholder-yellow-dark-400::placeholder {
    color: $yellow-dark-400;
}
.placeholder-yellow-dark-500::placeholder {
    color: $yellow-dark-500;
}
.placeholder-yellow-dark-600::placeholder {
    color: $yellow-dark-600;
}
