// CUSTOM BUTTONS

// FORMS

.forms {
}
.fields {
}
.field {
    &:focus {
        border: solid 1px $primary;
        outline: none;
        box-shadow: 0 0 3px $primary;
    }
}

.radio,
.checkbox {
    input {
        display: none;
    }
    label {
        position: relative;
        padding-left: 20px;
        display: inline-block;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            transition: all 0.3s ease-in-out;
            position: absolute;
        }

        &:before {
            border: 2px solid $gray;
            left: 0;
            top: 3px;
            width: 16px;
            height: 16px;
        }
    }

    input:checked + label:before {
        border: 2px solid $primary;
    }
}

.radio {
    label {
        &:before,
        &:after {
            border-radius: 100%;
        }

        &:after {
            width: 8px;
            height: 8px;
            left: 4px;
            top: 7px;
        }
    }

    input:checked + label:after {
        background-color: $primary;
    }
}

.checkbox {
    label {
        &:before {
            border-radius: 3px;
        }
        &:after {
            left: 3px;
            top: 2px;

            font-weight: bold;
            color: $primary;
            font-size: 0.8125rem;
        }
    }

    input:checked + label:after {
        content: '✓';
    }
}

// CODE

code,
pre {
    font-size: 0.875rem;
    background: #f3f3f3;
}
code {
    padding: 0.1em 0.25em;
}
pre {
    padding: 12px;
    overflow: auto;
}
// TABLE

.table-format {
    table {
        border-spacing: 0;
        border-collapse: collapse;
        min-width: 300px;
        td,
        th {
            padding: 6px 13px;
            border: 1px solid #dfe2e5;
        }
        th {
            text-align: left;
        }
        tr {
            &:nth-child(even) {
                background-color: #f6f8fa;
            }
        }
    }
}
