.fs-i {
    font-size: inherit;
}

.fs12 {
    font-size: 0.75rem;
}

.fs14 {
    font-size: 0.875rem;
}
.fs16 {
    font-size: 1rem;
}
.fs18 {
    font-size: 1.125rem;
}
.fs24 {
    font-size: 1.5rem;
}
.fs32 {
    font-size: 2rem;
}
.fs48 {
    font-size: 3rem;
}
.fs64 {
    font-size: 4rem;
}
