.fs-i {
    font-size: inherit;
}

.fs8 {
    font-size: $px8;
}
.fs12 {
    font-size: $px12;
}
.fs14 {
    font-size: $px14;
}
.fs16 {
    font-size: $px16;
}
.fs18 {
    font-size: $px18;
}
.fs24 {
    font-size: $px24;
}
.fs32 {
    font-size: $px32;
}
.fs40 {
    font-size: $px40;
}
.fs48 {
    font-size: $px48;
}
.fs56 {
    font-size: $px56;
}
.fs64 {
    font-size: $px64;
}
