.h8 {
    height: $px8;
}
.h16 {
    height: $px16;
}
.h24 {
    height: $px24;
}
.h32 {
    height: $px32;
}
.h40 {
    height: $px40;
}
.h48 {
    height: $px48;
}
.h56 {
    height: $px56;
}
.h64 {
    height: $px64;
}

.hfull {
    height: 100%;
}
.h100vh {
    height: 100vh;
}
