.h8 {
    height: 8px;
}
.h16 {
    height: 16px;
}
.h24 {
    height: 24px;
}
.h32 {
    height: 32px;
}
.h40 {
    height: 40px;
}
.h48 {
    height: 48px;
}
.h56 {
    height: 56px;
}
.h64 {
    height: 64px;
}
.h72 {
    height: 72px;
}
.h80 {
    height: 80px;
}
.h100 {
    height: 100px;
}

.hfull {
    height: 100%;
}
.ha {
    height: auto;
}

.h100vh {
    height: 100vh;
}
