.minhfull {
    min-height: 100%;
}

.minh100vh {
    min-height: 100vh;
}

.maxhfull {
    max-height: 100%;
}
.maxh100vh {
    max-height: 100vh;
}

.minwfull {
    min-width: 100%;
}
.maxwfull {
    max-width: 100%;
}
