.opt {
    object-position: top;
}
.opb {
    object-position: bottom;
}
.opl {
    object-position: left;
}
.opr {
    object-position: right;
}
.opc {
    object-position: center;
}

.oplb {
    object-position: left bottom;
}
.oplt {
    object-position: left top;
}
.oprb {
    object-position: right bottom;
}
.oprt {
    object-position: right top;
}
