.opacity0 {
  opacity: 0;
}
.opacity25 {
  opacity: 0.25;
}
.opacity50 {
  opacity: 0.5;
}
.opacity75 {
  opacity: 0.75;
}
.opacity85 {
  opacity: 0.85;
}
.opacity95 {
  opacity: 0.95;
}
.opacity1 {
  opacity: 1;
}
.opacity-hover1 {
  &:hover {
    opacity: 1;
  }
}
