.oba {
    overscroll-behavior: auto;
}
.obc {
    overscroll-behavior: contain;
}
.obn {
    overscroll-behavior: none;
}
.obya {
    overscroll-behavior-y: auto;
}
.obyc {
    overscroll-behavior-y: contain;
}
.obyn {
    overscroll-behavior-y: none;
}
.obxa {
    overscroll-behavior-x: auto;
}
.obxc {
    overscroll-behavior-x: contain;
}
.obxn {
    overscroll-behavior-x: none;
}
