.oa {
    overflow: auto;
}
.oh {
    overflow: hidden;
}
.ov {
    overflow: visible;
}
.os {
    overflow: scroll;
}
.oxa {
    overflow-x: auto;
}
.oya {
    overflow-y: auto;
}
.oxh {
    overflow-x: hidden;
}
.oyh {
    overflow-y: hidden;
}
.oxv {
    overflow-x: visible;
}
.oyv {
    overflow-y: visible;
}
.oxs {
    overflow-x: scroll;
}
.oys {
    overflow-y: scroll;
}
