.pxa {
    padding-left: auto;
    padding-right: auto;
}
.pla {
    padding-left: auto;
}
.pra {
    padding-right: auto;
}
.p0 {
    padding: 0;
}

.p-custom {
    padding: var(--p-custom);
}
.py-custom {
    padding-top: var(--py-custom);
    padding-bottom: var(--py-custom);
}
.px-custom {
    padding-left: var(--px-custom);
    padding-right: var(--px-custom);
}
.pt-custom {
    padding-top: var(--pt-custom);
}
.pr-custom {
    padding-right: var(--pr-custom);
}
.pb-custom {
    padding-bottom: var(--pb-custom);
}
.pl-custom {
    padding-left: var(--pl-custom);
}

.p1 {
    padding: $px8;
}
.p2 {
    padding: $px16;
}
.p3 {
    padding: $px24;
}
.p4 {
    padding: $px32;
}
.p5 {
    padding: $px40;
}
.p6 {
    padding: $px48;
}
.p7 {
    padding: $px56;
}
.p8 {
    padding: $px64;
}

.py0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py1 {
    padding-top: $px8;
    padding-bottom: $px8;
}
.py2 {
    padding-top: $px16;
    padding-bottom: $px16;
}
.py3 {
    padding-top: $px24;
    padding-bottom: $px24;
}
.py4 {
    padding-top: $px32;
    padding-bottom: $px32;
}
.py5 {
    padding-top: $px40;
    padding-bottom: $px40;
}
.py6 {
    padding-top: $px48;
    padding-bottom: $px48;
}
.py7 {
    padding-top: $px56;
    padding-bottom: $px56;
}
.py8 {
    padding-top: $px64;
    padding-bottom: $px64;
}

.px0 {
    padding-left: 0;
    padding-right: 0;
}
.px1 {
    padding-left: $px8;
    padding-right: $px8;
}
.px2 {
    padding-left: $px16;
    padding-right: $px16;
}
.px3 {
    padding-left: $px24;
    padding-right: $px24;
}
.px4 {
    padding-left: $px32;
    padding-right: $px32;
}
.px5 {
    padding-left: $px40;
    padding-right: $px40;
}
.px6 {
    padding-left: $px48;
    padding-right: $px48;
}
.px7 {
    padding-left: $px56;
    padding-right: $px56;
}
.px8 {
    padding-left: $px64;
    padding-right: $px64;
}

.pt0 {
    padding-top: 0;
}
.pt1 {
    padding-top: $px8;
}
.pt2 {
    padding-top: $px16;
}
.pt3 {
    padding-top: $px24;
}
.pt4 {
    padding-top: $px32;
}
.pt5 {
    padding-top: $px40;
}
.pt6 {
    padding-top: $px48;
}
.pt7 {
    padding-top: $px56;
}
.pt8 {
    padding-top: $px64;
}

.pr0 {
    padding-right: 0;
}
.pr1 {
    padding-right: $px8;
}
.pr2 {
    padding-right: $px16;
}
.pr3 {
    padding-right: $px24;
}
.pr4 {
    padding-right: $px32;
}
.pr5 {
    padding-right: $px40;
}
.pr6 {
    padding-right: $px48;
}
.pr7 {
    padding-right: $px56;
}
.pr8 {
    padding-right: $px64;
}

.pb0 {
    padding-bottom: 0;
}
.pb1 {
    padding-bottom: $px8;
}
.pb2 {
    padding-bottom: $px16;
}
.pb3 {
    padding-bottom: $px24;
}
.pb4 {
    padding-bottom: $px32;
}
.pb5 {
    padding-bottom: $px40;
}
.pb6 {
    padding-bottom: $px48;
}
.pb7 {
    padding-bottom: $px56;
}
.pb8 {
    padding-bottom: $px64;
}

.pl0 {
    padding-left: 0;
}
.pl1 {
    padding-left: $px8;
}
.pl2 {
    padding-left: $px16;
}
.pl3 {
    padding-left: $px24;
}
.pl4 {
    padding-left: $px32;
}
.pl5 {
    padding-left: $px40;
}
.pl6 {
    padding-left: $px48;
}
.pl7 {
    padding-left: $px56;
}
.pl8 {
    padding-left: $px64;
}
