.tpa {
    transition-property: all;
}

.duration100 {
    transition-duration: 100ms;
}
.duration200 {
    transition-duration: 200ms;
}
.duration300 {
    transition-duration: 300ms;
}
.duration500 {
    transition-duration: 500ms;
}
.duration700 {
    transition-duration: 700ms;
}

.detay100 {
    transition-delay: 100ms;
}
.detay200 {
    transition-delay: 200ms;
}
.detay300 {
    transition-delay: 300ms;
}
.detay500 {
    transition-delay: 500ms;
}
.detay700 {
    transition-delay: 700ms;
}
