.w8 {
  width: 8px;
}
.w16 {
  width: 16px;
}
.w24 {
  width: 24px;
}
.w32 {
  width: 32px;
}
.w40 {
  width: 40px;
}
.w48 {
  width: 48px;
}
.w56 {
  width: 56px;
}
.w64 {
  width: 64px;
}
.w72 {
  width: 72px;
}
.w80 {
  width: 80px;
}
.w100 {
  width: 100px;
}

.w1pct {
  width: 8.333333333333333%;
}
.w2pct {
  width: 16.66666666666667%;
}
.w3pct {
  width: 25%;
}
.w4pct {
  width: 33.33333333333333%;
}
.w5pct {
  width: 41.66666666666667%;
}
.w6pct {
  width: 50%;
}
.w7pct {
  width: 58.33333333333334%;
}
.w8pct {
  width: 66.66666666666667%;
}
.w9pct {
  width: 75%;
}
.w10pct {
  width: 83.33333333333334%;
}
.w11pct {
  width: 91.66666666666667%;
}

.wfull,
.w12pct {
  width: 100%;
}
.wa {
  width: auto;
}
.wfc {
  width: fit-content;
}
