.w8 {
    width: 8px;
}
.w16 {
    width: 16px;
}
.w24 {
    width: 24px;
}
.w32 {
    width: 32px;
}
.w40 {
    width: 40px;
}
.w48 {
    width: 48px;
}
.w56 {
    width: 56px;
}
.w64 {
    width: 64px;
}
.w72 {
    width: 72px;
}
.w80 {
    width: 80px;
}
.w100 {
    width: 100px;
}

.wfull {
    width: 100%;
}
.wa {
    width: auto;
}
