/*! lstyle v1.0.3 | MIT License | (https://larico.style/) */
@import '_config';

@import '_base';

// CONTAINER
@import '_container';

// COLORS
@import '_colors';

// GENERAL STYLE
@import '_general';

// POSITIONS
@import '_position';

// DISPLAY
@import '_display';

// DISPLAY GRID
@import '_display-grid';

// DISPLAY FLEX
@import '_display-flex';

// MULTI COLUMN LAYOUT
@import '_multi-column-layout';

// TOP, RIGHT, BOTTOM, LEFT
@import '_top-right-bottom-left';

// Text Decoration
@import '_text-decoration';

// Font size
@import '_font-size';

.smoothing-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.smoothing-auto {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

//  line-height
@import '_line-height';

// font-weight
@import '_font-weight';

// Font Style
.fsi {
  font-style: italic;
}
.fsn {
  font-style: normal;
}

// FILTERS

.filter-i1 {
  filter: invert(1);
}

// Letter Spacing
@import '_letter-spacing';

// Font Family
.ffi {
  font-family: inherit;
}

// Text Transform
.ttu {
  text-transform: uppercase;
}
.ttl {
  text-transform: lowercase;
}
.ttc {
  text-transform: capitalize;
}

// WIDTH & HEIGHT
@import '_width';

@import '_height';
@import '_max-min-width-height';

// MARGIN & PADDING
@import '_margin';
@import '_padding';

// BORDERS
@import '_borders';
@import '_border-radius';

// Text Alignment
@import '_text-align';

// vertical-align

.vabl {
  vertical-align: baseline;
}
.vat {
  vertical-align: top;
}
.vam {
  vertical-align: middle;
}
.vab {
  vertical-align: bottom;
}
.vatt {
  vertical-align: text-top;
}
.vatb {
  vertical-align: text-bottom;
}

// white-space

.wsn {
  white-space: normal;
}
.wsnw {
  white-space: nowrap;
}
.wsp {
  white-space: pre;
}
.wspl {
  white-space: pre-line;
}
.wspw {
  white-space: pre-wrap;
}

// Word Break
.wbn {
  word-break: normal;
  overflow-wrap: normal;
}
.owbw {
  overflow-wrap: break-word;
}
.wbba {
  word-break: break-all;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// OPACITY
@import '_opacity';

// FLOAT
@import '_float';

// VISIBILITY
@import '_visibility';

// LIST STYLE
.lsn {
  list-style: none;
}
.lsd {
  list-style: disc;
}
.lstd {
  list-style-type: decimal;
}
// FOR SVG

.fc {
  fill: currentColor;
}
.sc {
  stroke: currentColor;
}

@import '_object-fit';

// Transform
@import '_transform';

.tla {
  table-layout: auto;
}
.tlf {
  table-layout: fixed;
}

.an {
  appearance: none;
}
.o0 {
  outline: 0;
}

// backgrounds
@import '_background';

@import '_overflow';
@import '_cursor';
@import '_z-index';

@import '_object-position';
@import '_box-shadow';
@import '_overscroll-behavior';
@import '_transition';
@import '_overlays';

@import '_animation';

@import '_components';
@import '_typography';

// Media Queries

@import 'media-queries/_sm.scss';
@import 'media-queries/_md.scss';
@import 'media-queries/_lg.scss';
@import 'media-queries/_xl.scss';
