.bgaf-sm {
    background-attachment: fixed;
}
.bgal-sm {
    background-attachment: local;
}
.bgas-sm {
    background-attachment: scroll;
}

.bgpt-sm {
    background-position: top;
}
.bgpb-sm {
    background-position: bottom;
}
.bgpc-sm {
    background-position: center;
}
.bgpl-sm {
    background-position: left;
}
.bgpr-sm {
    background-position: right;
}
.bgplb-sm {
    background-position: left bottom;
}
.bgplt-sm {
    background-position: left top;
}
.bgprt-sm {
    background-position: right top;
}
.bgprb-sm {
    background-position: right bottom;
}
.bgrr-sm {
    background-repeat: repeat;
}
.bgrnr-sm {
    background-repeat: no-repeat;
}
.bgrrx-sm {
    background-repeat: repeat-x;
}
.bgrry-sm {
    background-repeat: repeat-y;
}
.bgs-cover-sm {
    background-size: cover;
}
.bgs-contain-sm {
    background-size: contain;
}
.bgs-auto-sm {
    background-size: auto;
}

.bn-sm {
    background: none;
}
.bgct-sm {
    background-color: transparent;
}
