// DISPLAY GRID
.dg-sm {
    display: grid;
}

/* gaps */

.gap1-sm {
    gap: $px8;
}
.gap2-sm {
    gap: $px16;
}
.gap3-sm {
    gap: $px24;
}
.gap4-sm {
    gap: $px32;
}
.gap5-sm {
    gap: $px40;
}
.gap6-sm {
    gap: $px48;
}
.gap7-sm {
    gap: $px56;
}
.gap8-sm {
    gap: $px64;
}

.rg1-sm {
    row-gap: $px8;
}
.rg2-sm {
    row-gap: $px16;
}
.rg3-sm {
    row-gap: $px24;
}
.rg4-sm {
    row-gap: $px32;
}
.rg5-sm {
    row-gap: $px40;
}
.rg6-sm {
    row-gap: $px48;
}
.rg7-sm {
    row-gap: $px56;
}
.rg8-sm {
    row-gap: $px64;
}

.cg1-sm {
    column-gap: $px8;
}
.cg2-sm {
    column-gap: $px16;
}
.cg3-sm {
    column-gap: $px24;
}
.cg4-sm {
    column-gap: $px32;
}
.cg5-sm {
    column-gap: $px40;
}
.cg6-sm {
    column-gap: $px48;
}
.cg7-sm {
    column-gap: $px56;
}
.cg8-sm {
    column-gap: $px64;
}

.gtc1-sm {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.gtc2-sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.gtc3-sm {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.gtc4-sm {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.gtc5-sm {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.gtc6-sm {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.gtc7-sm {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.gtc8-sm {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.gtc9-sm {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}
.gtc10-sm {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.gtc11-sm {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.gtc12-sm {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* grid columns */

.gc1-sm {
    grid-column: span 1 / span 1;
}

.gc2-sm {
    grid-column: span 2 / span 2;
}

.gc3-sm {
    grid-column: span 3 / span 3;
}

.gc4-sm {
    grid-column: span 4 / span 4;
}

.gc5-sm {
    grid-column: span 5 / span 5;
}

.gc6-sm {
    grid-column: span 6 / span 6;
}

.gc7-sm {
    grid-column: span 7 / span 7;
}

.gc8-sm {
    grid-column: span 8 / span 8;
}

.gc9-sm {
    grid-column: span 9 / span 9;
}

.gc10-sm {
    grid-column: span 10 / span 10;
}

.gc11-sm {
    grid-column: span 11 / span 11;
}
.gc12-sm {
    grid-column: span 12 / span 12;
}
