// DISPLAY GRID
.dg-sm {
    display: grid;
}

/* gaps */
.gap-custom-sm {
    gap: var(--gap-custom-sm);
}
.rg-custom-sm {
    row-gap: var(--rg-custom-sm);
}
.cg-custom-sm {
    column-gap: var(--cg-custom-sm);
}

.gap1-sm {
    gap: $px8;
}
.gap2-sm {
    gap: $px16;
}
.gap3-sm {
    gap: $px24;
}
.gap4-sm {
    gap: $px32;
}
.gap5-sm {
    gap: $px40;
}
.gap6-sm {
    gap: $px48;
}
.gap7-sm {
    gap: $px56;
}
.gap8-sm {
    gap: $px64;
}

.rg1-sm {
    row-gap: $px8;
}
.rg2-sm {
    row-gap: $px16;
}
.rg3-sm {
    row-gap: $px24;
}
.rg4-sm {
    row-gap: $px32;
}
.rg5-sm {
    row-gap: $px40;
}
.rg6-sm {
    row-gap: $px48;
}
.rg7-sm {
    row-gap: $px56;
}
.rg8-sm {
    row-gap: $px64;
}

.cg1-sm {
    column-gap: $px8;
}
.cg2-sm {
    column-gap: $px16;
}
.cg3-sm {
    column-gap: $px24;
}
.cg4-sm {
    column-gap: $px32;
}
.cg5-sm {
    column-gap: $px40;
}
.cg6-sm {
    column-gap: $px48;
}
.cg7-sm {
    column-gap: $px56;
}
.cg8-sm {
    column-gap: $px64;
}

.gtc1-sm {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.gtc2-sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.gtc3-sm {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.gtc4-sm {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.gtc5-sm {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.gtc6-sm {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.gtc7-sm {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.gtc8-sm {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.gtc9-sm {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}
.gtc10-sm {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.gtc11-sm {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.gtc12-sm {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.gtcn-sm {
    grid-template-columns: none;
}

.gtr1-sm {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}
.gtr2-sm {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.gtr3-sm {
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.gtr4-sm {
    grid-template-rows: repeat(4, minmax(0, 1fr));
}
.gtr5-sm {
    grid-template-rows: repeat(5, minmax(0, 1fr));
}
.gtr6-sm {
    grid-template-rows: repeat(6, minmax(0, 1fr));
}
.gtr7-sm {
    grid-template-rows: repeat(7, minmax(0, 1fr));
}
.gtr8-sm {
    grid-template-rows: repeat(8, minmax(0, 1fr));
}
.gtr9-sm {
    grid-template-rows: repeat(9, minmax(0, 1fr));
}
.gtr10-sm {
    grid-template-rows: repeat(10, minmax(0, 1fr));
}
.gtr11-sm {
    grid-template-rows: repeat(11, minmax(0, 1fr));
}
.gtr12-sm {
    grid-template-rows: repeat(12, minmax(0, 1fr));
}
.gtrn-sm {
    grid-template-rows: none;
}

/* grid columns */
.gca-sm {
    grid-column: auto;
}
.gc1-sm {
    grid-column: span 1 / span 1;
}

.gc2-sm {
    grid-column: span 2 / span 2;
}

.gc3-sm {
    grid-column: span 3 / span 3;
}

.gc4-sm {
    grid-column: span 4 / span 4;
}

.gc5-sm {
    grid-column: span 5 / span 5;
}

.gc6-sm {
    grid-column: span 6 / span 6;
}

.gc7-sm {
    grid-column: span 7 / span 7;
}

.gc8-sm {
    grid-column: span 8 / span 8;
}

.gc9-sm {
    grid-column: span 9 / span 9;
}

.gc10-sm {
    grid-column: span 10 / span 10;
}

.gc11-sm {
    grid-column: span 11 / span 11;
}
.gc12-sm {
    grid-column: span 12 / span 12;
}

.gcs1-sm {
    grid-column-start: 1;
}
.gcs2-sm {
    grid-column-start: 2;
}
.gcs3-sm {
    grid-column-start: 3;
}
.gcs4-sm {
    grid-column-start: 4;
}
.gcs5-sm {
    grid-column-start: 5;
}
.gcs6-sm {
    grid-column-start: 6;
}
.gcs7-sm {
    grid-column-start: 7;
}
.gcs8-sm {
    grid-column-start: 8;
}
.gcs9-sm {
    grid-column-start: 9;
}
.gcs10-sm {
    grid-column-start: 10;
}
.gcs11-sm {
    grid-column-start: 11;
}
.gcs12-sm {
    grid-column-start: 12;
}

.gcsa-sm {
    grid-column-start: auto;
}

.gce1-sm {
    grid-column-end: 1;
}
.gce2-sm {
    grid-column-end: 2;
}
.gce3-sm {
    grid-column-end: 3;
}
.gce4-sm {
    grid-column-end: 4;
}
.gce5-sm {
    grid-column-end: 5;
}
.gce6-sm {
    grid-column-end: 6;
}
.gce7-sm {
    grid-column-end: 7;
}
.gce8-sm {
    grid-column-end: 8;
}
.gce9-sm {
    grid-column-end: 9;
}
.gce10-sm {
    grid-column-end: 10;
}
.gce11-sm {
    grid-column-end: 11;
}
.gce12-sm {
    grid-column-end: 12;
}

.gcea-sm {
    grid-column-end: auto;
}

.gra-sm {
    grid-row: auto;
}
.gr1-sm {
    grid-row: span 1 / span 1;
}

.gr2-sm {
    grid-row: span 2 / span 2;
}

.gr3-sm {
    grid-row: span 3 / span 3;
}

.gr4-sm {
    grid-row: span 4 / span 4;
}

.gr5-sm {
    grid-row: span 5 / span 5;
}

.gr6-sm {
    grid-row: span 6 / span 6;
}

.gr7-sm {
    grid-row: span 7 / span 7;
}

.gr8-sm {
    grid-row: span 8 / span 8;
}

.gr9-sm {
    grid-row: span 9 / span 9;
}

.gr10-sm {
    grid-row: span 10 / span 10;
}

.gr11-sm {
    grid-row: span 11 / span 11;
}
.gr12-sm {
    grid-row: span 12 / span 12;
}

.grs1-sm {
    grid-row-start: 1;
}
.grs2-sm {
    grid-row-start: 2;
}
.grs3-sm {
    grid-row-start: 3;
}
.grs4-sm {
    grid-row-start: 4;
}
.grs5-sm {
    grid-row-start: 5;
}
.grs6-sm {
    grid-row-start: 6;
}
.grs7-sm {
    grid-row-start: 7;
}
.grs8-sm {
    grid-row-start: 8;
}
.grs9-sm {
    grid-row-start: 9;
}
.grs10-sm {
    grid-row-start: 10;
}
.grs11-sm {
    grid-row-start: 11;
}
.grs12-sm {
    grid-row-start: 12;
}

.grsa-sm {
    grid-row-start: auto;
}

.gre1-sm {
    grid-row-end: 1;
}
.gre2-sm {
    grid-row-end: 2;
}
.gre3-sm {
    grid-row-end: 3;
}
.gre4-sm {
    grid-row-end: 4;
}
.gre5-sm {
    grid-row-end: 5;
}
.gre6-sm {
    grid-row-end: 6;
}
.gre7-sm {
    grid-row-end: 7;
}
.gre8-sm {
    grid-row-end: 8;
}
.gre9-sm {
    grid-row-end: 9;
}
.gre10-sm {
    grid-row-end: 10;
}
.gre11-sm {
    grid-row-end: 11;
}
.gre12-sm {
    grid-row-end: 12;
}

.grea-sm {
    grid-row-end: auto;
}

.gafr-sm {
    grid-auto-flow: row;
}
.gafc-sm {
    grid-auto-flow: column;
}
.gafrd-sm {
    grid-auto-flow: row dense;
}
.gafcd-sm {
    grid-auto-flow: column dense;
}
