.fs-i-sm {
    font-size: inherit;
}
.fs12-sm {
    font-size: 0.75rem;
}
.fs14-sm {
    font-size: 0.875rem;
}
.fs16-sm {
    font-size: 1rem;
}
.fs18-sm {
    font-size: 1.125rem;
}
.fs24-sm {
    font-size: 1.5rem;
}
.fs32-sm {
    font-size: 2rem;
}
.fs48-sm {
    font-size: 3rem;
}
.fs64-sm {
    font-size: 4rem;
}
