.fwn-sm {
    font-weight: normal;
}
.fw100-sm {
    font-weight: 100;
}
.fw200-sm {
    font-weight: 200;
}
.fw300-sm {
    font-weight: 300;
}
.fw400-sm {
    font-weight: 400;
}
.fw500-sm {
    font-weight: 500;
}
.fw600-sm {
    font-weight: 600;
}
.fw700-sm {
    font-weight: 700;
}
.fw800-sm {
    font-weight: 800;
}
.fw900-sm {
    font-weight: 900;
}

.fwb-sm {
    font-weight: bold;
}
