.fs-i-sm {
    font-size: inherit;
}

.fs-custom-sm {
    font-size: var(--font-custom-size-sm);
}
.fs-custom2-sm {
    font-size: var(--font-custom-size2-sm);
}
.fs-custom3-sm {
    font-size: var(--font-custom-size3-sm);
}

.fs8-sm {
    font-size: $fs8;
}
.fs12-sm {
    font-size: $fs12;
}
.fs14-sm {
    font-size: $fs14;
}
.fs16-sm {
    font-size: $fs16;
}
.fs18-sm {
    font-size: $fs18;
}
.fs24-sm {
    font-size: $fs24;
}
.fs32-sm {
    font-size: $fs32;
}
.fs40-sm {
    font-size: $fs40;
}
.fs48-sm {
    font-size: $fs48;
}
.fs56-sm {
    font-size: $fs56;
}
.fs64-sm {
    font-size: $fs64;
}
.fs80-sm {
    font-size: $fs80;
}
.fs100-sm {
    font-size: $fs100;
}
