.fs-i-sm {
    font-size: inherit;
}

.fs8-sm {
    font-size: $px8;
}
.fs12-sm {
    font-size: $px12;
}
.fs14-sm {
    font-size: $px14;
}
.fs16-sm {
    font-size: $px16;
}
.fs18-sm {
    font-size: $px18;
}
.fs24-sm {
    font-size: $px24;
}
.fs32-sm {
    font-size: $px32;
}
.fs40-sm {
    font-size: $px40;
}
.fs48-sm {
    font-size: $px48;
}
.fs56-sm {
    font-size: $px56;
}
.fs64-sm {
    font-size: $px64;
}
