.h8-sm {
    height: 8px;
}
.h16-sm {
    height: 16px;
}
.h24-sm {
    height: 24px;
}
.h32-sm {
    height: 32px;
}
.h40-sm {
    height: 40px;
}
.h48-sm {
    height: 48px;
}
.h56-sm {
    height: 56px;
}
.h64-sm {
    height: 64px;
}
.h72-sm {
    height: 72px;
}
.h80-sm {
    height: 80px;
}
.h100-sm {
    height: 100px;
}

.hfull-sm {
    height: 100%;
}
.ha-sm {
    height: auto;
}

.h100vh-sm {
    height: 100vh;
}
