.h8-sm {
    height: $px8;
}
.h16-sm {
    height: $px16;
}
.h24-sm {
    height: $px24;
}
.h32-sm {
    height: $px32;
}
.h40-sm {
    height: $px40;
}
.h48-sm {
    height: $px48;
}
.h56-sm {
    height: $px56;
}
.h64-sm {
    height: $px64;
}

.hfull-sm {
    height: 100%;
}
