.ls1-sm {
  letter-spacing: 0.5008px;
}
.ls2-sm {
  letter-spacing: 0.0625rem;
}
.ls3-sm {
  letter-spacing: 0.125rem;
}
.ls4-sm {
  letter-spacing: 0.1875rem;
}
.ls5-sm {
  letter-spacing: 0.25rem;
}
