.minhfull-sm {
    min-height: 100%;
}

.minh100vh-sm {
    min-height: 100vh;
}

.maxhfull-sm {
    max-height: 100%;
}
.maxh100vh-sm {
    max-height: 100vh;
}

.minwfull-sm {
    min-width: 100%;
}
.maxwfull-sm {
    max-width: 100%;
}
