.cc1-sm {
    column-count: 1;
}
.cc2-sm {
    column-count: 2;
}
.cc3-sm {
    column-count: 3;
}
.cc4-sm {
    column-count: 4;
}
.cc5-sm {
    column-count: 5;
}
.cc6-sm {
    column-count: 6;
}
.cc7-sm {
    column-count: 7;
}
.cc8-sm {
    column-count: 8;
}
.cc9-sm {
    column-count: 9;
}
.cc10-sm {
    column-count: 10;
}
.cc11-sm {
    column-count: 11;
}
.cc12-sm {
    column-count: 12;
}

.caa-sm {
    column-span: all;
}
