.opt-sm {
    object-position: top;
}
.opb-sm {
    object-position: bottom;
}
.opl-sm {
    object-position: left;
}
.opr-sm {
    object-position: right;
}
.opc-sm {
    object-position: center;
}

.oplb-sm {
    object-position: left bottom;
}
.oplt-sm {
    object-position: left top;
}
.oprb-sm {
    object-position: right bottom;
}
.oprt-sm {
    object-position: right top;
}
