.oba-sm {
    overscroll-behavior: auto;
}
.obc-sm {
    overscroll-behavior: contain;
}
.obn-sm {
    overscroll-behavior: none;
}
.obya-sm {
    overscroll-behavior-y: auto;
}
.obyc-sm {
    overscroll-behavior-y: contain;
}
.obyn-sm {
    overscroll-behavior-y: none;
}
.obxa-sm {
    overscroll-behavior-x: auto;
}
.obxc-sm {
    overscroll-behavior-x: contain;
}
.obxn-sm {
    overscroll-behavior-x: none;
}
