.oa-sm {
    overflow: auto;
}
.oh-sm {
    overflow: hidden;
}
.ov-sm {
    overflow: visible;
}
.os-sm {
    overflow: scroll;
}
.oxa-sm {
    overflow-x: auto;
}
.oya-sm {
    overflow-y: auto;
}
.oxh-sm {
    overflow-x: hidden;
}
.oyh-sm {
    overflow-y: hidden;
}
.oxv-sm {
    overflow-x: visible;
}
.oyv-sm {
    overflow-y: visible;
}
.oxs-sm {
    overflow-x: scroll;
}
.oys-sm {
    overflow-y: scroll;
}
