.tal-sm {
    text-align: left;
}
.tac-sm {
    text-align: center;
}
.tar-sm {
    text-align: right;
}
.taj-sm {
    text-align: justify;
}
.talc-sm {
    text-align-last: center;
}
.talr-sm {
    text-align-last: right;
}
