.ttx-0-sm {
    transform: translateX(0);
}
.ttx-100\%-sm {
    transform: translateX(100%);
}
.ttx-50\%-sm {
    transform: translateX(50%);
}

.-ttx-100\%-sm {
    transform: translateX(-100%);
}
.-ttx-50\%-sm {
    transform: translateX(-50%);
}

.tty-100\%-sm {
    transform: translateY(100%);
}
.tty-50\%-sm {
    transform: translateY(50%);
}

.-tty-100\%-sm {
    transform: translateY(-100%);
}
.-tty-50\%-sm {
    transform: translateY(-50%);
}

.tr-45-sm {
    transform: rotate(45deg);
}
.tr-90-sm {
    transform: rotate(90deg);
}
.tr-180-sm {
    transform: rotate(180deg);
}
.-tr-45-sm {
    transform: rotate(45deg);
}
.-tr-90-sm {
    transform: rotate(90deg);
}
.-tr-180-sm {
    transform: rotate(180deg);
}

.ts1-sm {
    transform: scale(1.1);
}

.ts2-sm {
    transform: scale(1.2);
}
.ts3-sm {
    transform: scale(1.3);
}
.ts4-sm {
    transform: scale(1.4);
}
.ts5-sm {
    transform: scale(1.5);
}

.ts09-sm {
    transform: scale(0.9);
}
.ts08-sm {
    transform: scale(0.8);
}
.ts07-sm {
    transform: scale(0.7);
}
.ts06-sm {
    transform: scale(0.6);
}
.ts05-sm {
    transform: scale(0.5);
}

.toc-sm {
    transform-origin: center;
}
.tot-sm {
    transform-origin: top;
}
.totr-sm {
    transform-origin: top right;
}
.tor-sm {
    transform-origin: right;
}
.tobr-sm {
    transform-origin: bottom right;
}
.tob-sm {
    transform-origin: bottom;
}
.tobl-sm {
    transform-origin: bottom left;
}
.tol-sm {
    transform-origin: left;
}
.totl-sm {
    transform-origin: top left;
}
