.w8-sm {
  width: 0.5rem;
}
.w16-sm {
  width: 1rem;
}
.w24-sm {
  width: 1.5rem;
}
.w32-sm {
  width: 2rem;
}
.w40-sm {
  width: 2.5rem;
}
.w48-sm {
  width: 3rem;
}
.w56-sm {
  width: 3.5rem;
}
.w64-sm {
  width: 4rem;
}
.w72-sm {
  width: 4.5rem;
}
.w80-sm {
  width: 5rem;
}
.w100-sm {
  width: 6.25rem;
}

.w1pct-sm {
  width: 8.333333333333333%;
}
.w2pct-sm {
  width: 16.66666666666667%;
}
.w3pct-sm {
  width: 25%;
}
.w4pct-sm {
  width: 33.33333333333333%;
}
.w5pct-sm {
  width: 41.66666666666667%;
}
.w6pct-sm {
  width: 50%;
}
.w7pct-sm {
  width: 58.33333333333334%;
}
.w8pct-sm {
  width: 66.66666666666667%;
}
.w9pct-sm {
  width: 75%;
}
.w10pct-sm {
  width: 83.33333333333334%;
}
.w11pct-sm {
  width: 91.66666666666667%;
}

.wfull-sm,
.w12pct-sm {
  width: 100%;
}
.wa-sm {
  width: auto;
}
