.w8-sm {
    width: 8px;
}
.w16-sm {
    width: 16px;
}
.w24-sm {
    width: 24px;
}
.w32-sm {
    width: 32px;
}
.w40-sm {
    width: 40px;
}
.w48-sm {
    width: 48px;
}
.w56-sm {
    width: 56px;
}
.w64-sm {
    width: 64px;
}
.w72-sm {
    width: 72px;
}
.w80-sm {
    width: 80px;
}
.w100-sm {
    width: 100px;
}

.wfull-sm {
    width: 100%;
}
.wa-sm {
    width: auto;
}
