.bgaf-lg {
    background-attachment: fixed;
}
.bgal-lg {
    background-attachment: local;
}
.bgas-lg {
    background-attachment: scroll;
}

.bgpt-lg {
    background-position: top;
}
.bgpb-lg {
    background-position: bottom;
}
.bgpc-lg {
    background-position: center;
}
.bgpl-lg {
    background-position: left;
}
.bgpr-lg {
    background-position: right;
}
.bgplb-lg {
    background-position: left bottom;
}
.bgplt-lg {
    background-position: left top;
}
.bgprt-lg {
    background-position: right top;
}
.bgprb-lg {
    background-position: right bottom;
}
.bgrr-lg {
    background-repeat: repeat;
}
.bgrnr-lg {
    background-repeat: no-repeat;
}
.bgrrx-lg {
    background-repeat: repeat-x;
}
.bgrry-lg {
    background-repeat: repeat-y;
}
.bgs-cover-lg {
    background-size: cover;
}
.bgs-contain-lg {
    background-size: contain;
}
.bgs-auto-lg {
    background-size: auto;
}

.bn-lg {
    background: none;
}
.bgct-lg {
    background-color: transparent;
}
