.rounded-lg {
  border-radius: 0.25rem;
}
.rounded-8-lg {
  border-radius: 0.5rem;
}
.rounded-10-lg {
  border-radius: 0.625rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.rounded-t-8-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.rounded-t-10-lg {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.rounded-r-lg {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-r-8-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.3125rem;
}
.rounded-r-10-lg {
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-b-8-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.rounded-b-10-lg {
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.rounded-l-lg {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-l-8-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.rounded-l-10-lg {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.rounded-full-lg {
  border-radius: 9999px;
}
.circle-lg {
  border-radius: 100%;
}
.rounded-0-lg {
  border-radius: 0;
}
