.fwn-lg {
    font-weight: normal;
}
.fw100-lg {
    font-weight: 100;
}
.fw200-lg {
    font-weight: 200;
}
.fw300-lg {
    font-weight: 300;
}
.fw400-lg {
    font-weight: 400;
}
.fw500-lg {
    font-weight: 500;
}
.fw600-lg {
    font-weight: 600;
}
.fw700-lg {
    font-weight: 700;
}
.fw800-lg {
    font-weight: 800;
}
.fw900-lg {
    font-weight: 900;
}

.fwb-lg {
    font-weight: bold;
}
