.fs-i-lg {
    font-size: inherit;
}
.fs12-lg {
    font-size: 0.75rem;
}
.fs14-lg {
    font-size: 0.875rem;
}
.fs16-lg {
    font-size: 1rem;
}
.fs18-lg {
    font-size: 1.125rem;
}
.fs24-lg {
    font-size: 1.5rem;
}
.fs32-lg {
    font-size: 2rem;
}
.fs48-lg {
    font-size: 3rem;
}
.fs64-lg {
    font-size: 4rem;
}
