.fs-i-lg {
    font-size: inherit;
}

.fs8-lg {
    font-size: $px8;
}
.fs12-lg {
    font-size: $px12;
}
.fs14-lg {
    font-size: $px14;
}
.fs16-lg {
    font-size: $px16;
}
.fs18-lg {
    font-size: $px18;
}
.fs24-lg {
    font-size: $px24;
}
.fs32-lg {
    font-size: $px32;
}
.fs40-lg {
    font-size: $px40;
}
.fs48-lg {
    font-size: $px48;
}
.fs56-lg {
    font-size: $px56;
}
.fs64-lg {
    font-size: $px64;
}
