.h8-lg {
    height: 8px;
}
.h16-lg {
    height: 16px;
}
.h24-lg {
    height: 24px;
}
.h32-lg {
    height: 32px;
}
.h40-lg {
    height: 40px;
}
.h48-lg {
    height: 48px;
}
.h56-lg {
    height: 56px;
}
.h64-lg {
    height: 64px;
}
.h72-lg {
    height: 72px;
}
.h80-lg {
    height: 80px;
}
.h100-lg {
    height: 100px;
}

.hfull-lg {
    height: 100%;
}
.ha-lg {
    height: auto;
}

.h100vh-lg {
    height: 100vh;
}
