.h8-lg {
    height: $px8;
}
.h16-lg {
    height: $px16;
}
.h24-lg {
    height: $px24;
}
.h32-lg {
    height: $px32;
}
.h40-lg {
    height: $px40;
}
.h48-lg {
    height: $px48;
}
.h56-lg {
    height: $px56;
}
.h64-lg {
    height: $px64;
}

.hfull-lg {
    height: 100%;
}
