.ls1-lg {
  letter-spacing: 0.5008px;
}
.ls2-lg {
  letter-spacing: 0.0625rem;
}
.ls3-lg {
  letter-spacing: 0.125rem;
}
.ls4-lg {
  letter-spacing: 0.1875rem;
}
.ls5-lg {
  letter-spacing: 0.25rem;
}
