.m-custom-lg {
    margin: var(--m-custom-lg);
}
.my-custom-lg {
    margin-top: var(--my-custom-lg);
    margin-bottom: var(--my-custom-lg);
}
.mx-custom-lg {
    margin-left: var(--mx-custom-lg);
    margin-right: var(--mx-custom-lg);
}
.mt-custom-lg {
    margin-top: var(--mt-custom-lg);
}
.mr-custom-lg {
    margin-right: var(--mr-custom-lg);
}
.mb-custom-lg {
    margin-bottom: var(--mb-custom-lg);
}
.ml-custom-lg {
    margin-left: var(--ml-custom-lg);
}

.m1-lg {
    margin: $px8;
}
.m2-lg {
    margin: $px16;
}
.m3-lg {
    margin: $px24;
}
.m4-lg {
    margin: $px32;
}
.m5-lg {
    margin: $px40;
}
.m6-lg {
    margin: $px48;
}
.m7-lg {
    margin: $px56;
}
.m8-lg {
    margin: $px64;
}
.-m1-lg {
    margin: -$px8;
}
.-m2-lg {
    margin: -$px16;
}
.-m3-lg {
    margin: -$px24;
}
.-m4-lg {
    margin: -$px32;
}
.-m5-lg {
    margin: -$px40;
}
.-m6-lg {
    margin: -$px48;
}
.-m7-lg {
    margin: -$px56;
}
.-m8-lg {
    margin: -$px64;
}

.my0-lg {
    margin-top: 0;
    margin-bottom: 0;
}
.my1-lg {
    margin-top: $px8;
    margin-bottom: $px8;
}
.my2-lg {
    margin-top: $px16;
    margin-bottom: $px16;
}
.my3-lg {
    margin-top: $px24;
    margin-bottom: $px24;
}
.my4-lg {
    margin-top: $px32;
    margin-bottom: $px32;
}
.my5-lg {
    margin-top: $px40;
    margin-bottom: $px40;
}
.my6-lg {
    margin-top: $px48;
    margin-bottom: $px48;
}
.my7-lg {
    margin-top: $px56;
    margin-bottom: $px56;
}
.my8-lg {
    margin-top: $px64;
    margin-bottom: $px64;
}

.-my1-lg {
    margin-top: -$px8;
    margin-bottom: -$px8;
}
.-my2-lg {
    margin-top: -$px16;
    margin-bottom: -$px16;
}
.-my3-lg {
    margin-top: -$px24;
    margin-bottom: -$px24;
}
.-my4-lg {
    margin-top: -$px32;
    margin-bottom: -$px32;
}
.-my5-lg {
    margin-top: -$px40;
    margin-bottom: -$px40;
}
.-my6-lg {
    margin-top: -$px48;
    margin-bottom: -$px48;
}
.-my7-lg {
    margin-top: -$px56;
    margin-bottom: -$px56;
}
.-my8-lg {
    margin-top: -$px64;
    margin-bottom: -$px64;
}

.mx0-lg {
    margin-left: 0;
    margin-right: 0;
}
.mx1-lg {
    margin-left: $px8;
    margin-right: $px8;
}
.mx2-lg {
    margin-left: $px16;
    margin-right: $px16;
}
.mx3-lg {
    margin-left: $px24;
    margin-right: $px24;
}
.mx4-lg {
    margin-left: $px32;
    margin-right: $px32;
}
.mx5-lg {
    margin-left: $px40;
    margin-right: $px40;
}
.mx6-lg {
    margin-left: $px48;
    margin-right: $px48;
}
.mx7-lg {
    margin-left: $px56;
    margin-right: $px56;
}
.mx8-lg {
    margin-left: $px64;
    margin-right: $px64;
}

.-mx1-lg {
    margin-left: -$px8;
    margin-right: -$px8;
}
.-mx2-lg {
    margin-left: -$px16;
    margin-right: -$px16;
}
.-mx3-lg {
    margin-left: -$px24;
    margin-right: -$px24;
}
.-mx4-lg {
    margin-left: -$px32;
    margin-right: -$px32;
}
.-mx5-lg {
    margin-left: -$px40;
    margin-right: -$px40;
}
.-mx6-lg {
    margin-left: -$px48;
    margin-right: -$px48;
}
.-mx7-lg {
    margin-left: -$px56;
    margin-right: -$px56;
}
.-mx8-lg {
    margin-left: -$px64;
    margin-right: -$px64;
}

.mt0-lg {
    margin-top: 0;
}
.mt1-lg {
    margin-top: $px8;
}
.mt2-lg {
    margin-top: $px16;
}
.mt3-lg {
    margin-top: $px24;
}
.mt4-lg {
    margin-top: $px32;
}
.mt5-lg {
    margin-top: $px40;
}
.mt6-lg {
    margin-top: $px48;
}
.mt7-lg {
    margin-top: $px56;
}
.mt8-lg {
    margin-top: $px64;
}
.-mt1-lg {
    margin-top: -$px8;
}
.-mt2-lg {
    margin-top: -$px16;
}
.-mt3-lg {
    margin-top: -$px24;
}
.-mt4-lg {
    margin-top: -$px32;
}
.-mt5-lg {
    margin-top: -$px40;
}
.-mt6-lg {
    margin-top: -$px48;
}
.-mt7-lg {
    margin-top: -$px56;
}
.-mt8-lg {
    margin-top: -$px64;
}

.mr0-lg {
    margin-right: 0;
}
.mr1-lg {
    margin-right: $px8;
}
.mr2-lg {
    margin-right: $px16;
}
.mr3-lg {
    margin-right: $px24;
}
.mr4-lg {
    margin-right: $px32;
}
.mr5-lg {
    margin-right: $px40;
}
.mr6-lg {
    margin-right: $px48;
}
.mr7-lg {
    margin-right: $px56;
}
.mr8-lg {
    margin-right: $px64;
}

.-mr1-lg {
    margin-right: -$px8;
}
.-mr2-lg {
    margin-right: -$px16;
}
.-mr3-lg {
    margin-right: -$px24;
}
.-mr4-lg {
    margin-right: -$px32;
}
.-mr5-lg {
    margin-right: -$px40;
}
.-mr6-lg {
    margin-right: -$px48;
}
.-mr7-lg {
    margin-right: -$px56;
}
.-mr8-lg {
    margin-right: -$px64;
}

.mb0-lg {
    margin-bottom: 0;
}
.mb1-lg {
    margin-bottom: $px8;
}
.mb2-lg {
    margin-bottom: $px16;
}
.mb3-lg {
    margin-bottom: $px24;
}
.mb4-lg {
    margin-bottom: $px32;
}
.mb5-lg {
    margin-bottom: $px40;
}
.mb6-lg {
    margin-bottom: $px48;
}
.mb7-lg {
    margin-bottom: $px56;
}
.mb8-lg {
    margin-bottom: $px64;
}

.-mb1-lg {
    margin-bottom: -$px8;
}
.-mb2-lg {
    margin-bottom: -$px16;
}
.-mb3-lg {
    margin-bottom: -$px24;
}
.-mb4-lg {
    margin-bottom: -$px32;
}
.-mb5-lg {
    margin-bottom: -$px40;
}
.-mb6-lg {
    margin-bottom: -$px48;
}
.-mb7-lg {
    margin-bottom: -$px56;
}
.-mb8-lg {
    margin-bottom: -$px64;
}

.ml0-lg {
    margin-left: 0;
}
.ml1-lg {
    margin-left: $px8;
}
.ml2-lg {
    margin-left: $px16;
}
.ml3-lg {
    margin-left: $px24;
}
.ml4-lg {
    margin-left: $px32;
}
.ml5-lg {
    margin-left: $px40;
}
.ml6-lg {
    margin-left: $px48;
}
.ml7-lg {
    margin-left: $px56;
}
.ml8-lg {
    margin-left: $px64;
}

.-ml1-lg {
    margin-left: -$px8;
}
.-ml2-lg {
    margin-left: -$px16;
}
.-ml3-lg {
    margin-left: -$px24;
}
.-ml4-lg {
    margin-left: -$px32;
}
.-ml5-lg {
    margin-left: -$px40;
}
.-ml6-lg {
    margin-left: -$px48;
}
.-ml7-lg {
    margin-left: -$px56;
}
.-ml8-lg {
    margin-left: -$px64;
}

.mxa-lg {
    margin-left: auto;
    margin-right: auto;
}
.mya-lg {
    margin-top: auto;
    margin-bottom: auto;
}
.mla-lg {
    margin-left: auto;
}
.mra-lg {
    margin-right: auto;
}
.ma-lg {
    margin: auto;
}
.m0-lg {
    margin: 0;
}
