.minh0-lg {
    min-height: 0;
}

.minhfull-lg {
    min-height: 100%;
}

.minh100vh-lg {
    min-height: 100vh;
}

.maxhfull-lg {
    max-height: 100%;
}
.maxh100vh-lg {
    max-height: 100vh;
}

.minw0-lg {
    min-width: 0;
}

.minwfull-lg {
    min-width: 100%;
}
.maxwfull-lg {
    max-width: 100%;
}

.mw50\%-lg {
    max-width: 50%;
}
.mw33\%-lg {
    max-width: 33.33333333333333%;
}
