.minhfull-lg {
    min-height: 100%;
}

.minh100vh-lg {
    min-height: 100vh;
}

.maxhfull-lg {
    max-height: 100%;
}
.maxh100vh-lg {
    max-height: 100vh;
}

.minwfull-lg {
    min-width: 100%;
}
.maxwfull-lg {
    max-width: 100%;
}
