.bia-lg {
    break-inside: avoid-column;
}
.cc1-lg {
    column-count: 1;
}
.cc2-lg {
    column-count: 2;
}
.cc3-lg {
    column-count: 3;
}
.cc4-lg {
    column-count: 4;
}
.cc5-lg {
    column-count: 5;
}
.cc6-lg {
    column-count: 6;
}
.cc7-lg {
    column-count: 7;
}
.cc8-lg {
    column-count: 8;
}
.cc9-lg {
    column-count: 9;
}
.cc10-lg {
    column-count: 10;
}
.cc11-lg {
    column-count: 11;
}
.cc12-lg {
    column-count: 12;
}

.caa-lg {
    column-span: all;
}
