.opt-lg {
    object-position: top;
}
.opb-lg {
    object-position: bottom;
}
.opl-lg {
    object-position: left;
}
.opr-lg {
    object-position: right;
}
.opc-lg {
    object-position: center;
}

.oplb-lg {
    object-position: left bottom;
}
.oplt-lg {
    object-position: left top;
}
.oprb-lg {
    object-position: right bottom;
}
.oprt-lg {
    object-position: right top;
}
