.oa-lg {
    overflow: auto;
}
.oh-lg {
    overflow: hidden;
}
.ov-lg {
    overflow: visible;
}
.os-lg {
    overflow: scroll;
}
.oxa-lg {
    overflow-x: auto;
}
.oya-lg {
    overflow-y: auto;
}
.oxh-lg {
    overflow-x: hidden;
}
.oyh-lg {
    overflow-y: hidden;
}
.oxv-lg {
    overflow-x: visible;
}
.oyv-lg {
    overflow-y: visible;
}
.oxs-lg {
    overflow-x: scroll;
}
.oys-lg {
    overflow-y: scroll;
}
