.oba-lg {
    overscroll-behavior: auto;
}
.obc-lg {
    overscroll-behavior: contain;
}
.obn-lg {
    overscroll-behavior: none;
}
.obya-lg {
    overscroll-behavior-y: auto;
}
.obyc-lg {
    overscroll-behavior-y: contain;
}
.obyn-lg {
    overscroll-behavior-y: none;
}
.obxa-lg {
    overscroll-behavior-x: auto;
}
.obxc-lg {
    overscroll-behavior-x: contain;
}
.obxn-lg {
    overscroll-behavior-x: none;
}
