.tal-lg {
    text-align: left;
}
.tac-lg {
    text-align: center;
}
.tar-lg {
    text-align: right;
}
.taj-lg {
    text-align: justify;
}
.talc-lg {
    text-align-last: center;
}
.talr-lg {
    text-align-last: right;
}
