.w8-lg {
  width: 8px;
}
.w16-lg {
  width: 16px;
}
.w24-lg {
  width: 24px;
}
.w32-lg {
  width: 32px;
}
.w40-lg {
  width: 40px;
}
.w48-lg {
  width: 48px;
}
.w56-lg {
  width: 56px;
}
.w64-lg {
  width: 64px;
}
.w72-lg {
  width: 72px;
}
.w80-lg {
  width: 80px;
}
.w100-lg {
  width: 100px;
}

.w1pct-lg {
  width: 8.333333333333333%;
}
.w2pct-lg {
  width: 16.66666666666667%;
}
.w3pct-lg {
  width: 25%;
}
.w4pct-lg {
  width: 33.33333333333333%;
}
.w5pct-lg {
  width: 41.66666666666667%;
}
.w6pct-lg {
  width: 50%;
}
.w7pct-lg {
  width: 58.33333333333334%;
}
.w8pct-lg {
  width: 66.66666666666667%;
}
.w9pct-lg {
  width: 75%;
}
.w10pct-lg {
  width: 83.33333333333334%;
}
.w11pct-lg {
  width: 91.66666666666667%;
}

.wfull-lg,
.w12pct-lg {
  width: 100%;
}
.wa-lg {
  width: auto;
}

.wfc-lg {
  width: fit-content;
}
