.w8-lg {
    width: 8px;
}
.w16-lg {
    width: 16px;
}
.w24-lg {
    width: 24px;
}
.w32-lg {
    width: 32px;
}
.w40-lg {
    width: 40px;
}
.w48-lg {
    width: 48px;
}
.w56-lg {
    width: 56px;
}
.w64-lg {
    width: 64px;
}
.w72-lg {
    width: 72px;
}
.w80-lg {
    width: 80px;
}
.w100-lg {
    width: 100px;
}

.wfull-lg {
    width: 100%;
}
.wa-lg {
    width: auto;
}
