.bgaf-xl {
    background-attachment: fixed;
}
.bgal-xl {
    background-attachment: local;
}
.bgas-xl {
    background-attachment: scroll;
}

.bgpt-xl {
    background-position: top;
}
.bgpb-xl {
    background-position: bottom;
}
.bgpc-xl {
    background-position: center;
}
.bgpl-xl {
    background-position: left;
}
.bgpr-xl {
    background-position: right;
}
.bgplb-xl {
    background-position: left bottom;
}
.bgplt-xl {
    background-position: left top;
}
.bgprt-xl {
    background-position: right top;
}
.bgprb-xl {
    background-position: right bottom;
}
.bgrr-xl {
    background-repeat: repeat;
}
.bgrnr-xl {
    background-repeat: no-repeat;
}
.bgrrx-xl {
    background-repeat: repeat-x;
}
.bgrry-xl {
    background-repeat: repeat-y;
}
.bgs-cover-xl {
    background-size: cover;
}
.bgs-contain-xl {
    background-size: contain;
}
.bgs-auto-xl {
    background-size: auto;
}

.bn-xl {
    background: none;
}
.bgct-xl {
    background-color: transparent;
}
