.rounded-xl {
  border-radius: 0.25rem;
}
.rounded-8-xl {
  border-radius: 0.5rem;
}
.rounded-10-xl {
  border-radius: 0.625rem;
}

.rounded-t-xl {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.rounded-t-8-xl {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.rounded-t-10-xl {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.rounded-r-xl {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-r-8-xl {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.3125rem;
}
.rounded-r-10-xl {
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.rounded-b-xl {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-b-8-xl {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.rounded-b-10-xl {
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.rounded-l-xl {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.rounded-l-8-xl {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.rounded-l-10-xl {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.rounded-full-xl {
  border-radius: 9999px;
}
.circle-xl {
  border-radius: 100%;
}
