.fwn-xl {
    font-weight: normal;
}
.fw100-xl {
    font-weight: 100;
}
.fw200-xl {
    font-weight: 200;
}
.fw300-xl {
    font-weight: 300;
}
.fw400-xl {
    font-weight: 400;
}
.fw500-xl {
    font-weight: 500;
}
.fw600-xl {
    font-weight: 600;
}
.fw700-xl {
    font-weight: 700;
}
.fw800-xl {
    font-weight: 800;
}
.fw900-xl {
    font-weight: 900;
}

.fwb-xl {
    font-weight: bold;
}
