.fs-i-xl {
    font-size: inherit;
}

.fs8-xl {
    font-size: $px8;
}
.fs12-xl {
    font-size: $px12;
}
.fs14-xl {
    font-size: $px14;
}
.fs16-xl {
    font-size: $px16;
}
.fs18-xl {
    font-size: $px18;
}
.fs24-xl {
    font-size: $px24;
}
.fs32-xl {
    font-size: $px32;
}
.fs40-xl {
    font-size: $px40;
}
.fs48-xl {
    font-size: $px48;
}
.fs56-xl {
    font-size: $px56;
}
.fs64-xl {
    font-size: $px64;
}
