.fs-i-xl {
    font-size: inherit;
}
.fs12-xl {
    font-size: 0.75rem;
}
.fs14-xl {
    font-size: 0.875rem;
}
.fs16-xl {
    font-size: 1rem;
}
.fs18-xl {
    font-size: 1.125rem;
}
.fs24-xl {
    font-size: 1.5rem;
}
.fs32-xl {
    font-size: 2rem;
}
.fs48-xl {
    font-size: 3rem;
}
.fs64-xl {
    font-size: 4rem;
}
