.fs-i-xl {
    font-size: inherit;
}

.fs-custom-xl {
    font-size: var(--font-custom-size-xl);
}
.fs-custom2-xl {
    font-size: var(--font-custom-size2-xl);
}
.fs-custom3-xl {
    font-size: var(--font-custom-size3-xl);
}

.fs8-xl {
    font-size: $fs8;
}
.fs12-xl {
    font-size: $fs12;
}
.fs14-xl {
    font-size: $fs14;
}
.fs16-xl {
    font-size: $fs16;
}
.fs18-xl {
    font-size: $fs18;
}
.fs24-xl {
    font-size: $fs24;
}
.fs32-xl {
    font-size: $fs32;
}
.fs40-xl {
    font-size: $fs40;
}
.fs48-xl {
    font-size: $fs48;
}
.fs56-xl {
    font-size: $fs56;
}
.fs64-xl {
    font-size: $fs64;
}
.fs80-xl {
    font-size: $fs80;
}
.fs100-xl {
    font-size: $fs100;
}
