.h8-xl {
    height: 8px;
}
.h16-xl {
    height: 16px;
}
.h24-xl {
    height: 24px;
}
.h32-xl {
    height: 32px;
}
.h40-xl {
    height: 40px;
}
.h48-xl {
    height: 48px;
}
.h56-xl {
    height: 56px;
}
.h64-xl {
    height: 64px;
}
.h72-xl {
    height: 72px;
}
.h80-xl {
    height: 80px;
}
.h100-xl {
    height: 100px;
}

.hfull-xl {
    height: 100%;
}
.ha-xl {
    height: auto;
}

.h100vh-xl {
    height: 100vh;
}
