.h8-xl {
    height: $px8;
}
.h16-xl {
    height: $px16;
}
.h24-xl {
    height: $px24;
}
.h32-xl {
    height: $px32;
}
.h40-xl {
    height: $px40;
}
.h48-xl {
    height: $px48;
}
.h56-xl {
    height: $px56;
}
.h64-xl {
    height: $px64;
}

.hfull-xl {
    height: 100%;
}

.h100vh-xl {
    height: 100vh;
}
.ha-xl {
    height: auto;
}
