.m-custom-xl {
    margin: var(--m-custom-xl);
}
.my-custom-xl {
    margin-top: var(--my-custom-xl);
    margin-bottom: var(--my-custom-xl);
}
.mx-custom-xl {
    margin-left: var(--mx-custom-xl);
    margin-right: var(--mx-custom-xl);
}
.mt-custom-xl {
    margin-top: var(--mt-custom-xl);
}
.mr-custom-xl {
    margin-right: var(--mr-custom-xl);
}
.mb-custom-xl {
    margin-bottom: var(--mb-custom-xl);
}
.ml-custom-xl {
    margin-left: var(--ml-custom-xl);
}

.m1-xl {
    margin: $px8;
}
.m2-xl {
    margin: $px16;
}
.m3-xl {
    margin: $px24;
}
.m4-xl {
    margin: $px32;
}
.m5-xl {
    margin: $px40;
}
.m6-xl {
    margin: $px48;
}
.m7-xl {
    margin: $px56;
}
.m8-xl {
    margin: $px64;
}
.-m1-xl {
    margin: -$px8;
}
.-m2-xl {
    margin: -$px16;
}
.-m3-xl {
    margin: -$px24;
}
.-m4-xl {
    margin: -$px32;
}
.-m5-xl {
    margin: -$px40;
}
.-m6-xl {
    margin: -$px48;
}
.-m7-xl {
    margin: -$px56;
}
.-m8-xl {
    margin: -$px64;
}

.my0-xl {
    margin-top: 0;
    margin-bottom: 0;
}
.my1-xl {
    margin-top: $px8;
    margin-bottom: $px8;
}
.my2-xl {
    margin-top: $px16;
    margin-bottom: $px16;
}
.my3-xl {
    margin-top: $px24;
    margin-bottom: $px24;
}
.my4-xl {
    margin-top: $px32;
    margin-bottom: $px32;
}
.my5-xl {
    margin-top: $px40;
    margin-bottom: $px40;
}
.my6-xl {
    margin-top: $px48;
    margin-bottom: $px48;
}
.my7-xl {
    margin-top: $px56;
    margin-bottom: $px56;
}
.my8-xl {
    margin-top: $px64;
    margin-bottom: $px64;
}

.-my1-xl {
    margin-top: -$px8;
    margin-bottom: -$px8;
}
.-my2-xl {
    margin-top: -$px16;
    margin-bottom: -$px16;
}
.-my3-xl {
    margin-top: -$px24;
    margin-bottom: -$px24;
}
.-my4-xl {
    margin-top: -$px32;
    margin-bottom: -$px32;
}
.-my5-xl {
    margin-top: -$px40;
    margin-bottom: -$px40;
}
.-my6-xl {
    margin-top: -$px48;
    margin-bottom: -$px48;
}
.-my7-xl {
    margin-top: -$px56;
    margin-bottom: -$px56;
}
.-my8-xl {
    margin-top: -$px64;
    margin-bottom: -$px64;
}

.mx0-xl {
    margin-left: 0;
    margin-right: 0;
}
.mx1-xl {
    margin-left: $px8;
    margin-right: $px8;
}
.mx2-xl {
    margin-left: $px16;
    margin-right: $px16;
}
.mx3-xl {
    margin-left: $px24;
    margin-right: $px24;
}
.mx4-xl {
    margin-left: $px32;
    margin-right: $px32;
}
.mx5-xl {
    margin-left: $px40;
    margin-right: $px40;
}
.mx6-xl {
    margin-left: $px48;
    margin-right: $px48;
}
.mx7-xl {
    margin-left: $px56;
    margin-right: $px56;
}
.mx8-xl {
    margin-left: $px64;
    margin-right: $px64;
}

.-mx1-xl {
    margin-left: -$px8;
    margin-right: -$px8;
}
.-mx2-xl {
    margin-left: -$px16;
    margin-right: -$px16;
}
.-mx3-xl {
    margin-left: -$px24;
    margin-right: -$px24;
}
.-mx4-xl {
    margin-left: -$px32;
    margin-right: -$px32;
}
.-mx5-xl {
    margin-left: -$px40;
    margin-right: -$px40;
}
.-mx6-xl {
    margin-left: -$px48;
    margin-right: -$px48;
}
.-mx7-xl {
    margin-left: -$px56;
    margin-right: -$px56;
}
.-mx8-xl {
    margin-left: -$px64;
    margin-right: -$px64;
}

.mt0-xl {
    margin-top: 0;
}
.mt1-xl {
    margin-top: $px8;
}
.mt2-xl {
    margin-top: $px16;
}
.mt3-xl {
    margin-top: $px24;
}
.mt4-xl {
    margin-top: $px32;
}
.mt5-xl {
    margin-top: $px40;
}
.mt6-xl {
    margin-top: $px48;
}
.mt7-xl {
    margin-top: $px56;
}
.mt8-xl {
    margin-top: $px64;
}
.-mt1-xl {
    margin-top: -$px8;
}
.-mt2-xl {
    margin-top: -$px16;
}
.-mt3-xl {
    margin-top: -$px24;
}
.-mt4-xl {
    margin-top: -$px32;
}
.-mt5-xl {
    margin-top: -$px40;
}
.-mt6-xl {
    margin-top: -$px48;
}
.-mt7-xl {
    margin-top: -$px56;
}
.-mt8-xl {
    margin-top: -$px64;
}

.mr0-xl {
    margin-right: 0;
}
.mr1-xl {
    margin-right: $px8;
}
.mr2-xl {
    margin-right: $px16;
}
.mr3-xl {
    margin-right: $px24;
}
.mr4-xl {
    margin-right: $px32;
}
.mr5-xl {
    margin-right: $px40;
}
.mr6-xl {
    margin-right: $px48;
}
.mr7-xl {
    margin-right: $px56;
}
.mr8-xl {
    margin-right: $px64;
}

.-mr1-xl {
    margin-right: -$px8;
}
.-mr2-xl {
    margin-right: -$px16;
}
.-mr3-xl {
    margin-right: -$px24;
}
.-mr4-xl {
    margin-right: -$px32;
}
.-mr5-xl {
    margin-right: -$px40;
}
.-mr6-xl {
    margin-right: -$px48;
}
.-mr7-xl {
    margin-right: -$px56;
}
.-mr8-xl {
    margin-right: -$px64;
}

.mb0-xl {
    margin-bottom: 0;
}
.mb1-xl {
    margin-bottom: $px8;
}
.mb2-xl {
    margin-bottom: $px16;
}
.mb3-xl {
    margin-bottom: $px24;
}
.mb4-xl {
    margin-bottom: $px32;
}
.mb5-xl {
    margin-bottom: $px40;
}
.mb6-xl {
    margin-bottom: $px48;
}
.mb7-xl {
    margin-bottom: $px56;
}
.mb8-xl {
    margin-bottom: $px64;
}

.-mb1-xl {
    margin-bottom: -$px8;
}
.-mb2-xl {
    margin-bottom: -$px16;
}
.-mb3-xl {
    margin-bottom: -$px24;
}
.-mb4-xl {
    margin-bottom: -$px32;
}
.-mb5-xl {
    margin-bottom: -$px40;
}
.-mb6-xl {
    margin-bottom: -$px48;
}
.-mb7-xl {
    margin-bottom: -$px56;
}
.-mb8-xl {
    margin-bottom: -$px64;
}

.ml0-xl {
    margin-left: 0;
}
.ml1-xl {
    margin-left: $px8;
}
.ml2-xl {
    margin-left: $px16;
}
.ml3-xl {
    margin-left: $px24;
}
.ml4-xl {
    margin-left: $px32;
}
.ml5-xl {
    margin-left: $px40;
}
.ml6-xl {
    margin-left: $px48;
}
.ml7-xl {
    margin-left: $px56;
}
.ml8-xl {
    margin-left: $px64;
}

.-ml1-xl {
    margin-left: -$px8;
}
.-ml2-xl {
    margin-left: -$px16;
}
.-ml3-xl {
    margin-left: -$px24;
}
.-ml4-xl {
    margin-left: -$px32;
}
.-ml5-xl {
    margin-left: -$px40;
}
.-ml6-xl {
    margin-left: -$px48;
}
.-ml7-xl {
    margin-left: -$px56;
}
.-ml8-xl {
    margin-left: -$px64;
}

.mxa-xl {
    margin-left: auto;
    margin-right: auto;
}
.mya-xl {
    margin-top: auto;
    margin-bottom: auto;
}
.mla-xl {
    margin-left: auto;
}
.mra-xl {
    margin-right: auto;
}
.ma-xl {
    margin: auto;
}
.m0-xl {
    margin: 0;
}
