.minhfull-xl {
    min-height: 100%;
}

.minh100vh-xl {
    min-height: 100vh;
}

.maxhfull-xl {
    max-height: 100%;
}
.maxh100vh-xl {
    max-height: 100vh;
}

.minwfull-xl {
    min-width: 100%;
}
.maxwfull-xl {
    max-width: 100%;
}
