.minh0-xl {
    min-height: 0;
}

.minhfull-xl {
    min-height: 100%;
}

.minh100vh-xl {
    min-height: 100vh;
}

.maxhfull-xl {
    max-height: 100%;
}
.maxh100vh-xl {
    max-height: 100vh;
}

.minw0-xl {
    min-width: 0;
}

.minwfull-xl {
    min-width: 100%;
}
.maxwfull-xl {
    max-width: 100%;
}

.mw50\%-xl {
    max-width: 50%;
}
.mw33\%-xl {
    max-width: 33.33333333333333%;
}

.mwi-xl {
    max-width: inherit;
}
