.bia-xl {
    break-inside: avoid-column;
}
.cc1-xl {
    column-count: 1;
}
.cc2-xl {
    column-count: 2;
}
.cc3-xl {
    column-count: 3;
}
.cc4-xl {
    column-count: 4;
}
.cc5-xl {
    column-count: 5;
}
.cc6-xl {
    column-count: 6;
}
.cc7-xl {
    column-count: 7;
}
.cc8-xl {
    column-count: 8;
}
.cc9-xl {
    column-count: 9;
}
.cc10-xl {
    column-count: 10;
}
.cc11-xl {
    column-count: 11;
}
.cc12-xl {
    column-count: 12;
}

.caa-xl {
    column-span: all;
}
