.opt-xl {
    object-position: top;
}
.opb-xl {
    object-position: bottom;
}
.opl-xl {
    object-position: left;
}
.opr-xl {
    object-position: right;
}
.opc-xl {
    object-position: center;
}

.oplb-xl {
    object-position: left bottom;
}
.oplt-xl {
    object-position: left top;
}
.oprb-xl {
    object-position: right bottom;
}
.oprt-xl {
    object-position: right top;
}
