.oba-xl {
    overscroll-behavior: auto;
}
.obc-xl {
    overscroll-behavior: contain;
}
.obn-xl {
    overscroll-behavior: none;
}
.obya-xl {
    overscroll-behavior-y: auto;
}
.obyc-xl {
    overscroll-behavior-y: contain;
}
.obyn-xl {
    overscroll-behavior-y: none;
}
.obxa-xl {
    overscroll-behavior-x: auto;
}
.obxc-xl {
    overscroll-behavior-x: contain;
}
.obxn-xl {
    overscroll-behavior-x: none;
}
