.oa-xl {
    overflow: auto;
}
.oh-xl {
    overflow: hidden;
}
.ov-xl {
    overflow: visible;
}
.os-xl {
    overflow: scroll;
}
.oxa-xl {
    overflow-x: auto;
}
.oya-xl {
    overflow-y: auto;
}
.oxh-xl {
    overflow-x: hidden;
}
.oyh-xl {
    overflow-y: hidden;
}
.oxv-xl {
    overflow-x: visible;
}
.oyv-xl {
    overflow-y: visible;
}
.oxs-xl {
    overflow-x: scroll;
}
.oys-xl {
    overflow-y: scroll;
}
