.pxa-xl {
    padding-left: auto;
    padding-right: auto;
}
.pla-xl {
    padding-left: auto;
}
.pra-xl {
    padding-right: auto;
}
.p0-xl {
    padding: 0;
}
.p1-xl {
    padding: $px8;
}
.p2-xl {
    padding: $px16;
}
.p3-xl {
    padding: $px24;
}
.p4-xl {
    padding: $px32;
}
.p5-xl {
    padding: $px40;
}
.p6-xl {
    padding: $px48;
}
.p7-xl {
    padding: $px56;
}
.p8-xl {
    padding: $px64;
}
.py0-xl {
    padding-top: 0;
    padding-bottom: 0;
}
.py1-xl {
    padding-top: $px8;
    padding-bottom: $px8;
}
.py2-xl {
    padding-top: $px16;
    padding-bottom: $px16;
}
.py3-xl {
    padding-top: $px24;
    padding-bottom: $px24;
}
.py4-xl {
    padding-top: $px32;
    padding-bottom: $px32;
}
.py5-xl {
    padding-top: $px40;
    padding-bottom: $px40;
}
.py6-xl {
    padding-top: $px48;
    padding-bottom: $px48;
}
.py7-xl {
    padding-top: $px56;
    padding-bottom: $px56;
}
.py8-xl {
    padding-top: $px64;
    padding-bottom: $px64;
}

.px0-xl {
    padding-left: 0;
    padding-right: 0;
}
.px1-xl {
    padding-left: $px8;
    padding-right: $px8;
}
.px2-xl {
    padding-left: $px16;
    padding-right: $px16;
}
.px3-xl {
    padding-left: $px24;
    padding-right: $px24;
}
.px4-xl {
    padding-left: $px32;
    padding-right: $px32;
}
.px5-xl {
    padding-left: $px40;
    padding-right: $px40;
}
.px6-xl {
    padding-left: $px48;
    padding-right: $px48;
}
.px7-xl {
    padding-left: $px56;
    padding-right: $px56;
}
.px8-xl {
    padding-left: $px64;
    padding-right: $px64;
}

.pt0-xl {
    padding-top: 0;
}
.pt1-xl {
    padding-top: $px8;
}
.pt2-xl {
    padding-top: $px16;
}
.pt3-xl {
    padding-top: $px24;
}
.pt4-xl {
    padding-top: $px32;
}
.pt5-xl {
    padding-top: $px40;
}
.pt6-xl {
    padding-top: $px48;
}
.pt7-xl {
    padding-top: $px56;
}
.pt8-xl {
    padding-top: $px64;
}

.pr0-xl {
    padding-right: 0;
}
.pr1-xl {
    padding-right: $px8;
}
.pr2-xl {
    padding-right: $px16;
}
.pr3-xl {
    padding-right: $px24;
}
.pr4-xl {
    padding-right: $px32;
}
.pr5-xl {
    padding-right: $px40;
}
.pr6-xl {
    padding-right: $px48;
}
.pr7-xl {
    padding-right: $px56;
}
.pr8-xl {
    padding-right: $px64;
}

.pb0-xl {
    padding-bottom: 0;
}
.pb1-xl {
    padding-bottom: $px8;
}
.pb2-xl {
    padding-bottom: $px16;
}
.pb3-xl {
    padding-bottom: $px24;
}
.pb4-xl {
    padding-bottom: $px32;
}
.pb5-xl {
    padding-bottom: $px40;
}
.pb6-xl {
    padding-bottom: $px48;
}
.pb7-xl {
    padding-bottom: $px56;
}
.pb8-xl {
    padding-bottom: $px64;
}

.pl0-xl {
    padding-left: 0;
}
.pl1-xl {
    padding-left: $px8;
}
.pl2-xl {
    padding-left: $px16;
}
.pl3-xl {
    padding-left: $px24;
}
.pl4-xl {
    padding-left: $px32;
}
.pl5-xl {
    padding-left: $px40;
}
.pl6-xl {
    padding-left: $px48;
}
.pl7-xl {
    padding-left: $px56;
}
.pl8-xl {
    padding-left: $px64;
}
