.tal-xl {
    text-align: left;
}
.tac-xl {
    text-align: center;
}
.tar-xl {
    text-align: right;
}
.taj-xl {
    text-align: justify;
}
.talc-xl {
    text-align-last: center;
}
.talr-xl {
    text-align-last: right;
}
