.w8-xl {
  width: 8px;
}
.w16-xl {
  width: 16px;
}
.w24-xl {
  width: 24px;
}
.w32-xl {
  width: 32px;
}
.w40-xl {
  width: 40px;
}
.w48-xl {
  width: 48px;
}
.w56-xl {
  width: 56px;
}
.w64-xl {
  width: 64px;
}
.w72-xl {
  width: 72px;
}
.w80-xl {
  width: 80px;
}
.w100-xl {
  width: 100px;
}

.w1pct-xl {
  width: 8.333333333333333%;
}
.w2pct-xl {
  width: 16.66666666666667%;
}
.w3pct-xl {
  width: 25%;
}
.w4pct-xl {
  width: 33.33333333333333%;
}
.w5pct-xl {
  width: 41.66666666666667%;
}
.w6pct-xl {
  width: 50%;
}
.w7pct-xl {
  width: 58.33333333333334%;
}
.w8pct-xl {
  width: 66.66666666666667%;
}
.w9pct-xl {
  width: 75%;
}
.w10pct-xl {
  width: 83.33333333333334%;
}
.w11pct-xl {
  width: 91.66666666666667%;
}

.wfull-xl,
.w12pct-xl {
  width: 100%;
}
.wa-xl {
  width: auto;
}
.wfc-xl {
  width: fit-content;
}
