.w8-xl {
    width: 8px;
}
.w16-xl {
    width: 16px;
}
.w24-xl {
    width: 24px;
}
.w32-xl {
    width: 32px;
}
.w40-xl {
    width: 40px;
}
.w48-xl {
    width: 48px;
}
.w56-xl {
    width: 56px;
}
.w64-xl {
    width: 64px;
}
.w72-xl {
    width: 72px;
}
.w80-xl {
    width: 80px;
}
.w100-xl {
    width: 100px;
}

.wfull-xl {
    width: 100%;
}
.wa-xl {
    width: auto;
}
