.bgaf-md {
    background-attachment: fixed;
}
.bgal-md {
    background-attachment: local;
}
.bgas-md {
    background-attachment: scroll;
}

.bgpt-md {
    background-position: top;
}
.bgpb-md {
    background-position: bottom;
}
.bgpc-md {
    background-position: center;
}
.bgpl-md {
    background-position: left;
}
.bgpr-md {
    background-position: right;
}
.bgplb-md {
    background-position: left bottom;
}
.bgplt-md {
    background-position: left top;
}
.bgprt-md {
    background-position: right top;
}
.bgprb-md {
    background-position: right bottom;
}
.bgrr-md {
    background-repeat: repeat;
}
.bgrnr-md {
    background-repeat: no-repeat;
}
.bgrrx-md {
    background-repeat: repeat-x;
}
.bgrry-md {
    background-repeat: repeat-y;
}
.bgs-cover-md {
    background-size: cover;
}
.bgs-contain-md {
    background-size: contain;
}
.bgs-auto-md {
    background-size: auto;
}

.bn-md {
    background: none;
}
.bgct-md {
    background-color: transparent;
}
