.primary-md {
    color: $primary;
}
.secondary-md {
    color: $secondary;
}
.tertiary-md {
    color: $tertiary;
}

// colors
.transparent-md {
    color: transparent;
}
.white-md {
    color: $white;
}

.black-md {
    color: $black;
}
.black-light-100-md {
    color: $black-light-100;
}
.black-light-200-md {
    color: $black-light-200;
}
.black-light-300-md {
    color: $black-light-300;
}
.black-light-400-md {
    color: $black-light-400;
}
.black-light-500-md {
    color: $black-light-500;
}
.black-light-600-md {
    color: $black-light-600;
}

.red-md {
    color: $red;
}

.red-light-100-md {
    color: $red-light-100;
}
.red-light-200-md {
    color: $red-light-200;
}
.red-light-300-md {
    color: $red-light-300;
}
.red-light-400-md {
    color: $red-light-400;
}
.red-light-500-md {
    color: $red-light-500;
}
.red-light-600-md {
    color: $red-light-600;
}

.red-dark-100-md {
    color: $red-dark-100;
}
.red-dark-200-md {
    color: $red-dark-200;
}
.red-dark-300-md {
    color: $red-dark-300;
}
.red-dark-400-md {
    color: $red-dark-400;
}
.red-dark-500-md {
    color: $red-dark-500;
}
.red-dark-600-md {
    color: $red-dark-600;
}

.blue-md {
    color: $blue;
}

.blue-light-100-md {
    color: $blue-light-100;
}
.blue-light-200-md {
    color: $blue-light-200;
}
.blue-light-300-md {
    color: $blue-light-300;
}
.blue-light-400-md {
    color: $blue-light-400;
}
.blue-light-500-md {
    color: $blue-light-500;
}
.blue-light-600-md {
    color: $blue-light-600;
}

.blue-dark-100-md {
    color: $blue-dark-100;
}
.blue-dark-200-md {
    color: $blue-dark-200;
}
.blue-dark-300-md {
    color: $blue-dark-300;
}
.blue-dark-400-md {
    color: $blue-dark-400;
}
.blue-dark-500-md {
    color: $blue-dark-500;
}
.blue-dark-600-md {
    color: $blue-dark-600;
}

.brown-md {
    color: $brown;
}

.brown-light-100-md {
    color: $brown-light-100;
}
.brown-light-200-md {
    color: $brown-light-200;
}
.brown-light-300-md {
    color: $brown-light-300;
}
.brown-light-400-md {
    color: $brown-light-400;
}
.brown-light-500-md {
    color: $brown-light-500;
}
.brown-light-600-md {
    color: $brown-light-600;
}

.brown-dark-100-md {
    color: $brown-dark-100;
}
.brown-dark-200-md {
    color: $brown-dark-200;
}
.brown-dark-300-md {
    color: $brown-dark-300;
}
.brown-dark-400-md {
    color: $brown-dark-400;
}
.brown-dark-500-md {
    color: $brown-dark-500;
}
.brown-dark-600-md {
    color: $brown-dark-600;
}

.gray-md {
    color: $gray;
}

.gray-light-100-md {
    color: $gray-light-100;
}
.gray-light-200-md {
    color: $gray-light-200;
}
.gray-light-300-md {
    color: $gray-light-300;
}
.gray-light-400-md {
    color: $gray-light-400;
}
.gray-light-500-md {
    color: $gray-light-500;
}
.gray-light-600-md {
    color: $gray-light-600;
}

.gray-dark-100-md {
    color: $gray-dark-100;
}
.gray-dark-200-md {
    color: $gray-dark-200;
}
.gray-dark-300-md {
    color: $gray-dark-300;
}
.gray-dark-400-md {
    color: $gray-dark-400;
}
.gray-dark-500-md {
    color: $gray-dark-500;
}
.gray-dark-600-md {
    color: $gray-dark-600;
}

.green-md {
    color: $green;
}

.green-light-100-md {
    color: $green-light-100;
}
.green-light-200-md {
    color: $green-light-200;
}
.green-light-300-md {
    color: $green-light-300;
}
.green-light-400-md {
    color: $green-light-400;
}
.green-light-500-md {
    color: $green-light-500;
}
.green-light-600-md {
    color: $green-light-600;
}

.green-dark-100-md {
    color: $green-dark-100;
}
.green-dark-200-md {
    color: $green-dark-200;
}
.green-dark-300-md {
    color: $green-dark-300;
}
.green-dark-400-md {
    color: $green-dark-400;
}
.green-dark-500-md {
    color: $green-dark-500;
}
.green-dark-600-md {
    color: $green-dark-600;
}

.orange-md {
    color: $orange;
}

.orange-light-100-md {
    color: $orange-light-100;
}
.orange-light-200-md {
    color: $orange-light-200;
}
.orange-light-300-md {
    color: $orange-light-300;
}
.orange-light-400-md {
    color: $orange-light-400;
}
.orange-light-500-md {
    color: $orange-light-500;
}
.orange-light-600-md {
    color: $orange-light-600;
}

.orange-dark-100-md {
    color: $orange-dark-100;
}
.orange-dark-200-md {
    color: $orange-dark-200;
}
.orange-dark-300-md {
    color: $orange-dark-300;
}
.orange-dark-400-md {
    color: $orange-dark-400;
}
.orange-dark-500-md {
    color: $orange-dark-500;
}
.orange-dark-600-md {
    color: $orange-dark-600;
}

.pink-md {
    color: $pink;
}

.pink-light-100-md {
    color: $pink-light-100;
}
.pink-light-200-md {
    color: $pink-light-200;
}
.pink-light-300-md {
    color: $pink-light-300;
}
.pink-light-400-md {
    color: $pink-light-400;
}
.pink-light-500-md {
    color: $pink-light-500;
}
.pink-light-600-md {
    color: $pink-light-600;
}

.pink-dark-100-md {
    color: $pink-dark-100;
}
.pink-dark-200-md {
    color: $pink-dark-200;
}
.pink-dark-300-md {
    color: $pink-dark-300;
}
.pink-dark-400-md {
    color: $pink-dark-400;
}
.pink-dark-500-md {
    color: $pink-dark-500;
}
.pink-dark-600-md {
    color: $pink-dark-600;
}

.purple-md {
    color: $purple;
}

.purple-light-100-md {
    color: $purple-light-100;
}
.purple-light-200-md {
    color: $purple-light-200;
}
.purple-light-300-md {
    color: $purple-light-300;
}
.purple-light-400-md {
    color: $purple-light-400;
}
.purple-light-500-md {
    color: $purple-light-500;
}
.purple-light-600-md {
    color: $purple-light-600;
}

.purple-dark-100-md {
    color: $purple-dark-100;
}
.purple-dark-200-md {
    color: $purple-dark-200;
}
.purple-dark-300-md {
    color: $purple-dark-300;
}
.purple-dark-400-md {
    color: $purple-dark-400;
}
.purple-dark-500-md {
    color: $purple-dark-500;
}
.purple-dark-600-md {
    color: $purple-dark-600;
}

.yellow-md {
    color: $yellow;
}

.yellow-light-100-md {
    color: $yellow-light-100;
}
.yellow-light-200-md {
    color: $yellow-light-200;
}
.yellow-light-300-md {
    color: $yellow-light-300;
}
.yellow-light-400-md {
    color: $yellow-light-400;
}
.yellow-light-500-md {
    color: $yellow-light-500;
}
.yellow-light-600-md {
    color: $yellow-light-600;
}

.yellow-dark-100-md {
    color: $yellow-dark-100;
}
.yellow-dark-200-md {
    color: $yellow-dark-200;
}
.yellow-dark-300-md {
    color: $yellow-dark-300;
}
.yellow-dark-400-md {
    color: $yellow-dark-400;
}
.yellow-dark-500-md {
    color: $yellow-dark-500;
}
.yellow-dark-600-md {
    color: $yellow-dark-600;
}

.ci-md {
    color: inherit;
}

// BACKGROUND COLORS

.bct-md {
    background-color: transparent;
}

.bg-primary-md {
    background-color: $primary;
}
.bg-secondary-md {
    background-color: $secondary;
}
.bg-tertiary-md {
    background-color: $tertiary;
}

.bg-white-md {
    background-color: $white;
}

.bg-black-md {
    background-color: $black;
}
.bg-black-light-100-md {
    background-color: $black-light-100;
}
.bg-black-light-200-md {
    background-color: $black-light-200;
}
.bg-black-light-300-md {
    background-color: $black-light-300;
}
.bg-black-light-400-md {
    background-color: $black-light-400;
}
.bg-black-light-500-md {
    background-color: $black-light-500;
}
.bg-black-light-600-md {
    background-color: $black-light-600;
}

.bg-red-md {
    background-color: $red;
}
.bg-red-light-100-md {
    background-color: $red-light-100;
}
.bg-red-light-200-md {
    background-color: $red-light-200;
}
.bg-red-light-300-md {
    background-color: $red-light-300;
}
.bg-red-light-400-md {
    background-color: $red-light-400;
}
.bg-red-light-500-md {
    background-color: $red-light-500;
}
.bg-red-light-600-md {
    background-color: $red-light-600;
}

.bg-red-dark-100-md {
    background-color: $red-dark-100;
}
.bg-red-dark-200-md {
    background-color: $red-dark-200;
}
.bg-red-dark-300-md {
    background-color: $red-dark-300;
}
.bg-red-dark-400-md {
    background-color: $red-dark-400;
}
.bg-red-dark-500-md {
    background-color: $red-dark-500;
}
.bg-red-dark-600-md {
    background-color: $red-dark-600;
}

.bg-blue-md {
    background-color: $blue;
}
.bg-blue-light-100-md {
    background-color: $blue-light-100;
}
.bg-blue-light-200-md {
    background-color: $blue-light-200;
}
.bg-blue-light-300-md {
    background-color: $blue-light-300;
}
.bg-blue-light-400-md {
    background-color: $blue-light-400;
}
.bg-blue-light-500-md {
    background-color: $blue-light-500;
}
.bg-blue-light-600-md {
    background-color: $blue-light-600;
}

.bg-blue-dark-100-md {
    background-color: $blue-dark-100;
}
.bg-blue-dark-200-md {
    background-color: $blue-dark-200;
}
.bg-blue-dark-300-md {
    background-color: $blue-dark-300;
}
.bg-blue-dark-400-md {
    background-color: $blue-dark-400;
}
.bg-blue-dark-500-md {
    background-color: $blue-dark-500;
}
.bg-blue-dark-600-md {
    background-color: $blue-dark-600;
}

.bg-brown-md {
    background-color: $brown;
}
.bg-brown-light-100-md {
    background-color: $brown-light-100;
}
.bg-brown-light-200-md {
    background-color: $brown-light-200;
}
.bg-brown-light-300-md {
    background-color: $brown-light-300;
}
.bg-brown-light-400-md {
    background-color: $brown-light-400;
}
.bg-brown-light-500-md {
    background-color: $brown-light-500;
}
.bg-brown-light-600-md {
    background-color: $brown-light-600;
}

.bg-brown-dark-100-md {
    background-color: $brown-dark-100;
}
.bg-brown-dark-200-md {
    background-color: $brown-dark-200;
}
.bg-brown-dark-300-md {
    background-color: $brown-dark-300;
}
.bg-brown-dark-400-md {
    background-color: $brown-dark-400;
}
.bg-brown-dark-500-md {
    background-color: $brown-dark-500;
}
.bg-brown-dark-600-md {
    background-color: $brown-dark-600;
}

.bg-gray-md {
    background-color: $gray;
}
.bg-gray-light-100-md {
    background-color: $gray-light-100;
}
.bg-gray-light-200-md {
    background-color: $gray-light-200;
}
.bg-gray-light-300-md {
    background-color: $gray-light-300;
}
.bg-gray-light-400-md {
    background-color: $gray-light-400;
}
.bg-gray-light-500-md {
    background-color: $gray-light-500;
}
.bg-gray-light-600-md {
    background-color: $gray-light-600;
}

.bg-gray-dark-100-md {
    background-color: $gray-dark-100;
}
.bg-gray-dark-200-md {
    background-color: $gray-dark-200;
}
.bg-gray-dark-300-md {
    background-color: $gray-dark-300;
}
.bg-gray-dark-400-md {
    background-color: $gray-dark-400;
}
.bg-gray-dark-500-md {
    background-color: $gray-dark-500;
}
.bg-gray-dark-600-md {
    background-color: $gray-dark-600;
}

.bg-green-md {
    background-color: $green;
}
.bg-green-light-100-md {
    background-color: $green-light-100;
}
.bg-green-light-200-md {
    background-color: $green-light-200;
}
.bg-green-light-300-md {
    background-color: $green-light-300;
}
.bg-green-light-400-md {
    background-color: $green-light-400;
}
.bg-green-light-500-md {
    background-color: $green-light-500;
}
.bg-green-light-600-md {
    background-color: $green-light-600;
}

.bg-green-dark-100-md {
    background-color: $green-dark-100;
}
.bg-green-dark-200-md {
    background-color: $green-dark-200;
}
.bg-green-dark-300-md {
    background-color: $green-dark-300;
}
.bg-green-dark-400-md {
    background-color: $green-dark-400;
}
.bg-green-dark-500-md {
    background-color: $green-dark-500;
}
.bg-green-dark-600-md {
    background-color: $green-dark-600;
}

.bg-orange-md {
    background-color: $orange;
}
.bg-orange-light-100-md {
    background-color: $orange-light-100;
}
.bg-orange-light-200-md {
    background-color: $orange-light-200;
}
.bg-orange-light-300-md {
    background-color: $orange-light-300;
}
.bg-orange-light-400-md {
    background-color: $orange-light-400;
}
.bg-orange-light-500-md {
    background-color: $orange-light-500;
}
.bg-orange-light-600-md {
    background-color: $orange-light-600;
}

.bg-orange-dark-100-md {
    background-color: $orange-dark-100;
}
.bg-orange-dark-200-md {
    background-color: $orange-dark-200;
}
.bg-orange-dark-300-md {
    background-color: $orange-dark-300;
}
.bg-orange-dark-400-md {
    background-color: $orange-dark-400;
}
.bg-orange-dark-500-md {
    background-color: $orange-dark-500;
}
.bg-orange-dark-600-md {
    background-color: $orange-dark-600;
}

.bg-pink-md {
    background-color: $pink;
}
.bg-pink-light-100-md {
    background-color: $pink-light-100;
}
.bg-pink-light-200-md {
    background-color: $pink-light-200;
}
.bg-pink-light-300-md {
    background-color: $pink-light-300;
}
.bg-pink-light-400-md {
    background-color: $pink-light-400;
}
.bg-pink-light-500-md {
    background-color: $pink-light-500;
}
.bg-pink-light-600-md {
    background-color: $pink-light-600;
}

.bg-pink-dark-100-md {
    background-color: $pink-dark-100;
}
.bg-pink-dark-200-md {
    background-color: $pink-dark-200;
}
.bg-pink-dark-300-md {
    background-color: $pink-dark-300;
}
.bg-pink-dark-400-md {
    background-color: $pink-dark-400;
}
.bg-pink-dark-500-md {
    background-color: $pink-dark-500;
}
.bg-pink-dark-600-md {
    background-color: $pink-dark-600;
}

.bg-purple-md {
    background-color: $purple;
}
.bg-purple-light-100-md {
    background-color: $purple-light-100;
}
.bg-purple-light-200-md {
    background-color: $purple-light-200;
}
.bg-purple-light-300-md {
    background-color: $purple-light-300;
}
.bg-purple-light-400-md {
    background-color: $purple-light-400;
}
.bg-purple-light-500-md {
    background-color: $purple-light-500;
}
.bg-purple-light-600-md {
    background-color: $purple-light-600;
}

.bg-purple-dark-100-md {
    background-color: $purple-dark-100;
}
.bg-purple-dark-200-md {
    background-color: $purple-dark-200;
}
.bg-purple-dark-300-md {
    background-color: $purple-dark-300;
}
.bg-purple-dark-400-md {
    background-color: $purple-dark-400;
}
.bg-purple-dark-500-md {
    background-color: $purple-dark-500;
}
.bg-purple-dark-600-md {
    background-color: $purple-dark-600;
}

.bg-yellow-md {
    background-color: $yellow;
}
.bg-yellow-light-100-md {
    background-color: $yellow-light-100;
}
.bg-yellow-light-200-md {
    background-color: $yellow-light-200;
}
.bg-yellow-light-300-md {
    background-color: $yellow-light-300;
}
.bg-yellow-light-400-md {
    background-color: $yellow-light-400;
}
.bg-yellow-light-500-md {
    background-color: $yellow-light-500;
}
.bg-yellow-light-600-md {
    background-color: $yellow-light-600;
}

.bg-yellow-dark-100-md {
    background-color: $yellow-dark-100;
}
.bg-yellow-dark-200-md {
    background-color: $yellow-dark-200;
}
.bg-yellow-dark-300-md {
    background-color: $yellow-dark-300;
}
.bg-yellow-dark-400-md {
    background-color: $yellow-dark-400;
}
.bg-yellow-dark-500-md {
    background-color: $yellow-dark-500;
}
.bg-yellow-dark-600-md {
    background-color: $yellow-dark-600;
}

// HOVER COLORS

.hover-primary-md {
    &:hover-md {
        color: $primary;
    }
}
.hover-secondary-md {
    &:hover-md {
        color: $secondary;
    }
}
.hover-tertiary-md {
    &:hover-md {
        color: $tertiary;
    }
}

.hover-white-md {
    &:hover-md {
        color: $white;
    }
}
.hover-black-md {
    &:hover-md {
        color: $black;
    }
}
.hover-black-light-100-md {
    &:hover-md {
        color: $black-light-100;
    }
}
.hover-black-light-200-md {
    &:hover-md {
        color: $black-light-200;
    }
}
.hover-black-light-300-md {
    &:hover-md {
        color: $black-light-300;
    }
}
.hover-black-light-400-md {
    &:hover-md {
        color: $black-light-400;
    }
}
.hover-black-light-500-md {
    &:hover-md {
        color: $black-light-500;
    }
}
.hover-black-light-600-md {
    &:hover-md {
        color: $black-light-600;
    }
}

.hover-red-md {
    &:hover-md {
        color: $red;
    }
}
.hover-red-light-100-md {
    &:hover-md {
        color: $red-light-100;
    }
}
.hover-red-light-200-md {
    &:hover-md {
        color: $red-light-200;
    }
}
.hover-red-light-300-md {
    &:hover-md {
        color: $red-light-300;
    }
}
.hover-red-light-400-md {
    &:hover-md {
        color: $red-light-400;
    }
}
.hover-red-light-500-md {
    &:hover-md {
        color: $red-light-500;
    }
}
.hover-red-light-600-md {
    &:hover-md {
        color: $red-light-600;
    }
}

.hover-red-dark-100-md {
    &:hover-md {
        color: $red-dark-100;
    }
}
.hover-red-dark-200-md {
    &:hover-md {
        color: $red-dark-200;
    }
}
.hover-red-dark-300-md {
    &:hover-md {
        color: $red-dark-300;
    }
}
.hover-red-dark-400-md {
    &:hover-md {
        color: $red-dark-400;
    }
}
.hover-red-dark-500-md {
    &:hover-md {
        color: $red-dark-500;
    }
}
.hover-red-dark-600-md {
    &:hover-md {
        color: $red-dark-600;
    }
}

.hover-blue-md {
    &:hover-md {
        color: $blue;
    }
}
.hover-blue-light-100-md {
    &:hover-md {
        color: $blue-light-100;
    }
}
.hover-blue-light-200-md {
    &:hover-md {
        color: $blue-light-200;
    }
}
.hover-blue-light-300-md {
    &:hover-md {
        color: $blue-light-300;
    }
}
.hover-blue-light-400-md {
    &:hover-md {
        color: $blue-light-400;
    }
}
.hover-blue-light-500-md {
    &:hover-md {
        color: $blue-light-500;
    }
}
.hover-blue-light-600-md {
    &:hover-md {
        color: $blue-light-600;
    }
}

.hover-blue-dark-100-md {
    &:hover-md {
        color: $blue-dark-100;
    }
}
.hover-blue-dark-200-md {
    &:hover-md {
        color: $blue-dark-200;
    }
}
.hover-blue-dark-300-md {
    &:hover-md {
        color: $blue-dark-300;
    }
}
.hover-blue-dark-400-md {
    &:hover-md {
        color: $blue-dark-400;
    }
}
.hover-blue-dark-500-md {
    &:hover-md {
        color: $blue-dark-500;
    }
}
.hover-blue-dark-600-md {
    &:hover-md {
        color: $blue-dark-600;
    }
}

.hover-brown-md {
    &:hover-md {
        color: $brown;
    }
}
.hover-brown-light-100-md {
    &:hover-md {
        color: $brown-light-100;
    }
}
.hover-brown-light-200-md {
    &:hover-md {
        color: $brown-light-200;
    }
}
.hover-brown-light-300-md {
    &:hover-md {
        color: $brown-light-300;
    }
}
.hover-brown-light-400-md {
    &:hover-md {
        color: $brown-light-400;
    }
}
.hover-brown-light-500-md {
    &:hover-md {
        color: $brown-light-500;
    }
}
.hover-brown-light-600-md {
    &:hover-md {
        color: $brown-light-600;
    }
}

.hover-brown-dark-100-md {
    &:hover-md {
        color: $brown-dark-100;
    }
}
.hover-brown-dark-200-md {
    &:hover-md {
        color: $brown-dark-200;
    }
}
.hover-brown-dark-300-md {
    &:hover-md {
        color: $brown-dark-300;
    }
}
.hover-brown-dark-400-md {
    &:hover-md {
        color: $brown-dark-400;
    }
}
.hover-brown-dark-500-md {
    &:hover-md {
        color: $brown-dark-500;
    }
}
.hover-brown-dark-600-md {
    &:hover-md {
        color: $brown-dark-600;
    }
}

.hover-gray-md {
    &:hover-md {
        color: $gray;
    }
}
.hover-gray-light-100-md {
    &:hover-md {
        color: $gray-light-100;
    }
}
.hover-gray-light-200-md {
    &:hover-md {
        color: $gray-light-200;
    }
}
.hover-gray-light-300-md {
    &:hover-md {
        color: $gray-light-300;
    }
}
.hover-gray-light-400-md {
    &:hover-md {
        color: $gray-light-400;
    }
}
.hover-gray-light-500-md {
    &:hover-md {
        color: $gray-light-500;
    }
}
.hover-gray-light-600-md {
    &:hover-md {
        color: $gray-light-600;
    }
}

.hover-gray-dark-100-md {
    &:hover-md {
        color: $gray-dark-100;
    }
}
.hover-gray-dark-200-md {
    &:hover-md {
        color: $gray-dark-200;
    }
}
.hover-gray-dark-300-md {
    &:hover-md {
        color: $gray-dark-300;
    }
}
.hover-gray-dark-400-md {
    &:hover-md {
        color: $gray-dark-400;
    }
}
.hover-gray-dark-500-md {
    &:hover-md {
        color: $gray-dark-500;
    }
}
.hover-gray-dark-600-md {
    &:hover-md {
        color: $gray-dark-600;
    }
}

.hover-green-md {
    &:hover-md {
        color: $green;
    }
}
.hover-green-light-100-md {
    &:hover-md {
        color: $green-light-100;
    }
}
.hover-green-light-200-md {
    &:hover-md {
        color: $green-light-200;
    }
}
.hover-green-light-300-md {
    &:hover-md {
        color: $green-light-300;
    }
}
.hover-green-light-400-md {
    &:hover-md {
        color: $green-light-400;
    }
}
.hover-green-light-500-md {
    &:hover-md {
        color: $green-light-500;
    }
}
.hover-green-light-600-md {
    &:hover-md {
        color: $green-light-600;
    }
}

.hover-green-dark-100-md {
    &:hover-md {
        color: $green-dark-100;
    }
}
.hover-green-dark-200-md {
    &:hover-md {
        color: $green-dark-200;
    }
}
.hover-green-dark-300-md {
    &:hover-md {
        color: $green-dark-300;
    }
}
.hover-green-dark-400-md {
    &:hover-md {
        color: $green-dark-400;
    }
}
.hover-green-dark-500-md {
    &:hover-md {
        color: $green-dark-500;
    }
}
.hover-green-dark-600-md {
    &:hover-md {
        color: $green-dark-600;
    }
}

.hover-orange-md {
    &:hover-md {
        color: $orange;
    }
}
.hover-orange-light-100-md {
    &:hover-md {
        color: $orange-light-100;
    }
}
.hover-orange-light-200-md {
    &:hover-md {
        color: $orange-light-200;
    }
}
.hover-orange-light-300-md {
    &:hover-md {
        color: $orange-light-300;
    }
}
.hover-orange-light-400-md {
    &:hover-md {
        color: $orange-light-400;
    }
}
.hover-orange-light-500-md {
    &:hover-md {
        color: $orange-light-500;
    }
}
.hover-orange-light-600-md {
    &:hover-md {
        color: $orange-light-600;
    }
}

.hover-orange-dark-100-md {
    &:hover-md {
        color: $orange-dark-100;
    }
}
.hover-orange-dark-200-md {
    &:hover-md {
        color: $orange-dark-200;
    }
}
.hover-orange-dark-300-md {
    &:hover-md {
        color: $orange-dark-300;
    }
}
.hover-orange-dark-400-md {
    &:hover-md {
        color: $orange-dark-400;
    }
}
.hover-orange-dark-500-md {
    &:hover-md {
        color: $orange-dark-500;
    }
}
.hover-orange-dark-600-md {
    &:hover-md {
        color: $orange-dark-600;
    }
}

.hover-pink-md {
    &:hover-md {
        color: $pink;
    }
}
.hover-pink-light-100-md {
    &:hover-md {
        color: $pink-light-100;
    }
}
.hover-pink-light-200-md {
    &:hover-md {
        color: $pink-light-200;
    }
}
.hover-pink-light-300-md {
    &:hover-md {
        color: $pink-light-300;
    }
}
.hover-pink-light-400-md {
    &:hover-md {
        color: $pink-light-400;
    }
}
.hover-pink-light-500-md {
    &:hover-md {
        color: $pink-light-500;
    }
}
.hover-pink-light-600-md {
    &:hover-md {
        color: $pink-light-600;
    }
}

.hover-pink-dark-100-md {
    &:hover-md {
        color: $pink-dark-100;
    }
}
.hover-pink-dark-200-md {
    &:hover-md {
        color: $pink-dark-200;
    }
}
.hover-pink-dark-300-md {
    &:hover-md {
        color: $pink-dark-300;
    }
}
.hover-pink-dark-400-md {
    &:hover-md {
        color: $pink-dark-400;
    }
}
.hover-pink-dark-500-md {
    &:hover-md {
        color: $pink-dark-500;
    }
}
.hover-pink-dark-600-md {
    &:hover-md {
        color: $pink-dark-600;
    }
}

.hover-purple-md {
    &:hover-md {
        color: $purple;
    }
}
.hover-purple-light-100-md {
    &:hover-md {
        color: $purple-light-100;
    }
}
.hover-purple-light-200-md {
    &:hover-md {
        color: $purple-light-200;
    }
}
.hover-purple-light-300-md {
    &:hover-md {
        color: $purple-light-300;
    }
}
.hover-purple-light-400-md {
    &:hover-md {
        color: $purple-light-400;
    }
}
.hover-purple-light-500-md {
    &:hover-md {
        color: $purple-light-500;
    }
}
.hover-purple-light-600-md {
    &:hover-md {
        color: $purple-light-600;
    }
}

.hover-purple-dark-100-md {
    &:hover-md {
        color: $purple-dark-100;
    }
}
.hover-purple-dark-200-md {
    &:hover-md {
        color: $purple-dark-200;
    }
}
.hover-purple-dark-300-md {
    &:hover-md {
        color: $purple-dark-300;
    }
}
.hover-purple-dark-400-md {
    &:hover-md {
        color: $purple-dark-400;
    }
}
.hover-purple-dark-500-md {
    &:hover-md {
        color: $purple-dark-500;
    }
}
.hover-purple-dark-600-md {
    &:hover-md {
        color: $purple-dark-600;
    }
}

.hover-yellow-md {
    &:hover-md {
        color: $yellow;
    }
}
.hover-yellow-light-100-md {
    &:hover-md {
        color: $yellow-light-100;
    }
}
.hover-yellow-light-200-md {
    &:hover-md {
        color: $yellow-light-200;
    }
}
.hover-yellow-light-300-md {
    &:hover-md {
        color: $yellow-light-300;
    }
}
.hover-yellow-light-400-md {
    &:hover-md {
        color: $yellow-light-400;
    }
}
.hover-yellow-light-500-md {
    &:hover-md {
        color: $yellow-light-500;
    }
}
.hover-yellow-light-600-md {
    &:hover-md {
        color: $yellow-light-600;
    }
}

.hover-yellow-dark-100-md {
    &:hover-md {
        color: $yellow-dark-100;
    }
}
.hover-yellow-dark-200-md {
    &:hover-md {
        color: $yellow-dark-200;
    }
}
.hover-yellow-dark-300-md {
    &:hover-md {
        color: $yellow-dark-300;
    }
}
.hover-yellow-dark-400-md {
    &:hover-md {
        color: $yellow-dark-400;
    }
}
.hover-yellow-dark-500-md {
    &:hover-md {
        color: $yellow-dark-500;
    }
}
.hover-yellow-dark-600-md {
    &:hover-md {
        color: $yellow-dark-600;
    }
}

// HOVER BACKGROUND COLORS

.hover-bg-primary-md {
    &:hover-md {
        background-color: $primary;
    }
}
.hover-bg-secondary-md {
    &:hover-md {
        background-color: $secondary;
    }
}
.hover-bg-tertiary-md {
    &:hover-md {
        background-color: $tertiary;
    }
}

.hover-bg-white-md {
    &:hover-md {
        background-color: $white;
    }
}

.hover-bg-black-md {
    &:hover-md {
        background-color: $black;
    }
}
.hover-bg-black-light-100-md {
    &:hover-md {
        background-color: $black-light-100;
    }
}
.hover-bg-black-light-200-md {
    &:hover-md {
        background-color: $black-light-200;
    }
}
.hover-bg-black-light-300-md {
    &:hover-md {
        background-color: $black-light-300;
    }
}
.hover-bg-black-light-400-md {
    &:hover-md {
        background-color: $black-light-400;
    }
}
.hover-bg-black-light-500-md {
    &:hover-md {
        background-color: $black-light-500;
    }
}
.hover-bg-black-light-600-md {
    &:hover-md {
        background-color: $black-light-600;
    }
}

.hover-bg-red-md {
    &:hover-md {
        background-color: $red;
    }
}
.hover-bg-red-light-100-md {
    &:hover-md {
        background-color: $red-light-100;
    }
}
.hover-bg-red-light-200-md {
    &:hover-md {
        background-color: $red-light-200;
    }
}
.hover-bg-red-light-300-md {
    &:hover-md {
        background-color: $red-light-300;
    }
}
.hover-bg-red-light-400-md {
    &:hover-md {
        background-color: $red-light-400;
    }
}
.hover-bg-red-light-500-md {
    &:hover-md {
        background-color: $red-light-500;
    }
}
.hover-bg-red-light-600-md {
    &:hover-md {
        background-color: $red-light-600;
    }
}

.hover-bg-red-dark-100-md {
    &:hover-md {
        background-color: $red-dark-100;
    }
}
.hover-bg-red-dark-200-md {
    &:hover-md {
        background-color: $red-dark-200;
    }
}
.hover-bg-red-dark-300-md {
    &:hover-md {
        background-color: $red-dark-300;
    }
}
.hover-bg-red-dark-400-md {
    &:hover-md {
        background-color: $red-dark-400;
    }
}
.hover-bg-red-dark-500-md {
    &:hover-md {
        background-color: $red-dark-500;
    }
}
.hover-bg-red-dark-600-md {
    &:hover-md {
        background-color: $red-dark-600;
    }
}

.hover-bg-blue-md {
    &:hover-md {
        background-color: $blue;
    }
}
.hover-bg-blue-light-100-md {
    &:hover-md {
        background-color: $blue-light-100;
    }
}
.hover-bg-blue-light-200-md {
    &:hover-md {
        background-color: $blue-light-200;
    }
}
.hover-bg-blue-light-300-md {
    &:hover-md {
        background-color: $blue-light-300;
    }
}
.hover-bg-blue-light-400-md {
    &:hover-md {
        background-color: $blue-light-400;
    }
}
.hover-bg-blue-light-500-md {
    &:hover-md {
        background-color: $blue-light-500;
    }
}
.hover-bg-blue-light-600-md {
    &:hover-md {
        background-color: $blue-light-600;
    }
}

.hover-bg-blue-dark-100-md {
    &:hover-md {
        background-color: $blue-dark-100;
    }
}
.hover-bg-blue-dark-200-md {
    &:hover-md {
        background-color: $blue-dark-200;
    }
}
.hover-bg-blue-dark-300-md {
    &:hover-md {
        background-color: $blue-dark-300;
    }
}
.hover-bg-blue-dark-400-md {
    &:hover-md {
        background-color: $blue-dark-400;
    }
}
.hover-bg-blue-dark-500-md {
    &:hover-md {
        background-color: $blue-dark-500;
    }
}
.hover-bg-blue-dark-600-md {
    &:hover-md {
        background-color: $blue-dark-600;
    }
}

.hover-bg-brown-md {
    &:hover-md {
        background-color: $brown;
    }
}
.hover-bg-brown-light-100-md {
    &:hover-md {
        background-color: $brown-light-100;
    }
}
.hover-bg-brown-light-200-md {
    &:hover-md {
        background-color: $brown-light-200;
    }
}
.hover-bg-brown-light-300-md {
    &:hover-md {
        background-color: $brown-light-300;
    }
}
.hover-bg-brown-light-400-md {
    &:hover-md {
        background-color: $brown-light-400;
    }
}
.hover-bg-brown-light-500-md {
    &:hover-md {
        background-color: $brown-light-500;
    }
}
.hover-bg-brown-light-600-md {
    &:hover-md {
        background-color: $brown-light-600;
    }
}

.hover-bg-brown-dark-100-md {
    &:hover-md {
        background-color: $brown-dark-100;
    }
}
.hover-bg-brown-dark-200-md {
    &:hover-md {
        background-color: $brown-dark-200;
    }
}
.hover-bg-brown-dark-300-md {
    &:hover-md {
        background-color: $brown-dark-300;
    }
}
.hover-bg-brown-dark-400-md {
    &:hover-md {
        background-color: $brown-dark-400;
    }
}
.hover-bg-brown-dark-500-md {
    &:hover-md {
        background-color: $brown-dark-500;
    }
}
.hover-bg-brown-dark-600-md {
    &:hover-md {
        background-color: $brown-dark-600;
    }
}

.hover-bg-gray-md {
    &:hover-md {
        background-color: $gray;
    }
}
.hover-bg-gray-light-100-md {
    &:hover-md {
        background-color: $gray-light-100;
    }
}
.hover-bg-gray-light-200-md {
    &:hover-md {
        background-color: $gray-light-200;
    }
}
.hover-bg-gray-light-300-md {
    &:hover-md {
        background-color: $gray-light-300;
    }
}
.hover-bg-gray-light-400-md {
    &:hover-md {
        background-color: $gray-light-400;
    }
}
.hover-bg-gray-light-500-md {
    &:hover-md {
        background-color: $gray-light-500;
    }
}
.hover-bg-gray-light-600-md {
    &:hover-md {
        background-color: $gray-light-600;
    }
}

.hover-bg-gray-dark-100-md {
    &:hover-md {
        background-color: $gray-dark-100;
    }
}
.hover-bg-gray-dark-200-md {
    &:hover-md {
        background-color: $gray-dark-200;
    }
}
.hover-bg-gray-dark-300-md {
    &:hover-md {
        background-color: $gray-dark-300;
    }
}
.hover-bg-gray-dark-400-md {
    &:hover-md {
        background-color: $gray-dark-400;
    }
}
.hover-bg-gray-dark-500-md {
    &:hover-md {
        background-color: $gray-dark-500;
    }
}
.hover-bg-gray-dark-600-md {
    &:hover-md {
        background-color: $gray-dark-600;
    }
}

.hover-bg-green-md {
    &:hover-md {
        background-color: $green;
    }
}
.hover-bg-green-light-100-md {
    &:hover-md {
        background-color: $green-light-100;
    }
}
.hover-bg-green-light-200-md {
    &:hover-md {
        background-color: $green-light-200;
    }
}
.hover-bg-green-light-300-md {
    &:hover-md {
        background-color: $green-light-300;
    }
}
.hover-bg-green-light-400-md {
    &:hover-md {
        background-color: $green-light-400;
    }
}
.hover-bg-green-light-500-md {
    &:hover-md {
        background-color: $green-light-500;
    }
}
.hover-bg-green-light-600-md {
    &:hover-md {
        background-color: $green-light-600;
    }
}

.hover-bg-green-dark-100-md {
    &:hover-md {
        background-color: $green-dark-100;
    }
}
.hover-bg-green-dark-200-md {
    &:hover-md {
        background-color: $green-dark-200;
    }
}
.hover-bg-green-dark-300-md {
    &:hover-md {
        background-color: $green-dark-300;
    }
}
.hover-bg-green-dark-400-md {
    &:hover-md {
        background-color: $green-dark-400;
    }
}
.hover-bg-green-dark-500-md {
    &:hover-md {
        background-color: $green-dark-500;
    }
}
.hover-bg-green-dark-600-md {
    &:hover-md {
        background-color: $green-dark-600;
    }
}

.hover-bg-orange-md {
    &:hover-md {
        background-color: $orange;
    }
}
.hover-bg-orange-light-100-md {
    &:hover-md {
        background-color: $orange-light-100;
    }
}
.hover-bg-orange-light-200-md {
    &:hover-md {
        background-color: $orange-light-200;
    }
}
.hover-bg-orange-light-300-md {
    &:hover-md {
        background-color: $orange-light-300;
    }
}
.hover-bg-orange-light-400-md {
    &:hover-md {
        background-color: $orange-light-400;
    }
}
.hover-bg-orange-light-500-md {
    &:hover-md {
        background-color: $orange-light-500;
    }
}
.hover-bg-orange-light-600-md {
    &:hover-md {
        background-color: $orange-light-600;
    }
}

.hover-bg-orange-dark-100-md {
    &:hover-md {
        background-color: $orange-dark-100;
    }
}
.hover-bg-orange-dark-200-md {
    &:hover-md {
        background-color: $orange-dark-200;
    }
}
.hover-bg-orange-dark-300-md {
    &:hover-md {
        background-color: $orange-dark-300;
    }
}
.hover-bg-orange-dark-400-md {
    &:hover-md {
        background-color: $orange-dark-400;
    }
}
.hover-bg-orange-dark-500-md {
    &:hover-md {
        background-color: $orange-dark-500;
    }
}
.hover-bg-orange-dark-600-md {
    &:hover-md {
        background-color: $orange-dark-600;
    }
}

.hover-bg-pink-md {
    &:hover-md {
        background-color: $pink;
    }
}
.hover-bg-pink-light-100-md {
    &:hover-md {
        background-color: $pink-light-100;
    }
}
.hover-bg-pink-light-200-md {
    &:hover-md {
        background-color: $pink-light-200;
    }
}
.hover-bg-pink-light-300-md {
    &:hover-md {
        background-color: $pink-light-300;
    }
}
.hover-bg-pink-light-400-md {
    &:hover-md {
        background-color: $pink-light-400;
    }
}
.hover-bg-pink-light-500-md {
    &:hover-md {
        background-color: $pink-light-500;
    }
}
.hover-bg-pink-light-600-md {
    &:hover-md {
        background-color: $pink-light-600;
    }
}

.hover-bg-pink-dark-100-md {
    &:hover-md {
        background-color: $pink-dark-100;
    }
}
.hover-bg-pink-dark-200-md {
    &:hover-md {
        background-color: $pink-dark-200;
    }
}
.hover-bg-pink-dark-300-md {
    &:hover-md {
        background-color: $pink-dark-300;
    }
}
.hover-bg-pink-dark-400-md {
    &:hover-md {
        background-color: $pink-dark-400;
    }
}
.hover-bg-pink-dark-500-md {
    &:hover-md {
        background-color: $pink-dark-500;
    }
}
.hover-bg-pink-dark-600-md {
    &:hover-md {
        background-color: $pink-dark-600;
    }
}

.hover-bg-purple-md {
    &:hover-md {
        background-color: $purple;
    }
}
.hover-bg-purple-light-100-md {
    &:hover-md {
        background-color: $purple-light-100;
    }
}
.hover-bg-purple-light-200-md {
    &:hover-md {
        background-color: $purple-light-200;
    }
}
.hover-bg-purple-light-300-md {
    &:hover-md {
        background-color: $purple-light-300;
    }
}
.hover-bg-purple-light-400-md {
    &:hover-md {
        background-color: $purple-light-400;
    }
}
.hover-bg-purple-light-500-md {
    &:hover-md {
        background-color: $purple-light-500;
    }
}
.hover-bg-purple-light-600-md {
    &:hover-md {
        background-color: $purple-light-600;
    }
}

.hover-bg-purple-dark-100-md {
    &:hover-md {
        background-color: $purple-dark-100;
    }
}
.hover-bg-purple-dark-200-md {
    &:hover-md {
        background-color: $purple-dark-200;
    }
}
.hover-bg-purple-dark-300-md {
    &:hover-md {
        background-color: $purple-dark-300;
    }
}
.hover-bg-purple-dark-400-md {
    &:hover-md {
        background-color: $purple-dark-400;
    }
}
.hover-bg-purple-dark-500-md {
    &:hover-md {
        background-color: $purple-dark-500;
    }
}
.hover-bg-purple-dark-600-md {
    &:hover-md {
        background-color: $purple-dark-600;
    }
}

.hover-bg-yellow-md {
    &:hover-md {
        background-color: $yellow;
    }
}
.hover-bg-yellow-light-100-md {
    &:hover-md {
        background-color: $yellow-light-100;
    }
}
.hover-bg-yellow-light-200-md {
    &:hover-md {
        background-color: $yellow-light-200;
    }
}
.hover-bg-yellow-light-300-md {
    &:hover-md {
        background-color: $yellow-light-300;
    }
}
.hover-bg-yellow-light-400-md {
    &:hover-md {
        background-color: $yellow-light-400;
    }
}
.hover-bg-yellow-light-500-md {
    &:hover-md {
        background-color: $yellow-light-500;
    }
}
.hover-bg-yellow-light-600-md {
    &:hover-md {
        background-color: $yellow-light-600;
    }
}

.hover-bg-yellow-dark-100-md {
    &:hover-md {
        background-color: $yellow-dark-100;
    }
}
.hover-bg-yellow-dark-200-md {
    &:hover-md {
        background-color: $yellow-dark-200;
    }
}
.hover-bg-yellow-dark-300-md {
    &:hover-md {
        background-color: $yellow-dark-300;
    }
}
.hover-bg-yellow-dark-400-md {
    &:hover-md {
        background-color: $yellow-dark-400;
    }
}
.hover-bg-yellow-dark-500-md {
    &:hover-md {
        background-color: $yellow-dark-500;
    }
}
.hover-bg-yellow-dark-600-md {
    &:hover-md {
        background-color: $yellow-dark-600;
    }
}

// BORDER COLORS

.bc-inherit-md {
    border-color: inherit;
}

.bc-primary-md {
    border-color: $primary;
}
.bc-secondary-md {
    border-color: $secondary;
}
.bc-tertiary-md {
    border-color: $tertiary;
}

.bc-white-md {
    border-color: $white;
}

.bc-black-md {
    border-color: $black;
}

.bc-black-light-100-md {
    border-color: $black-light-100;
}
.bc-black-light-200-md {
    border-color: $black-light-200;
}
.bc-black-light-300-md {
    border-color: $black-light-300;
}
.bc-black-light-400-md {
    border-color: $black-light-400;
}
.bc-black-light-500-md {
    border-color: $black-light-500;
}
.bc-black-light-600-md {
    border-color: $black-light-600;
}

.bc-red-md {
    border-color: $red;
}

.bc-red-light-100-md {
    border-color: $red-light-100;
}
.bc-red-light-200-md {
    border-color: $red-light-200;
}
.bc-red-light-300-md {
    border-color: $red-light-300;
}
.bc-red-light-400-md {
    border-color: $red-light-400;
}
.bc-red-light-500-md {
    border-color: $red-light-500;
}
.bc-red-light-600-md {
    border-color: $red-light-600;
}

.bc-red-dark-100-md {
    border-color: $red-dark-100;
}
.bc-red-dark-200-md {
    border-color: $red-dark-200;
}
.bc-red-dark-300-md {
    border-color: $red-dark-300;
}
.bc-red-dark-400-md {
    border-color: $red-dark-400;
}
.bc-red-dark-500-md {
    border-color: $red-dark-500;
}
.bc-red-dark-600-md {
    border-color: $red-dark-600;
}

.bc-blue-md {
    border-color: $blue;
}

.bc-blue-light-100-md {
    border-color: $blue-light-100;
}
.bc-blue-light-200-md {
    border-color: $blue-light-200;
}
.bc-blue-light-300-md {
    border-color: $blue-light-300;
}
.bc-blue-light-400-md {
    border-color: $blue-light-400;
}
.bc-blue-light-500-md {
    border-color: $blue-light-500;
}
.bc-blue-light-600-md {
    border-color: $blue-light-600;
}

.bc-blue-dark-100-md {
    border-color: $blue-dark-100;
}
.bc-blue-dark-200-md {
    border-color: $blue-dark-200;
}
.bc-blue-dark-300-md {
    border-color: $blue-dark-300;
}
.bc-blue-dark-400-md {
    border-color: $blue-dark-400;
}
.bc-blue-dark-500-md {
    border-color: $blue-dark-500;
}
.bc-blue-dark-600-md {
    border-color: $blue-dark-600;
}

.bc-brown-md {
    border-color: $brown;
}

.bc-brown-light-100-md {
    border-color: $brown-light-100;
}
.bc-brown-light-200-md {
    border-color: $brown-light-200;
}
.bc-brown-light-300-md {
    border-color: $brown-light-300;
}
.bc-brown-light-400-md {
    border-color: $brown-light-400;
}
.bc-brown-light-500-md {
    border-color: $brown-light-500;
}
.bc-brown-light-600-md {
    border-color: $brown-light-600;
}

.bc-brown-dark-100-md {
    border-color: $brown-dark-100;
}
.bc-brown-dark-200-md {
    border-color: $brown-dark-200;
}
.bc-brown-dark-300-md {
    border-color: $brown-dark-300;
}
.bc-brown-dark-400-md {
    border-color: $brown-dark-400;
}
.bc-brown-dark-500-md {
    border-color: $brown-dark-500;
}
.bc-brown-dark-600-md {
    border-color: $brown-dark-600;
}

.bc-gray-md {
    border-color: $gray;
}

.bc-gray-light-100-md {
    border-color: $gray-light-100;
}
.bc-gray-light-200-md {
    border-color: $gray-light-200;
}
.bc-gray-light-300-md {
    border-color: $gray-light-300;
}
.bc-gray-light-400-md {
    border-color: $gray-light-400;
}
.bc-gray-light-500-md {
    border-color: $gray-light-500;
}
.bc-gray-light-600-md {
    border-color: $gray-light-600;
}

.bc-gray-dark-100-md {
    border-color: $gray-dark-100;
}
.bc-gray-dark-200-md {
    border-color: $gray-dark-200;
}
.bc-gray-dark-300-md {
    border-color: $gray-dark-300;
}
.bc-gray-dark-400-md {
    border-color: $gray-dark-400;
}
.bc-gray-dark-500-md {
    border-color: $gray-dark-500;
}
.bc-gray-dark-600-md {
    border-color: $gray-dark-600;
}

.bc-green-md {
    border-color: $green;
}

.bc-green-light-100-md {
    border-color: $green-light-100;
}
.bc-green-light-200-md {
    border-color: $green-light-200;
}
.bc-green-light-300-md {
    border-color: $green-light-300;
}
.bc-green-light-400-md {
    border-color: $green-light-400;
}
.bc-green-light-500-md {
    border-color: $green-light-500;
}
.bc-green-light-600-md {
    border-color: $green-light-600;
}

.bc-green-dark-100-md {
    border-color: $green-dark-100;
}
.bc-green-dark-200-md {
    border-color: $green-dark-200;
}
.bc-green-dark-300-md {
    border-color: $green-dark-300;
}
.bc-green-dark-400-md {
    border-color: $green-dark-400;
}
.bc-green-dark-500-md {
    border-color: $green-dark-500;
}
.bc-green-dark-600-md {
    border-color: $green-dark-600;
}

.bc-orange-md {
    border-color: $orange;
}

.bc-orange-light-100-md {
    border-color: $orange-light-100;
}
.bc-orange-light-200-md {
    border-color: $orange-light-200;
}
.bc-orange-light-300-md {
    border-color: $orange-light-300;
}
.bc-orange-light-400-md {
    border-color: $orange-light-400;
}
.bc-orange-light-500-md {
    border-color: $orange-light-500;
}
.bc-orange-light-600-md {
    border-color: $orange-light-600;
}

.bc-orange-dark-100-md {
    border-color: $orange-dark-100;
}
.bc-orange-dark-200-md {
    border-color: $orange-dark-200;
}
.bc-orange-dark-300-md {
    border-color: $orange-dark-300;
}
.bc-orange-dark-400-md {
    border-color: $orange-dark-400;
}
.bc-orange-dark-500-md {
    border-color: $orange-dark-500;
}
.bc-orange-dark-600-md {
    border-color: $orange-dark-600;
}

.bc-pink-md {
    border-color: $pink;
}

.bc-pink-light-100-md {
    border-color: $pink-light-100;
}
.bc-pink-light-200-md {
    border-color: $pink-light-200;
}
.bc-pink-light-300-md {
    border-color: $pink-light-300;
}
.bc-pink-light-400-md {
    border-color: $pink-light-400;
}
.bc-pink-light-500-md {
    border-color: $pink-light-500;
}
.bc-pink-light-600-md {
    border-color: $pink-light-600;
}

.bc-pink-dark-100-md {
    border-color: $pink-dark-100;
}
.bc-pink-dark-200-md {
    border-color: $pink-dark-200;
}
.bc-pink-dark-300-md {
    border-color: $pink-dark-300;
}
.bc-pink-dark-400-md {
    border-color: $pink-dark-400;
}
.bc-pink-dark-500-md {
    border-color: $pink-dark-500;
}
.bc-pink-dark-600-md {
    border-color: $pink-dark-600;
}

.bc-purple-md {
    border-color: $purple;
}

.bc-purple-light-100-md {
    border-color: $purple-light-100;
}
.bc-purple-light-200-md {
    border-color: $purple-light-200;
}
.bc-purple-light-300-md {
    border-color: $purple-light-300;
}
.bc-purple-light-400-md {
    border-color: $purple-light-400;
}
.bc-purple-light-500-md {
    border-color: $purple-light-500;
}
.bc-purple-light-600-md {
    border-color: $purple-light-600;
}

.bc-purple-dark-100-md {
    border-color: $purple-dark-100;
}
.bc-purple-dark-200-md {
    border-color: $purple-dark-200;
}
.bc-purple-dark-300-md {
    border-color: $purple-dark-300;
}
.bc-purple-dark-400-md {
    border-color: $purple-dark-400;
}
.bc-purple-dark-500-md {
    border-color: $purple-dark-500;
}
.bc-purple-dark-600-md {
    border-color: $purple-dark-600;
}

.bc-yellow-md {
    border-color: $yellow;
}

.bc-yellow-light-100-md {
    border-color: $yellow-light-100;
}
.bc-yellow-light-200-md {
    border-color: $yellow-light-200;
}
.bc-yellow-light-300-md {
    border-color: $yellow-light-300;
}
.bc-yellow-light-400-md {
    border-color: $yellow-light-400;
}
.bc-yellow-light-500-md {
    border-color: $yellow-light-500;
}
.bc-yellow-light-600-md {
    border-color: $yellow-light-600;
}

.bc-yellow-dark-100-md {
    border-color: $yellow-dark-100;
}
.bc-yellow-dark-200-md {
    border-color: $yellow-dark-200;
}
.bc-yellow-dark-300-md {
    border-color: $yellow-dark-300;
}
.bc-yellow-dark-400-md {
    border-color: $yellow-dark-400;
}
.bc-yellow-dark-500-md {
    border-color: $yellow-dark-500;
}
.bc-yellow-dark-600-md {
    border-color: $yellow-dark-600;
}

// PLACEHOLDER COLOR

.placeholder-primary-color-md::placeholder {
    color: var(--primary-color);
}
.placeholder-secondary-color-md::placeholder {
    color: var(--secondary-color);
}
.placeholder-tertiary-color-md::placeholder {
    color: var(--tertiary-color);
}

.placeholder-black-md::placeholder {
    color: $black;
}

.placeholder-black-light-100-md::placeholder {
    color: $black-light-100;
}
.placeholder-black-light-200-md::placeholder {
    color: $black-light-200;
}
.placeholder-black-light-300-md::placeholder {
    color: $black-light-300;
}
.placeholder-black-light-400-md::placeholder {
    color: $black-light-400;
}
.placeholder-black-light-500-md::placeholder {
    color: $black-light-500;
}
.placeholder-black-light-600-md::placeholder {
    color: $black-light-600;
}

.placeholder-red-md::placeholder {
    color: $red;
}

.placeholder-red-light-100-md::placeholder {
    color: $red-light-100;
}
.placeholder-red-light-200-md::placeholder {
    color: $red-light-200;
}
.placeholder-red-light-300-md::placeholder {
    color: $red-light-300;
}
.placeholder-red-light-400-md::placeholder {
    color: $red-light-400;
}
.placeholder-red-light-500-md::placeholder {
    color: $red-light-500;
}
.placeholder-red-light-600-md::placeholder {
    color: $red-light-600;
}

.placeholder-red-dark-100-md::placeholder {
    color: $red-dark-100;
}
.placeholder-red-dark-200-md::placeholder {
    color: $red-dark-200;
}
.placeholder-red-dark-300-md::placeholder {
    color: $red-dark-300;
}
.placeholder-red-dark-400-md::placeholder {
    color: $red-dark-400;
}
.placeholder-red-dark-500-md::placeholder {
    color: $red-dark-500;
}
.placeholder-red-dark-600-md::placeholder {
    color: $red-dark-600;
}

.placeholder-blue-md::placeholder {
    color: $blue;
}

.placeholder-blue-light-100-md::placeholder {
    color: $blue-light-100;
}
.placeholder-blue-light-200-md::placeholder {
    color: $blue-light-200;
}
.placeholder-blue-light-300-md::placeholder {
    color: $blue-light-300;
}
.placeholder-blue-light-400-md::placeholder {
    color: $blue-light-400;
}
.placeholder-blue-light-500-md::placeholder {
    color: $blue-light-500;
}
.placeholder-blue-light-600-md::placeholder {
    color: $blue-light-600;
}

.placeholder-blue-dark-100-md::placeholder {
    color: $blue-dark-100;
}
.placeholder-blue-dark-200-md::placeholder {
    color: $blue-dark-200;
}
.placeholder-blue-dark-300-md::placeholder {
    color: $blue-dark-300;
}
.placeholder-blue-dark-400-md::placeholder {
    color: $blue-dark-400;
}
.placeholder-blue-dark-500-md::placeholder {
    color: $blue-dark-500;
}
.placeholder-blue-dark-600-md::placeholder {
    color: $blue-dark-600;
}

.placeholder-brown-md::placeholder {
    color: $brown;
}

.placeholder-brown-light-100-md::placeholder {
    color: $brown-light-100;
}
.placeholder-brown-light-200-md::placeholder {
    color: $brown-light-200;
}
.placeholder-brown-light-300-md::placeholder {
    color: $brown-light-300;
}
.placeholder-brown-light-400-md::placeholder {
    color: $brown-light-400;
}
.placeholder-brown-light-500-md::placeholder {
    color: $brown-light-500;
}
.placeholder-brown-light-600-md::placeholder {
    color: $brown-light-600;
}

.placeholder-brown-dark-100-md::placeholder {
    color: $brown-dark-100;
}
.placeholder-brown-dark-200-md::placeholder {
    color: $brown-dark-200;
}
.placeholder-brown-dark-300-md::placeholder {
    color: $brown-dark-300;
}
.placeholder-brown-dark-400-md::placeholder {
    color: $brown-dark-400;
}
.placeholder-brown-dark-500-md::placeholder {
    color: $brown-dark-500;
}
.placeholder-brown-dark-600-md::placeholder {
    color: $brown-dark-600;
}

.placeholder-gray-md::placeholder {
    color: $gray;
}

.placeholder-gray-light-100-md::placeholder {
    color: $gray-light-100;
}
.placeholder-gray-light-200-md::placeholder {
    color: $gray-light-200;
}
.placeholder-gray-light-300-md::placeholder {
    color: $gray-light-300;
}
.placeholder-gray-light-400-md::placeholder {
    color: $gray-light-400;
}
.placeholder-gray-light-500-md::placeholder {
    color: $gray-light-500;
}
.placeholder-gray-light-600-md::placeholder {
    color: $gray-light-600;
}

.placeholder-gray-dark-100-md::placeholder {
    color: $gray-dark-100;
}
.placeholder-gray-dark-200-md::placeholder {
    color: $gray-dark-200;
}
.placeholder-gray-dark-300-md::placeholder {
    color: $gray-dark-300;
}
.placeholder-gray-dark-400-md::placeholder {
    color: $gray-dark-400;
}
.placeholder-gray-dark-500-md::placeholder {
    color: $gray-dark-500;
}
.placeholder-gray-dark-600-md::placeholder {
    color: $gray-dark-600;
}

.placeholder-green-md::placeholder {
    color: $green;
}

.placeholder-green-light-100-md::placeholder {
    color: $green-light-100;
}
.placeholder-green-light-200-md::placeholder {
    color: $green-light-200;
}
.placeholder-green-light-300-md::placeholder {
    color: $green-light-300;
}
.placeholder-green-light-400-md::placeholder {
    color: $green-light-400;
}
.placeholder-green-light-500-md::placeholder {
    color: $green-light-500;
}
.placeholder-green-light-600-md::placeholder {
    color: $green-light-600;
}

.placeholder-green-dark-100-md::placeholder {
    color: $green-dark-100;
}
.placeholder-green-dark-200-md::placeholder {
    color: $green-dark-200;
}
.placeholder-green-dark-300-md::placeholder {
    color: $green-dark-300;
}
.placeholder-green-dark-400-md::placeholder {
    color: $green-dark-400;
}
.placeholder-green-dark-500-md::placeholder {
    color: $green-dark-500;
}
.placeholder-green-dark-600-md::placeholder {
    color: $green-dark-600;
}

.placeholder-orange-md::placeholder {
    color: $orange;
}

.placeholder-orange-light-100-md::placeholder {
    color: $orange-light-100;
}
.placeholder-orange-light-200-md::placeholder {
    color: $orange-light-200;
}
.placeholder-orange-light-300-md::placeholder {
    color: $orange-light-300;
}
.placeholder-orange-light-400-md::placeholder {
    color: $orange-light-400;
}
.placeholder-orange-light-500-md::placeholder {
    color: $orange-light-500;
}
.placeholder-orange-light-600-md::placeholder {
    color: $orange-light-600;
}

.placeholder-orange-dark-100-md::placeholder {
    color: $orange-dark-100;
}
.placeholder-orange-dark-200-md::placeholder {
    color: $orange-dark-200;
}
.placeholder-orange-dark-300-md::placeholder {
    color: $orange-dark-300;
}
.placeholder-orange-dark-400-md::placeholder {
    color: $orange-dark-400;
}
.placeholder-orange-dark-500-md::placeholder {
    color: $orange-dark-500;
}
.placeholder-orange-dark-600-md::placeholder {
    color: $orange-dark-600;
}

.placeholder-pink-md::placeholder {
    color: $pink;
}

.placeholder-pink-light-100-md::placeholder {
    color: $pink-light-100;
}
.placeholder-pink-light-200-md::placeholder {
    color: $pink-light-200;
}
.placeholder-pink-light-300-md::placeholder {
    color: $pink-light-300;
}
.placeholder-pink-light-400-md::placeholder {
    color: $pink-light-400;
}
.placeholder-pink-light-500-md::placeholder {
    color: $pink-light-500;
}
.placeholder-pink-light-600-md::placeholder {
    color: $pink-light-600;
}

.placeholder-pink-dark-100-md::placeholder {
    color: $pink-dark-100;
}
.placeholder-pink-dark-200-md::placeholder {
    color: $pink-dark-200;
}
.placeholder-pink-dark-300-md::placeholder {
    color: $pink-dark-300;
}
.placeholder-pink-dark-400-md::placeholder {
    color: $pink-dark-400;
}
.placeholder-pink-dark-500-md::placeholder {
    color: $pink-dark-500;
}
.placeholder-pink-dark-600-md::placeholder {
    color: $pink-dark-600;
}

.placeholder-purple-md::placeholder {
    color: $purple;
}

.placeholder-purple-light-100-md::placeholder {
    color: $purple-light-100;
}
.placeholder-purple-light-200-md::placeholder {
    color: $purple-light-200;
}
.placeholder-purple-light-300-md::placeholder {
    color: $purple-light-300;
}
.placeholder-purple-light-400-md::placeholder {
    color: $purple-light-400;
}
.placeholder-purple-light-500-md::placeholder {
    color: $purple-light-500;
}
.placeholder-purple-light-600-md::placeholder {
    color: $purple-light-600;
}

.placeholder-purple-dark-100-md::placeholder {
    color: $purple-dark-100;
}
.placeholder-purple-dark-200-md::placeholder {
    color: $purple-dark-200;
}
.placeholder-purple-dark-300-md::placeholder {
    color: $purple-dark-300;
}
.placeholder-purple-dark-400-md::placeholder {
    color: $purple-dark-400;
}
.placeholder-purple-dark-500-md::placeholder {
    color: $purple-dark-500;
}
.placeholder-purple-dark-600-md::placeholder {
    color: $purple-dark-600;
}

.placeholder-yellow-md::placeholder {
    color: $yellow;
}

.placeholder-yellow-light-100-md::placeholder {
    color: $yellow-light-100;
}
.placeholder-yellow-light-200-md::placeholder {
    color: $yellow-light-200;
}
.placeholder-yellow-light-300-md::placeholder {
    color: $yellow-light-300;
}
.placeholder-yellow-light-400-md::placeholder {
    color: $yellow-light-400;
}
.placeholder-yellow-light-500-md::placeholder {
    color: $yellow-light-500;
}
.placeholder-yellow-light-600-md::placeholder {
    color: $yellow-light-600;
}

.placeholder-yellow-dark-100-md::placeholder {
    color: $yellow-dark-100;
}
.placeholder-yellow-dark-200-md::placeholder {
    color: $yellow-dark-200;
}
.placeholder-yellow-dark-300-md::placeholder {
    color: $yellow-dark-300;
}
.placeholder-yellow-dark-400-md::placeholder {
    color: $yellow-dark-400;
}
.placeholder-yellow-dark-500-md::placeholder {
    color: $yellow-dark-500;
}
.placeholder-yellow-dark-600-md::placeholder {
    color: $yellow-dark-600;
}
