// DISPLAY GRID
.dg-md {
    display: grid;
}

/* gaps */

.gap1-md {
    gap: $px8;
}
.gap2-md {
    gap: $px16;
}
.gap3-md {
    gap: $px24;
}
.gap4-md {
    gap: $px32;
}
.gap5-md {
    gap: $px40;
}
.gap6-md {
    gap: $px48;
}
.gap7-md {
    gap: $px56;
}
.gap8-md {
    gap: $px64;
}

.rg1-md {
    row-gap: $px8;
}
.rg2-md {
    row-gap: $px16;
}
.rg3-md {
    row-gap: $px24;
}
.rg4-md {
    row-gap: $px32;
}
.rg5-md {
    row-gap: $px40;
}
.rg6-md {
    row-gap: $px48;
}
.rg7-md {
    row-gap: $px56;
}
.rg8-md {
    row-gap: $px64;
}

.cg1-md {
    column-gap: $px8;
}
.cg2-md {
    column-gap: $px16;
}
.cg3-md {
    column-gap: $px24;
}
.cg4-md {
    column-gap: $px32;
}
.cg5-md {
    column-gap: $px40;
}
.cg6-md {
    column-gap: $px48;
}
.cg7-md {
    column-gap: $px56;
}
.cg8-md {
    column-gap: $px64;
}

.gtc1-md {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.gtc2-md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.gtc3-md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.gtc4-md {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.gtc5-md {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.gtc6-md {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.gtc7-md {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.gtc8-md {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.gtc9-md {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}
.gtc10-md {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.gtc11-md {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.gtc12-md {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.gtcn-md {
    grid-template-columns: none;
}

.gtr1-md {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}
.gtr2-md {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.gtr3-md {
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.gtr4-md {
    grid-template-rows: repeat(4, minmax(0, 1fr));
}
.gtr5-md {
    grid-template-rows: repeat(5, minmax(0, 1fr));
}
.gtr6-md {
    grid-template-rows: repeat(6, minmax(0, 1fr));
}
.gtr7-md {
    grid-template-rows: repeat(7, minmax(0, 1fr));
}
.gtr8-md {
    grid-template-rows: repeat(8, minmax(0, 1fr));
}
.gtr9-md {
    grid-template-rows: repeat(9, minmax(0, 1fr));
}
.gtr10-md {
    grid-template-rows: repeat(10, minmax(0, 1fr));
}
.gtr11-md {
    grid-template-rows: repeat(11, minmax(0, 1fr));
}
.gtr12-md {
    grid-template-rows: repeat(12, minmax(0, 1fr));
}
.gtrn-md {
    grid-template-rows: none;
}

/* grid columns */
.gca-md {
    grid-column: auto;
}
.gc1-md {
    grid-column: span 1 / span 1;
}

.gc2-md {
    grid-column: span 2 / span 2;
}

.gc3-md {
    grid-column: span 3 / span 3;
}

.gc4-md {
    grid-column: span 4 / span 4;
}

.gc5-md {
    grid-column: span 5 / span 5;
}

.gc6-md {
    grid-column: span 6 / span 6;
}

.gc7-md {
    grid-column: span 7 / span 7;
}

.gc8-md {
    grid-column: span 8 / span 8;
}

.gc9-md {
    grid-column: span 9 / span 9;
}

.gc10-md {
    grid-column: span 10 / span 10;
}

.gc11-md {
    grid-column: span 11 / span 11;
}
.gc12-md {
    grid-column: span 12 / span 12;
}

.gcs1-md {
    grid-column-start: 1;
}
.gcs2-md {
    grid-column-start: 2;
}
.gcs3-md {
    grid-column-start: 3;
}
.gcs4-md {
    grid-column-start: 4;
}
.gcs5-md {
    grid-column-start: 5;
}
.gcs6-md {
    grid-column-start: 6;
}
.gcs7-md {
    grid-column-start: 7;
}
.gcs8-md {
    grid-column-start: 8;
}
.gcs9-md {
    grid-column-start: 9;
}
.gcs10-md {
    grid-column-start: 10;
}
.gcs11-md {
    grid-column-start: 11;
}
.gcs12-md {
    grid-column-start: 12;
}

.gcsa-md {
    grid-column-start: auto;
}

.gce1-md {
    grid-column-end: 1;
}
.gce2-md {
    grid-column-end: 2;
}
.gce3-md {
    grid-column-end: 3;
}
.gce4-md {
    grid-column-end: 4;
}
.gce5-md {
    grid-column-end: 5;
}
.gce6-md {
    grid-column-end: 6;
}
.gce7-md {
    grid-column-end: 7;
}
.gce8-md {
    grid-column-end: 8;
}
.gce9-md {
    grid-column-end: 9;
}
.gce10-md {
    grid-column-end: 10;
}
.gce11-md {
    grid-column-end: 11;
}
.gce12-md {
    grid-column-end: 12;
}

.gcea-md {
    grid-column-end: auto;
}

.gra-md {
    grid-row: auto;
}
.gr1-md {
    grid-row: span 1 / span 1;
}

.gr2-md {
    grid-row: span 2 / span 2;
}

.gr3-md {
    grid-row: span 3 / span 3;
}

.gr4-md {
    grid-row: span 4 / span 4;
}

.gr5-md {
    grid-row: span 5 / span 5;
}

.gr6-md {
    grid-row: span 6 / span 6;
}

.gr7-md {
    grid-row: span 7 / span 7;
}

.gr8-md {
    grid-row: span 8 / span 8;
}

.gr9-md {
    grid-row: span 9 / span 9;
}

.gr10-md {
    grid-row: span 10 / span 10;
}

.gr11-md {
    grid-row: span 11 / span 11;
}
.gr12-md {
    grid-row: span 12 / span 12;
}

.grs1-md {
    grid-row-start: 1;
}
.grs2-md {
    grid-row-start: 2;
}
.grs3-md {
    grid-row-start: 3;
}
.grs4-md {
    grid-row-start: 4;
}
.grs5-md {
    grid-row-start: 5;
}
.grs6-md {
    grid-row-start: 6;
}
.grs7-md {
    grid-row-start: 7;
}
.grs8-md {
    grid-row-start: 8;
}
.grs9-md {
    grid-row-start: 9;
}
.grs10-md {
    grid-row-start: 10;
}
.grs11-md {
    grid-row-start: 11;
}
.grs12-md {
    grid-row-start: 12;
}

.grsa-md {
    grid-row-start: auto;
}

.gre1-md {
    grid-row-end: 1;
}
.gre2-md {
    grid-row-end: 2;
}
.gre3-md {
    grid-row-end: 3;
}
.gre4-md {
    grid-row-end: 4;
}
.gre5-md {
    grid-row-end: 5;
}
.gre6-md {
    grid-row-end: 6;
}
.gre7-md {
    grid-row-end: 7;
}
.gre8-md {
    grid-row-end: 8;
}
.gre9-md {
    grid-row-end: 9;
}
.gre10-md {
    grid-row-end: 10;
}
.gre11-md {
    grid-row-end: 11;
}
.gre12-md {
    grid-row-end: 12;
}

.grea-md {
    grid-row-end: auto;
}

.gafr-md {
    grid-auto-flow: row;
}
.gafc-md {
    grid-auto-flow: column;
}
.gafrd-md {
    grid-auto-flow: row dense;
}
.gafcd-md {
    grid-auto-flow: column dense;
}
