.fs-i-md {
    font-size: inherit;
}

.fs8-md {
    font-size: $px8;
}
.fs12-md {
    font-size: $px12;
}
.fs14-md {
    font-size: $px14;
}
.fs16-md {
    font-size: $px16;
}
.fs18-md {
    font-size: $px18;
}
.fs24-md {
    font-size: $px24;
}
.fs32-md {
    font-size: $px32;
}
.fs40-md {
    font-size: $px40;
}
.fs48-md {
    font-size: $px48;
}
.fs56-md {
    font-size: $px56;
}
.fs64-md {
    font-size: $px64;
}
