.fs-i-md {
    font-size: inherit;
}

.fs-custom-md {
    font-size: var(--font-custom-size-md);
}
.fs-custom2-md {
    font-size: var(--font-custom-size2-md);
}
.fs-custom3-md {
    font-size: var(--font-custom-size3-md);
}

.fs8-md {
    font-size: $fs8;
}
.fs12-md {
    font-size: $fs12;
}
.fs14-md {
    font-size: $fs14;
}
.fs16-md {
    font-size: $fs16;
}
.fs18-md {
    font-size: $fs18;
}
.fs24-md {
    font-size: $fs24;
}
.fs32-md {
    font-size: $fs32;
}
.fs40-md {
    font-size: $fs40;
}
.fs48-md {
    font-size: $fs48;
}
.fs56-md {
    font-size: $fs56;
}
.fs64-md {
    font-size: $fs64;
}
.fs80-md {
    font-size: $fs80;
}
.fs100-md {
    font-size: $fs100;
}
