.fs-i-md {
    font-size: inherit;
}
.fs12-md {
    font-size: 0.75rem;
}
.fs14-md {
    font-size: 0.875rem;
}
.fs16-md {
    font-size: 1rem;
}
.fs18-md {
    font-size: 1.125rem;
}
.fs24-md {
    font-size: 1.5rem;
}
.fs32-md {
    font-size: 2rem;
}
.fs48-md {
    font-size: 3rem;
}
.fs64-md {
    font-size: 4rem;
}
