.fwn-md {
    font-weight: normal;
}
.fw100-md {
    font-weight: 100;
}
.fw200-md {
    font-weight: 200;
}
.fw300-md {
    font-weight: 300;
}
.fw400-md {
    font-weight: 400;
}
.fw500-md {
    font-weight: 500;
}
.fw600-md {
    font-weight: 600;
}
.fw700-md {
    font-weight: 700;
}
.fw800-md {
    font-weight: 800;
}
.fw900-md {
    font-weight: 900;
}

.fwb-md {
    font-weight: bold;
}
