.h8-md {
    height: $px8;
}
.h16-md {
    height: $px16;
}
.h24-md {
    height: $px24;
}
.h32-md {
    height: $px32;
}
.h40-md {
    height: $px40;
}
.h48-md {
    height: $px48;
}
.h56-md {
    height: $px56;
}
.h64-md {
    height: $px64;
}

.hfull-md {
    height: 100%;
}
