.h0-md {
  height: 0;
}
.h8-md {
  height: 8px;
}
.h16-md {
  height: 16px;
}
.h24-md {
  height: 24px;
}
.h32-md {
  height: 32px;
}
.h40-md {
  height: 40px;
}
.h48-md {
  height: 48px;
}
.h56-md {
  height: 56px;
}
.h64-md {
  height: 64px;
}
.h72-md {
  height: 72px;
}
.h80-md {
  height: 80px;
}
.h100-md {
  height: 100px;
}

.hfull-md {
  height: 100%;
}
.ha-md {
  height: auto;
}

.h100vh-md {
  height: 100vh;
}
