.ls1-md {
  letter-spacing: 0.5008px;
}
.ls2-md {
  letter-spacing: 0.0625rem;
}
.ls3-md {
  letter-spacing: 0.125rem;
}
.ls4-md {
  letter-spacing: 0.1875rem;
}
.ls5-md {
  letter-spacing: 0.25rem;
}
