.minh0-md {
    min-height: 0;
}

.minhfull-md {
    min-height: 100%;
}

.minh100vh-md {
    min-height: 100vh;
}

.maxhfull-md {
    max-height: 100%;
}
.maxh100vh-md {
    max-height: 100vh;
}

.minw0-md {
    min-width: 0;
}

.minwfull-md {
    min-width: 100%;
}
.maxwfull-md {
    max-width: 100%;
}

.mw50\%-md {
    max-width: 50%;
}
.mw33\%-md {
    max-width: 33.33333333333333%;
}
