.cc1-md {
    column-count: 1;
}
.cc2-md {
    column-count: 2;
}
.cc3-md {
    column-count: 3;
}
.cc4-md {
    column-count: 4;
}
.cc5-md {
    column-count: 5;
}
.cc6-md {
    column-count: 6;
}
.cc7-md {
    column-count: 7;
}
.cc8-md {
    column-count: 8;
}
.cc9-md {
    column-count: 9;
}
.cc10-md {
    column-count: 10;
}
.cc11-md {
    column-count: 11;
}
.cc12-md {
    column-count: 12;
}

.caa-md {
    column-span: all;
}
