.opt-md {
    object-position: top;
}
.opb-md {
    object-position: bottom;
}
.opl-md {
    object-position: left;
}
.opr-md {
    object-position: right;
}
.opc-md {
    object-position: center;
}

.oplb-md {
    object-position: left bottom;
}
.oplt-md {
    object-position: left top;
}
.oprb-md {
    object-position: right bottom;
}
.oprt-md {
    object-position: right top;
}
