.oa-md {
    overflow: auto;
}
.oh-md {
    overflow: hidden;
}
.ov-md {
    overflow: visible;
}
.os-md {
    overflow: scroll;
}
.oxa-md {
    overflow-x: auto;
}
.oya-md {
    overflow-y: auto;
}
.oxh-md {
    overflow-x: hidden;
}
.oyh-md {
    overflow-y: hidden;
}
.oxv-md {
    overflow-x: visible;
}
.oyv-md {
    overflow-y: visible;
}
.oxs-md {
    overflow-x: scroll;
}
.oys-md {
    overflow-y: scroll;
}
