.oba-md {
    overscroll-behavior: auto;
}
.obc-md {
    overscroll-behavior: contain;
}
.obn-md {
    overscroll-behavior: none;
}
.obya-md {
    overscroll-behavior-y: auto;
}
.obyc-md {
    overscroll-behavior-y: contain;
}
.obyn-md {
    overscroll-behavior-y: none;
}
.obxa-md {
    overscroll-behavior-x: auto;
}
.obxc-md {
    overscroll-behavior-x: contain;
}
.obxn-md {
    overscroll-behavior-x: none;
}
