.pxa-md {
    padding-left: auto;
    padding-right: auto;
}
.pla-md {
    padding-left: auto;
}
.pra-md {
    padding-right: auto;
}
.p0-md {
    padding: 0;
}
.p1-md {
    padding: $px8;
}
.p2-md {
    padding: $px16;
}
.p3-md {
    padding: $px24;
}
.p4-md {
    padding: $px32;
}
.p5-md {
    padding: $px40;
}
.p6-md {
    padding: $px48;
}
.p7-md {
    padding: $px56;
}
.p8-md {
    padding: $px64;
}
.py0-md {
    padding-top: 0;
    padding-bottom: 0;
}
.py1-md {
    padding-top: $px8;
    padding-bottom: $px8;
}
.py2-md {
    padding-top: $px16;
    padding-bottom: $px16;
}
.py3-md {
    padding-top: $px24;
    padding-bottom: $px24;
}
.py4-md {
    padding-top: $px32;
    padding-bottom: $px32;
}
.py5-md {
    padding-top: $px40;
    padding-bottom: $px40;
}
.py6-md {
    padding-top: $px48;
    padding-bottom: $px48;
}
.py7-md {
    padding-top: $px56;
    padding-bottom: $px56;
}
.py8-md {
    padding-top: $px64;
    padding-bottom: $px64;
}

.px0-md {
    padding-left: 0;
    padding-right: 0;
}
.px1-md {
    padding-left: $px8;
    padding-right: $px8;
}
.px2-md {
    padding-left: $px16;
    padding-right: $px16;
}
.px3-md {
    padding-left: $px24;
    padding-right: $px24;
}
.px4-md {
    padding-left: $px32;
    padding-right: $px32;
}
.px5-md {
    padding-left: $px40;
    padding-right: $px40;
}
.px6-md {
    padding-left: $px48;
    padding-right: $px48;
}
.px7-md {
    padding-left: $px56;
    padding-right: $px56;
}
.px8-md {
    padding-left: $px64;
    padding-right: $px64;
}

.pt0-md {
    padding-top: 0;
}
.pt1-md {
    padding-top: $px8;
}
.pt2-md {
    padding-top: $px16;
}
.pt3-md {
    padding-top: $px24;
}
.pt4-md {
    padding-top: $px32;
}
.pt5-md {
    padding-top: $px40;
}
.pt6-md {
    padding-top: $px48;
}
.pt7-md {
    padding-top: $px56;
}
.pt8-md {
    padding-top: $px64;
}

.pr0-md {
    padding-right: 0;
}
.pr1-md {
    padding-right: $px8;
}
.pr2-md {
    padding-right: $px16;
}
.pr3-md {
    padding-right: $px24;
}
.pr4-md {
    padding-right: $px32;
}
.pr5-md {
    padding-right: $px40;
}
.pr6-md {
    padding-right: $px48;
}
.pr7-md {
    padding-right: $px56;
}
.pr8-md {
    padding-right: $px64;
}

.pb0-md {
    padding-bottom: 0;
}
.pb1-md {
    padding-bottom: $px8;
}
.pb2-md {
    padding-bottom: $px16;
}
.pb3-md {
    padding-bottom: $px24;
}
.pb4-md {
    padding-bottom: $px32;
}
.pb5-md {
    padding-bottom: $px40;
}
.pb6-md {
    padding-bottom: $px48;
}
.pb7-md {
    padding-bottom: $px56;
}
.pb8-md {
    padding-bottom: $px64;
}

.pl0-md {
    padding-left: 0;
}
.pl1-md {
    padding-left: $px8;
}
.pl2-md {
    padding-left: $px16;
}
.pl3-md {
    padding-left: $px24;
}
.pl4-md {
    padding-left: $px32;
}
.pl5-md {
    padding-left: $px40;
}
.pl6-md {
    padding-left: $px48;
}
.pl7-md {
    padding-left: $px56;
}
.pl8-md {
    padding-left: $px64;
}
