.tal-md {
    text-align: left;
}
.tac-md {
    text-align: center;
}
.tar-md {
    text-align: right;
}
.taj-md {
    text-align: justify;
}
.talc-md {
    text-align-last: center;
}
.talr-md {
    text-align-last: right;
}
