.w8-md {
    width: 8px;
}
.w16-md {
    width: 16px;
}
.w24-md {
    width: 24px;
}
.w32-md {
    width: 32px;
}
.w40-md {
    width: 40px;
}
.w48-md {
    width: 48px;
}
.w56-md {
    width: 56px;
}
.w64-md {
    width: 64px;
}
.w72-md {
    width: 72px;
}
.w80-md {
    width: 80px;
}
.w100-md {
    width: 100px;
}

.wfull-md {
    width: 100%;
}
.wa-md {
    width: auto;
}
