.w8-md {
    width: $px8;
}
.w16-md {
    width: $px16;
}
.w24-md {
    width: $px24;
}
.w32-md {
    width: $px32;
}
.w40-md {
    width: $px40;
}
.w48-md {
    width: $px48;
}
.w56-md {
    width: $px56;
}
.w64-md {
    width: $px64;
}
.w80-md {
    width: $px80;
}
.wfull-md {
    width: 100%;
}
.wa-md {
    width: auto;
}
